@if $theme == dark {
  // texts
  $text-color-strong: #fff;
  $text-color: #ddd;
  $text-color-light: rgba(221, 221, 221, .8);

  $bg-admin: #070b1f;


  $color-primary: #769aff;

  // nav
  $nav-color: $text-color;
  $nav-color-ex: $text-color-strong;

  // navbar
  $bg-nav: #070b1f;
  $color-nav-primary: $text-color-strong;
  $color-nav-primary-ex: $color-primary;
  $color-nav: $text-color;
  $color-nav-ex: $text-color-strong;
  $color-nav-disabled: #959595;

  // select
  $select-color: $text-color;
  $select-bg: #282d47;

  // table
  $table-bg: #070b1f;
  $table-border: inset 0 -1px #181928;

  body {
    color: $text-color;
  }
}
