@if $theme == dark {
  // texts
  $text-color-strong: #fff;
  $text-color: #ddd;
  $text-color-light: rgba(221, 221, 221, .8);

  $bg-admin: #070b1f;

  $color-primary: #88a8ff;
  $bg-primary: #3b5dbd;

  $txt-color-primary: $color-primary;
  $txt-color-secondary: #aaa;
  $txt-color-danger: #ff4e99;
  $txt-color-warn: #f39401;
  $txt-color-success: #85d996;

  $color-txt-type0: #b8bee1;
  $color-txt-type1: #80bfb2;
  $color-txt-type2: #909aff;
  $color-txt-type3: #74bdff;
  $color-txt-type4: #97bde5;

  $color-anchor: $color-primary;
  $color-anchor-ex: lighten($color-primary, 10%);

  $color-muted: $text-color-light;

  $bg-secondary: #f00;

  // nav
  $nav-color: $text-color;
  $nav-color-ex: $text-color-strong;

  // navbar
  $bg-nav: #070b1f;
  $color-nav-primary: $text-color-strong;
  $color-nav-primary-ex: $color-primary;
  $color-nav: $text-color;
  $color-nav-ex: $text-color-strong;
  $color-nav-disabled: #959595;

  // select
  $select-color: $text-color;
  $select-bg: #282d47;

  // table
  $table-bg: #070b1f;
  $table-border: inset 0 -1px #181928;
  $table-th-color: $text-color-light;
  $table-td-color: $text-color;

  // form
  $control-bg: #2b2f40;
  $control-color: #fff;
  $control-disabled-bg: #2b2f40;
  $control-disabled-color: #888;

  $form-check-disabled-color: #888;

  // tag
  $bg-tag-primary: $color-primary;
  $bg-tag-secondary: #9a7bf7;
  $bg-tag-success: $bg-success;
  $bg-tag-danger: $txt-color-danger;
  $bg-tag-warn: $txt-color-warn;
  $bg-tag-info: $bg-info;
  $bg-tag-light: #fff;
  $bg-tag-dark: #aaa;
  $bg-tag-type1: #159f84;
  $bg-tag-type2: #b37082;
  $bg-tag-type3: #e15dd8;

  $color-tag-danger-ex: #fff;
  $bg-tag-danger-ex: $txt-color-danger;

  // alerts
  $alert-bg-primary: transparent;
  $alert-border-primary: $color-primary;
  $alert-color-primary: $color-primary;
  $alert-color-link-primary: #c3d1ff;
  $alert-color-hr-primary: $color-primary;

  $alert-bg-secondary: transparent;
  $alert-border-secondary: #76ffcb;
  $alert-color-secondary: #76ffcb;
  $alert-color-link-secondary: #76ffcb;
  $alert-color-hr-secondary: #76ffcb;

  $alert-bg-warn: transparent;
  $alert-border-warn: $txt-color-warn;
  $alert-color-warn: $txt-color-warn;
  $alert-color-link-warn: $txt-color-warn;
  $alert-color-hr-warn: $txt-color-warn;

  $alert-bg-danger: transparent;
  $alert-border-danger: $txt-color-danger;
  $alert-color-danger: $txt-color-danger;
  $alert-color-link-danger: $txt-color-danger;
  $alert-color-hr-danger: $txt-color-danger;

  // buttons
  $default-btn-bg: #333956;
  $badge-bg: #181c2f;

  // classname
  // bg
  // color
  // bg-ex
  // bg-disabled
  // badge-bg
  // badge-color
  $btn-primary:
    'btn-primary',
    $bg-primary,
    #fff,
    lighten(#3b5dbd, 10%),
    #697baf,
    #243e87,
    #fff;

  $btn-secondary:
    'btn-secondary',
     #333956,
     $color-primary,
     lighten(#333956, 10%),
     #474954,
     #181c2f,
     $color-primary;

  $btn-warn:
    'btn-warn',
    #b36000,
    #fff,
    lighten(#b36000, 10%),
    #7e5e39,
    #834809,
    #fff;

  $btn-danger:
    'btn-danger',
    #cd3d64,
    #fff,
    #ef6a8e,
    #743b4a,
    #8d203d,
    #fff;

  $btn-border: #262b45;
  $btn-link-border: $color-primary;

  // color, color-ex, color-disabled
  $btn-link: $color-primary, lighten($color-primary, 10%), #aaa;

  $ripple-bg: #000;

  // badges
  // classname,         bg,       color
  $badges:
    ('badge-primary',   #3b5dbd,  $text-color),
    ('badge-secondary', #333956,  $color-primary),
    ('badge-success',   #1a343a,  $text-color),
    ('badge-danger',    #581927,  $text-color),
    ('badge-warn',      #b36000,  $text-color),
    ('badge-info',      #1e5d72,  $text-color),
    ('badge-type1',     #8b438d,  $text-color),
    ('badge-type2',     #fdd85f,  #3c4c68),
    ('badge-dark',      #000,     $text-color),
    ('badge-light',     #f8f9fa,  #555);

  // breadcrumb
  $breadcrumb-color: $text-color;
  $breadcrumb-color-ex: $color-primary;

  // card
  $card-bg: #282d47;
  $card-color: $text-color;
  $list-group-bg: #282d47;
  $card-border: rgba(255, 255, 255, .2);

  $blockquote-footer-color: $text-color-light;

  $nav-link-bg: #333956;
  $nav-link-color: $text-color;

  $bg-outline: rgba(255, 255, 255, .8);
  $focus-outline: 0 0 0 1px rgba(255, 255, 255, .8);

  // select
  $select-shadow:
    0 2px 5px 0 rgba(255, 255, 255, .12);
  $select-outline-shadow:
    0 0 0 1px rgba(255, 255, 255, .16);
  $select-outline-strong-shadow:
    0 1px 1px 0 rgba(255, 255, 255, .12),
    0 0 0 1px rgba(255, 255, 255, .16),
    0 2px 5px 0 rgba(255, 255, 255, .12);

  // dropdown
  $dropdown-menu-bg: #2b2e3c;
  $dropdown-menu-bg-ex: lighten(#2b2e3c, 10%);
  $dropdown-menu-color: $text-color;
  $dropdown-menu-shadow: 0 0 0 1px rgba(0, 0, 0, .1),
    0 15px 35px 0 rgba(0, 0, 0, .1),
    0 5px 15px 0 rgba(0, 0, 0, .08);

  $dropdown-divider-border: rgba(255, 255, 255, .2);
  $dropdown-menu-title-bg: #232532;

  $checkbox-bg: $control-bg;
  $checkbox-bg-ex: #6772e5;
  $checkbox-disabled-bg: #858585;
  $radio-disabled-bg: #858585;

  $switch-bg: #3b3f4c;
  $switch-bg-ex: rgba(103, 114, 229, .3);
  $switch-knob-bg: #a3a3a3;
  $switch-knob-bg-ex: #6772e5;

  $date-menu-bg: #2b2e3c;
  $date-menu-cell-bg: lighten($date-menu-bg, 5%);
  $date-menu-cell-border: $date-menu-cell-bg;
  $date-menu-cell-today-bg: #28557c;
  $date-menu-cell-selected-bg: #516bb7;
  $date-menu-cell-selected-border: #516bb7;
  $date-menu-cell-selected-ex-bg: #3f4f9b;
  $date-menu-cell-selected-ex-border: #3f4f9b;

  $date-menu-caption-color: $text-color-strong;
  $date-menu-week-header-color: #9da8b9;

  $time-menu-bg: #2b2e3c;
  $time-menu-bg-hover: darken($time-menu-bg, 7%);
  $time-menu-bg-active: darken($time-menu-bg-hover, 7%);

  // pagination
  $page-color: $text-color;
  $page-active-bg: #3c4258;
  $page-active-color: #fff;
  $page-hover-bg: darken($page-active-bg, 7%);
  $page-hover-color: #fff;

  body {
    color: $text-color;
  }
  .btn .badge {
    background: #000;
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, .1);
  }
}
