.bg-admin {
  background-color: $bg-admin !important;
}

.bg-content {
  background-color: #f7fafc !important;
  box-shadow: 0 -1px 3px 0 rgba(227, 232, 238, 1),
    0 1px 3px 0 rgba(227, 232, 238, 1);
}

.bg-primary {
  background-color: $bg-primary !important;
}
.bg-primary-ex {
  background-color: $bg-primary-ex !important;
}
.bg-primary-ex2 {
  background-color: $bg-primary-ex2 !important;
}

.bg-secondary {
  background-color: #6f6f6f !important;
}
.bg-secondary-ex {
  background-color: $bg-secondary-ex !important;
}
.bg-secondary-ex2 {
  background-color: $bg-secondary-ex2 !important;
}

.bg-success {
  background-color: $bg-success !important;
}
.bg-success-ex {
  background-color: $bg-success-ex !important;
}
.bg-success-ex2 {
  background-color: $bg-success-ex2 !important;
}

.bg-danger {
  background-color: $bg-danger !important;
}
.bg-danger-ex {
  background-color: $bg-danger-ex !important;
}
.bg-danger-ex2 {
  background-color: $bg-danger-ex2 !important;
}

.bg-warn,
.bg-warning {
  background-color: $bg-warn !important;
}
.bg-warn-ex,
.bg-warning-ex {
  background-color: $bg-warn-ex !important;
}
.bg-warn-ex2,
.bg-warning-ex2 {
  background-color: $bg-warn-ex2 !important;
}

.bg-info {
  background-color: $bg-info !important;
}
.bg-info-ex {
  background-color: $bg-info-ex !important;
}
.bg-info-ex2 {
  background-color: $bg-info-ex2 !important;
}

.bg-type1 {
  background-color: $bg-type1 !important;
}
.bg-type1-ex {
  background-color: $bg-type1-ex !important;
}
.bg-type1-ex2 {
  background-color: $bg-type1-ex2 !important;
}

.bg-type2 {
  background-color: $bg-type2 !important;
}
.bg-type2-ex {
  background-color: $bg-type2-ex !important;
}
.bg-type2-ex2 {
  background-color: $bg-type2-ex2 !important;
}

.bg-light {
  background-color: $bg-light !important;
}
.bg-light-ex {
  background-color: $bg-light-ex !important;
}
.bg-light-ex2 {
  background-color: $bg-light-ex2 !important;
}

.bg-dark {
  background-color: $bg-dark !important;
}
.bg-dark-ex {
  background-color: $bg-dark-ex !important;
}
.bg-dark-ex2 {
  background-color: $bg-dark-ex2 !important;
}

.bg-disabled {
  background-color: #f1f1f1 !important;
}
