h1, h2, h3, h4, h5, h6 {
  color: #32325d;
  font-weight: 400;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

@media (max-width: $screen-xs) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
}

.txt-num {
  font-family: 'Roboto', sans-serif;
}

.txt-order-id,
a.txt-order-id,
a.txt-order-id:hover {
  font-family: 'Roboto', sans-serif;
  color: $color-order-id;
}
a.txt-order-id:hover {
  border-bottom: 1px solid $color-order-id;
}

.txt-consignment-no,
a.txt-consignment-no,
a.txt-consignment-no:hover {
  font-family: Arial;
  color: $color-consignment-no;
}
a.txt-consignment-no:hover {
  border-bottom: 1px solid $color-consignment-no;
}

.txt-xdelivery-id,
a.txt-xdelivery-id,
a.txt-xdelivery-id:hover {
  font-family: "PingFang TC";
  color: $color-xdelivery-id;
}
a.txt-xdelivery-id:hover {
  border-bottom: 1px solid $color-xdelivery-id;
}

.txt-sticky-nickname,
a.txt-sticky-nickname,
a.txt-sticky-nickname:hover {
  font-family: "Helvetica Neue";
  color: $color-sticky-nickname;
  font-weight: 900;
}
a.txt-sticky-nickname:hover {
  border-bottom: 1px solid $color-sticky-nickname;
}

.txt-money,
a.txt-money,
a.txt-money:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: $color-money;
}
a.txt-money:hover {
  border-bottom: 1px solid $color-money;
}

.txt-receiver,
a.txt-receiver,
a.txt-receiver:hover {
  font-family: "PingFang TC";
  color: $color-receiver;
}
a.txt-receiver:hover {
  border-bottom: 1px solid $color-receiver;
}

.txt-ip,
a.txt-ip,
a.txt-ip:hover {
  font-family: 'Roboto', sans-serif;
  color: $color-ip;
}
a.txt-ip:hover {
  border-bottom: 1px solid $color-ip;
}

.txt-invoice-no,
a.txt-invoice-no,
a.txt-invoice-no:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: $color-invoice-no;
}
a.txt-invoice-no:hover {
  border-bottom: 1px solid $color-invoice-no;
}

.txt-part-no,
a.txt-part-no,
a.txt-part-no:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: $color-part-no;
}
a.txt-part-no:hover {
  border-bottom: 1px solid $color-part-no;
}

.txt-picking,
a.txt-picking,
a.txt-picking:hover {
  font-family: 'Roboto', sans-serif;
  color: $color-picking;
}
a.txt-picking:hover {
  border-bottom: 1px solid $color-picking;
}
