h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

@media (max-width: $screen-sm) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
}

.txt-primary {
  color: $txt-color-primary;
}
.txt-secondary {
  color: $txt-color-secondary;
}
.txt-success {
  color: $txt-color-success;
}
.txt-warn {
  color: $txt-color-warn;
}
.txt-danger {
  color: $txt-color-danger;
}

.txt-white {
  color: #fff !important;
}

code {
  color: $txt-color-primary;
}

.txt-lg {
  font-size: 16px;
}
.txt-md {
  font-size: 14px;
}
.txt-sm {
  font-size: 12px;
}
.txt-ex-sm {
  font-size: 10px;
}
.txt-bold {
  font-weight: 900 !important;
}
.txt-strikethrough {
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    background-color: #f35b5b;
    height: 2px;
    width: 110%;
    position: absolute;
    top: 45%;
    left: -5%;
    transform: scaleY(.8);
  }
}
.txt-positive {
  font-family: 'Roboto', sans-serif;
  color: #25b47e;
}
.txt-negative {
  font-family: 'Roboto', sans-serif;
  color: #cd3d64
}
.txt-num {
  font-family: 'Roboto', sans-serif;
}
.txt-avatar,
a.txt-avatar,
a.txt-avatar:hover {
  font-family: 'Helvetica Neue';
  color: $color-avatar;
  font-weight: 900;
}
body a.txt-avatar:hover {
  border-bottom: 1px solid $color-avatar;
}

.txt-type0,
a.txt-type0,
a.txt-type0:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: $color-txt-type0;
}
body a.txt-type0:hover {
  border-bottom: 1px solid $color-txt-type0;
}

.txt-type1,
a.txt-type1,
a.txt-type1:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: $color-txt-type1;
}
body a.txt-type1:hover {
  border-bottom: 1px solid $color-txt-type1;
}

.txt-type2,
a.txt-type2,
a.txt-type2:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: $color-txt-type2;
}
body a.txt-type2:hover {
  border-bottom: 1px solid $color-txt-type2;
}

.txt-type3,
a.txt-type3,
a.txt-type3:hover {
  font-family: 'Roboto', sans-serif;
  color: $color-txt-type3;
}
body a.txt-type3:hover {
  border-bottom: 1px solid $color-txt-type3;
}

.txt-type4,
a.txt-type4,
a.txt-type4:hover {
  font-family: 'PingFang TC';
  color: $color-txt-type4;
}
body a.txt-type4:hover {
  border-bottom: 1px solid $color-txt-type4;
}

.txt-muted {
  color: #6c757d;
}

.txt-center {
  text-align: center !important;
}
.txt-right {
  text-align: right !important;
}
.txt-left {
  text-align: left !important;
}

.content-disabled {
  &,
  *,
  *:before {
    filter: grayscale(10%);
  }
}
