body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: 3px solid $bg-outline;
  outline-offset: 2px;
}

// for ie11
body:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}
.container-wrap {
  flex-wrap: wrap;
}

p {
  line-height: 2.1em;
}

th, td {
  padding: 7px;
}

a {
  cursor: pointer;
  color: $color-anchor;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: $color-anchor-ex;
  }
}

// active style
$color-active: #5469d4;

.select,
.select.select-outline,
.select.select-outline-strong,
.btn.btn-dropdown,
.search-input,
.input {
  &.active {
    color: $color-active;
    box-shadow: 0 1px 1px 0 rgba(54, 59, 255, .6),
      rgba(14, 48, 173, .3) 0 0 0 1px,
      rgba(14, 26, 62, .12) 0 2px 5px 0;
  }
}
.search-input.active .input,
.search-input.active .icon-search:before {
  color: $color-active;
}

.input,
.select,
.select.select-outline,
.select.select-outline-strong {
  &:focus.active {
    color: $color-active;
    box-shadow: 0 1px 1px 0 rgba(54, 59, 255, .6),
      rgba(14, 48, 173, .3) 0 0 0 1px,
      rgba(14, 26, 62, .12) 0 2px 5px 0,
      0 0 0 4px rgba(58, 151, 212, .28);
  }
}
.search-input.active.outline {
  color: $color-active;
  box-shadow: 0 1px 1px 0 rgba(54, 59, 255, .6),
    rgba(14, 48, 173, .3) 0 0 0 1px,
    rgba(14, 26, 62, .12) 0 2px 5px 0,
    0 0 0 4px rgba(58, 151, 212, .28);
}

.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
