body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: 3px solid $bg-outline;
  outline-offset: 2px;
}

// for ie11
body:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}
.container-wrap {
  flex-wrap: wrap;
}

p {
  line-height: 2.1em;
}

th, td {
  padding: 7px;
}

a {
  cursor: pointer;
  color: $color-anchor;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: $color-anchor-ex;
  }
}

// active style
$color-active: #1f212d;

.select,
.select.select-outline,
.select.select-outline-strong,
.btn.btn-dropdown,
.search-input,
.input {
  &.active {
    color: $color-active;
    box-shadow: 0 1px 1px 0 rgba(9, 10, 58, 0.55),
    rgba(30, 40, 76, 0.16) 0 0 0 1px,
    rgba(31, 44, 86, 0.12) 0 2px 5px 0;
  }
}
.search-input.active .input {
  color: $color-active;
}
