@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin y-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin focus-outline {
  box-shadow: 0 0 0 1px rgba(60, 66, 87, .16),
    0 1px 1px 0 rgba(0, 0, 0, .12),
    0 0 0 4px rgba(58, 151, 212, .28);
}

@mixin ripple($size, $left, $top) {
  &.ripple:before {
    top: $top;
    left: $left;
    overflow: visible;
    transition: .3s all;
    position: absolute;
    content: '';
    border-radius: 100%;
    display: block;
    z-index: -1;
    @include size($size);
    background-color: #e6e9ea;
    opacity: 0;
    transform: scale(.6);
  }
  &.ripple:hover {
    &:before {
      opacity: .5;
      transform: scale(1);
    }
  }
}

@mixin absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
