%checkbox-disabled {
  background-color: #eee;
  cursor: not-allowed;
  input[type="checkbox"] {
    cursor: not-allowed;
  }
  &.ripple:before {
    display: none;
  }
  .icon-checkbox {
    background-color: transparent;
  }
}

%radio-disabled {
  background-color: #eee;
  cursor: not-allowed;
  input[type="radio"] {
    cursor: not-allowed;
  }
  &.ripple:before {
    display: none;
  }
  .icon-radio {
    background-color: transparent;
  }
}

%row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

%form-control {
  border: 0;
  display: block;
  width: 250px;
  font-size: 14px;
  line-height: 1.5;
  color: $control-color;
}
