$bgs:
  ('bg-transparent', $bg-transparent),
  ('bg-admin', $bg-admin),
  ('bg-outline', $bg-outline),
  ('bg-content', $bg-content),
  ('bg-primary', $bg-primary),
  ('bg-primary-ex', $bg-primary-ex),
  ('bg-primary-ex2', $bg-primary-ex2),
  ('bg-secondary', $bg-secondary),
  ('bg-secondary-ex', $bg-secondary-ex),
  ('bg-secondary-ex2', $bg-secondary-ex2),
  ('bg-success', $bg-success),
  ('bg-success-ex', $bg-success-ex),
  ('bg-success-ex2', $bg-success-ex2),
  ('bg-danger', $bg-danger),
  ('bg-danger-ex', $bg-danger-ex),
  ('bg-danger-ex2', $bg-danger-ex2),
  ('bg-warn', $bg-warn),
  ('bg-warning', $bg-warn),
  ('bg-warn-ex', $bg-warn-ex),
  ('bg-warn-ex2', $bg-warn-ex2),
  ('bg-info', $bg-info),
  ('bg-info-ex', $bg-info-ex),
  ('bg-info-ex2', $bg-info-ex2),
  ('bg-white', $bg-white),
  ('bg-type1', $bg-type1),
  ('bg-type1-ex', $bg-type1-ex),
  ('bg-type1-ex2', $bg-type1-ex2),
  ('bg-type2', $bg-type2),
  ('bg-type2-ex', $bg-type2-ex),
  ('bg-type2-ex2', $bg-type2-ex2),
  ('bg-light', $bg-light),
  ('bg-light-ex', $bg-light-ex),
  ('bg-light-ex2', $bg-light-ex2),
  ('bg-dark', $bg-dark),
  ('bg-dark-ex', $bg-dark-ex),
  ('bg-dark-ex2', $bg-dark-ex2),
  ('bg-icon', $bg-icon),
  ('bg-disabled', $bg-disabled);

$borders:
 ('border-primary', $border-primary),
 ('border-secondary', $border-secondary),
 ('border-success', $border-success),
 ('border-danger', $border-danger),
 ('border-warning', $border-warning),
 ('border-info', $border-info),
 ('border-light', $border-light),
 ('border-dark', $border-dark),
 ('border-white', $border-white);

$txt-types:
  $txt-type0,
  $txt-type1,
  $txt-type2,
  $txt-type3,
  $txt-type4;

$tags: (
  ('tag-primary', $bg-tag-primary),
  ('tag-secondary', $bg-tag-secondary),
  ('tag-success', $bg-tag-success),
  ('tag-danger', $bg-tag-danger),
  ('tag-warn', $bg-tag-warn),
  ('tag-info', $bg-tag-info),
  ('tag-dark', $bg-tag-dark),
  ('tag-light', $bg-tag-light),
  ('tag-type0', $bg-tag-type0),
  ('tag-type1', $bg-tag-type1),
  ('tag-type2', $bg-tag-type2),
  ('tag-type3', $bg-tag-type3),
  ('tag-type4', $bg-tag-type4)
);

$alerts:
  $alert-primary,
  $alert-secondary,
  $alert-warn,
  $alert-danger;

$btns:
  $btn-primary,
  $btn-secondary,
  $btn-danger,
  $btn-warn;
