$bg-admin: #e3e8ee;
$bg-outline: rgba(58, 151, 212, .28);

$bg-primary: #6772e5;
$bg-primary-ex: #7795f8;
$bg-primary-ex2: #b2b7df;

$bg-secondary: #fff;
$bg-secondary-ex: #fff;
$bg-secondary-ex2: #ebebeb;

$bg-variant1: #d681d8;
$bg-variant1-ex: #eda3ef;
$bg-variant1-ex2: #d1bdd1;

$bg-variant2: #25b47e;
$bg-variant2-ex: #7de1bb;
$bg-variant2-ex2: #98b6ab;

$bg-variant3: #fdd85f;
$bg-variant3-ex: #ffe89e;
$bg-variant3-ex2: #dcd7c9;

$bg-warn: #f1946a;
$bg-warn-ex: #e7a283;
$bg-warn-ex2: #e5cec3;

$bg-danger: #cd3d64;
$bg-danger-ex: #ef6a8e;
$bg-danger-ex2: #b59ba7;

$bg-light: #fff;
$bg-light-ex: #fff;
$bg-light-ex2: #ebebeb;

$bg-dark: #000;
$bg-dark-ex: #4c4c4c;
$bg-dark-ex2: #b7b7b7;

$bg-icon: #8892b3;

$color-primary: #5469d4;

$color-secondary: #6772e5;
$color-secondary-ex: #7795f8;
$color-secondary-ex2: #bbb;

$color-variant3: #516487;
$color-variant3-ex: #7d8eae;
$color-variant3-ex2: #bbb;

$color-light: #fff;

$color-dark: #697386;
$color-dark-ex: #697386;
$color-dark-ex2: #bbb;

$color-link: #5469d4;
$color-link-ex: #32325d;
$color-link-ex2: #bbb;

$color-icon: #4f566b;

$color-order-id: #343a6a;
$color-consignment-no: #424770;
$color-xdelivery-id: #6382a3;
$color-sticky-nickname: #000;
$color-money: #5c5f72;
$color-receiver: #424770;
$color-ip: #424770;
$color-invoice-no: #63a396;
$color-part-no: #6772e5;
$color-picking: #4191d9;

$bg-tag-type0: #6dbc80;
$bg-tag-type1: #018972;
$bg-tag-type2: #005b4a;
$bg-tag-type3: #313864;
$bg-tag-type4: #74b6fb;
$bg-tag-type5: #5d69e3;
$bg-tag-type6: #8b8b9e;
$bg-tag-type7: #e682dc;
$bg-tag-danger: #e03953;

$bg-tag-types: $bg-tag-type0,
               $bg-tag-type1,
               $bg-tag-type2,
               $bg-tag-type3,
               $bg-tag-type4,
               $bg-tag-type5,
               $bg-tag-type6,
               $bg-tag-type7;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$beyond-icon-font-path: '../font/' !default;
$beyond-icon-font-name: 'icomoon' !default;
$beyond-css-img-path: './img/' !default;
