$beyond-use-helper: false !default;

// backgrounds
$bg-admin: #e3e8ee;
$bg-outline: rgba(58, 151, 212, .28);
$bg-content: #f7fafc;

$bg-primary: #6772e5;
$bg-primary-ex: #7795f8;
$bg-primary-ex2: #b2b7df;

$bg-secondary: #fff;
$bg-secondary-ex: #fff;
$bg-secondary-ex2: #ebebeb;

$bg-success: #25b47e;
$bg-success-ex: #7de1bb;
$bg-success-ex2: #98b6ab;

$bg-danger: #cd3d64;
$bg-danger-ex: #ef6a8e;
$bg-danger-ex2: #b59ba7;

$bg-warn: #f1946a;
$bg-warn-ex: #ffaf8c;
$bg-warn-ex2: #e5cec3;

$bg-info: #5ecdf1;
$bg-info-ex: #7bdfff;
$bg-info-ex2: #a4c5d0;

$bg-white: #fff;

$bg-type1: #d681d8;
$bg-type1-ex: #eda3ef;
$bg-type1-ex2: #d1bdd1;

$bg-type2: #fdd85f;
$bg-type2-ex: #ffe89e;
$bg-type2-ex2: #dcd7c9;

$bg-light: #f8f9fa;
$bg-light-ex: #f8f9fa;
$bg-light-ex2: #ebebeb;

$bg-dark: #000;
$bg-dark-ex: #4c4c4c;
$bg-dark-ex2: #b7b7b7;

$bg-icon: #8892b3;
$bg-disabled: #f1f1f1;

$backgrounds:
  ('bg-admin', $bg-admin),
  ('bg-outline', $bg-outline),
  ('bg-content', $bg-content),
  ('bg-primary', $bg-primary),
  ('bg-primary-ex', $bg-primary-ex),
  ('bg-primary-ex2', $bg-primary-ex2),
  ('bg-secondary', $bg-secondary),
  ('bg-secondary-ex', $bg-secondary-ex),
  ('bg-secondary-ex2', $bg-secondary-ex2),
  ('bg-success', $bg-success),
  ('bg-success-ex', $bg-success-ex),
  ('bg-success-ex2', $bg-success-ex2),
  ('bg-danger', $bg-danger),
  ('bg-danger-ex', $bg-danger-ex),
  ('bg-danger-ex2', $bg-danger-ex2),
  ('bg-warn', $bg-warn),
  ('bg-warning', $bg-warn),
  ('bg-warn-ex', $bg-warn-ex),
  ('bg-warn-ex2', $bg-warn-ex2),
  ('bg-info', $bg-info),
  ('bg-info-ex', $bg-info-ex),
  ('bg-info-ex2', $bg-info-ex2),
  ('bg-white', $bg-white),
  ('bg-type1', $bg-type1),
  ('bg-type1-ex', $bg-type1-ex),
  ('bg-type1-ex2', $bg-type1-ex2),
  ('bg-type2', $bg-type2),
  ('bg-type2-ex', $bg-type2-ex),
  ('bg-type2-ex2', $bg-type2-ex2),
  ('bg-light', $bg-light),
  ('bg-light-ex', $bg-light-ex),
  ('bg-light-ex2', $bg-light-ex2),
  ('bg-dark', $bg-dark),
  ('bg-dark-ex', $bg-dark-ex),
  ('bg-dark-ex2', $bg-dark-ex2),
  ('bg-icon', $bg-icon),
  ('bg-disabled', $bg-disabled);

// borders
$borders:
 ('border-primary', $bg-primary),
 ('border-secondary', #6c757d),
 ('border-success', $bg-success),
 ('border-danger', $bg-danger),
 ('border-warning', $bg-warn),
 ('border-info', $bg-info),
 ('border-light', $bg-light),
 ('border-dark', $bg-dark),
 ('border-white', $bg-white);

$color-anchor: #5469d4;
$color-anchor-ex: #1a1f36;

$color-primary: #5469d4;

$color-secondary: #6772e5;
$color-secondary-ex: #7795f8;
$color-secondary-ex2: #bbb;

$color-type2: #516487;
$color-type2-ex: #7d8eae;
$color-type2-ex2: #bbb;

$color-light: #fff;

$color-dark: #697386;
$color-dark-ex: #697386;
$color-dark-ex2: #bbb;

$color-link: #5469d4;
$color-link-ex: #32325d;
$color-link-ex2: #bbb;

$color-avatar: #000;

$txt-color-primary: #6772e5;
$txt-color-secondary: #969696;
$txt-color-success: #25b47e;
$txt-color-warn: #f1946a;
$txt-color-danger: #cd3d64;

$color-txt-type0: #5c5f72;
$color-txt-type1: #63a396;
$color-txt-type2: #6772e5;
$color-txt-type3: #4191d9;
$color-txt-type4: #6382a3;

$color-txt-types:
  $color-txt-type0,
  $color-txt-type1,
  $color-txt-type2,
  $color-txt-type3,
  $color-txt-type4;

// tags
$bg-tag-primary: #6782e5;
$bg-tag-secondary: #7d5ae8;
$bg-tag-success: $bg-success;
$bg-tag-danger: $bg-danger;
$bg-tag-warn: $bg-warn;
$bg-tag-info: $bg-info;
$bg-tag-dark: $bg-dark;
$bg-tag-light: #8b8b9e;

$bg-tag-type0: #19af95;
$bg-tag-type1: #005b4a;
$bg-tag-type2: #865260;
$bg-tag-type3: #993192;
$bg-tag-type4: #e682dc;

$bg-tags: (
  (tag-primary, $bg-tag-primary),
  (tag-secondary, $bg-tag-secondary),
  (tag-success, $bg-tag-success),
  (tag-danger, $bg-tag-danger),
  (tag-warn, $bg-tag-warn),
  (tag-info, $bg-tag-info),
  (tag-dark, $bg-tag-dark),
  (tag-light, $bg-tag-light),
  (tag-type0, $bg-tag-type0),
  (tag-type1, $bg-tag-type1),
  (tag-type2, $bg-tag-type2),
  (tag-type3, $bg-tag-type3),
  (tag-type4, $bg-tag-type4)
);

$color-tag-danger-ex: #fff;
$bg-tag-danger-ex: #e03953;

$bg-avatar-type0: #a3d96e;
$bg-avatar-type1: #ffb958;
$bg-avatar-type2: #5956D6;
$bg-avatar-type3: #ce4d94;
$bg-avatar-type4: #56c4d6;

$bg-avatars: (
  (avatar-type0, $bg-avatar-type0),
  (avatar-type1, $bg-avatar-type1),
  (avatar-type2, $bg-avatar-type2),
  (avatar-type3, $bg-avatar-type3),
  (avatar-type4, $bg-avatar-type4)
);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$beyond-icon-font-path: if($beyond-use-helper, '', '../font/') !default;
$beyond-icon-font-name: 'icomoon' !default;
$beyond-css-img-path: if($beyond-use-helper, '', './img/') !default;

$breakpoints: $screen-sm, $screen-md, $screen-lg, $screen-xl;

$screen-sizes: 'sm', 'md', 'lg', 'xl';
$col-total: 12;

// spacing utilities
$space-types: 'm', 'p';
$space-size-max: 5;

$side-all: '';
$side-top: 't';
$side-bottom: 'b';
$side-left: 'l';
$side-right: 'r';
$side-x: 'x';
$side-y: 'y';

$sides: (
  $side-all,
  $side-top,
  $side-bottom,
  $side-left,
  $side-right,
  $side-x,
  $side-y
);

// alerts
$alert-bg-primary: #d7daea;
$alert-color-primary: #3c4257;
$alert-color-link-primary: #020204;
$alert-color-hr-primary: #020204;

$alert-bg-secondary: #e3e8ee;
$alert-color-secondary: #3c4257;
$alert-color-link-secondary: #121623;
$alert-color-hr-secondary: #121623;

$alert-bg-success: #e6f3e6;
$alert-color-success: #3c4257;
$alert-color-link-success: #022519;
$alert-color-hr-success: #87b3a4;

$alert-bg-danger: #f7e9e9;
$alert-color-danger: #3c4257;
$alert-color-link-danger: #310101;
$alert-color-hr-danger: #310101;

$alert-bg-warning: #f9f1ea;
$alert-color-warning: #3c4257;
$alert-color-link-warning: #3a1401;
$alert-color-hr-warning: #3a1401;

$alert-bg-info: #e8eff5;
$alert-color-info: #3c4257;
$alert-color-link-info: #08111f;
$alert-color-hr-info: #08111f;

$alert-bg-light: #eee;
$alert-color-light: #3c4257;
$alert-color-link-light: #14182b;
$alert-color-hr-light: #14182b;

$alert-bg-dark: #4e4e4e;
$alert-color-dark: #ddd;
$alert-color-link-dark: #fff;
$alert-color-hr-dark: #fff;

$alert-states: 'primary', 'secondary', 'success',
  'danger', 'warning', 'info', 'light', 'dark';

$alert-bgs: $alert-bg-primary, $alert-bg-secondary, $alert-bg-success,
  $alert-bg-danger, $alert-bg-warning, $alert-bg-info, $alert-bg-light, $alert-bg-dark;

$alert-colors: $alert-color-primary, $alert-color-secondary, $alert-color-success,
  $alert-color-danger, $alert-color-warning, $alert-color-info, $alert-color-light, $alert-color-dark;

$alert-color-links: $alert-color-link-primary, $alert-color-link-secondary,
  $alert-color-link-success, $alert-color-link-danger, $alert-color-link-warning,
  $alert-color-link-info, $alert-color-link-light, $alert-color-link-dark;

$alert-color-hrs: $alert-color-hr-primary, $alert-color-hr-secondary,
  $alert-color-hr-success, $alert-color-hr-danger, $alert-color-hr-warning,
  $alert-color-hr-info, $alert-color-hr-light, $alert-color-hr-dark;

$sizes: 25, 50, 75, 100;

// badges
// classname, bg, color
$badges:
  ('badge-primary', #6772e5, #fff),
  ('badge-secondary', #fff, #6772e5),
  ('badge-success', #25b47e, #fff),
  ('badge-danger', #cd3d64, #fff),
  ('badge-warn', #f1946a, #fff),
  ('badge-info', #5ecdf1, #fff),
  ('badge-light', #f8f9fa, #fff),
  ('badge-dark', #000, #fff),
  ('badge-type1', #d681d8, #fff),
  ('badge-type2', #fdd85f, #516487);

// border utils
$border-color: #dee2e6;

// buttons
// classname, bg, color, bg-ex, bg-disabled
$btn-primary: 'btn-primary', #6772e5, #fff, #7795f8, #b2b7df;
$btn-secondary: 'btn-secondary', #fff, #6772e5, #fff, #ebebeb;
$btn-success: 'btn-success', #25b47e, #fff, #7de1bb, #98b6ab;
$btn-danger: 'btn-danger', #cd3d64, #fff, #ef6a8e, #b59ba7;
$btn-warn: 'btn-warn', #f1946a, #fff, #ffaf8c, #e5cec3;
$btn-warning: 'btn-warning', #f1946a, #fff, #ffaf8c, #e5cec3;
$btn-info: 'btn-info', #5ecdf1, #fff, #7bdfff, #a4c5d0;
$btn-light: 'btn-light', #f8f9fa, #697386, #f8f9fa, #ebebeb;
$btn-dark: 'btn-dark', #000, #fff, #4c4c4c, #b7b7b7;
$btn-type1: 'btn-type1', #d681d8, #fff, #eda3ef, #d1bdd1;
$btn-type2: 'btn-type2', #fdd85f, #516487, #ffe89e, #dcd7c9;

$btns:
  $btn-primary,
  $btn-secondary,
  $btn-success,
  $btn-danger,
  $btn-warn,
  $btn-warning,
  $btn-info,
  $btn-light,
  $btn-dark,
  $btn-type1,
  $btn-type2;

// classname, bg, color, color-ex, color-disabled
$btn-link: 'btn-link', #fff, #5469d4, #32325d, #bbb;
