$beyond-use-helper: false !default;

$bg-admin: #e3e8ee;
$bg-outline: rgba(58, 151, 212, .28);

$bg-primary: #6772e5;
$bg-primary-ex: #7795f8;
$bg-primary-ex2: #b2b7df;

$bg-secondary: #fff;
$bg-secondary-ex: #fff;
$bg-secondary-ex2: #ebebeb;

$bg-success: #25b47e;
$bg-success-ex: #7de1bb;
$bg-success-ex2: #98b6ab;

$bg-danger: #cd3d64;
$bg-danger-ex: #ef6a8e;
$bg-danger-ex2: #b59ba7;

$bg-warn: #f1946a;
$bg-warn-ex: #ffaf8c;
$bg-warn-ex2: #e5cec3;

$bg-info: #5ecdf1;
$bg-info-ex: #7bdfff;
$bg-info-ex2: #a4c5d0;

$bg-type1: #d681d8;
$bg-type1-ex: #eda3ef;
$bg-type1-ex2: #d1bdd1;

$bg-type2: #fdd85f;
$bg-type2-ex: #ffe89e;
$bg-type2-ex2: #dcd7c9;

$bg-light: #fff;
$bg-light-ex: #fff;
$bg-light-ex2: #ebebeb;

$bg-dark: #000;
$bg-dark-ex: #4c4c4c;
$bg-dark-ex2: #b7b7b7;

$bg-icon: #8892b3;

$color-primary: #5469d4;

$color-secondary: #6772e5;
$color-secondary-ex: #7795f8;
$color-secondary-ex2: #bbb;

$color-type2: #516487;
$color-type2-ex: #7d8eae;
$color-type2-ex2: #bbb;

$color-light: #fff;

$color-dark: #697386;
$color-dark-ex: #697386;
$color-dark-ex2: #bbb;

$color-link: #5469d4;
$color-link-ex: #32325d;
$color-link-ex2: #bbb;

$color-icon: #4f566b;

$color-order-id: #343a6a;
$color-consignment-no: #424770;
$color-xdelivery-id: #6382a3;
$color-sticky-nickname: #000;
$color-money: #5c5f72;
$color-receiver: #424770;
$color-ip: #424770;
$color-invoice-no: #63a396;
$color-part-no: #6772e5;
$color-picking: #4191d9;

// tags
$bg-tag-primary: #6782e5;
$bg-tag-secondary: #7d5ae8;
$bg-tag-success: $bg-success;
$bg-tag-danger: $bg-danger;
$bg-tag-warn: $bg-warn;
$bg-tag-info: $bg-info;
$bg-tag-dark: $bg-dark;
$bg-tag-light: #8b8b9e;

$bg-tag-type0: #19af95;
$bg-tag-type1: #005b4a;
$bg-tag-type2: #865260;
$bg-tag-type3: #993192;
$bg-tag-type4: #e682dc;

$bg-tags: (
  (tag-primary, $bg-tag-primary),
  (tag-secondary, $bg-tag-secondary),
  (tag-success, $bg-tag-success),
  (tag-danger, $bg-tag-danger),
  (tag-warn, $bg-tag-warn),
  (tag-info, $bg-tag-info),
  (tag-dark, $bg-tag-dark),
  (tag-light, $bg-tag-light),
  (tag-type0, $bg-tag-type0),
  (tag-type1, $bg-tag-type1),
  (tag-type2, $bg-tag-type2),
  (tag-type3, $bg-tag-type3),
  (tag-type4, $bg-tag-type4)
);

$bg-tag-danger-ex: #e03953;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$beyond-icon-font-path: if($beyond-use-helper, '', '../font/') !default;
$beyond-icon-font-name: 'icomoon' !default;
$beyond-css-img-path: if($beyond-use-helper, '', './img/') !default;
