---
layout: default
title: Typography
---
<div class="page-typography">
  <h1>字體</h1>
  {% include codebox.html result="demos/typography.html" html="demos/typography.html" %}

  <h2>文字排版 - Typography</h2>
  <h3>標題層級</h3>
  {% include codebox.html result="demos/headings-zh.html" html="demos/headings-zh.html" %}
  {% include codebox.html result="demos/headings-en.html" html="demos/headings-en.html" %}

  <h2>內文</h2>
  <div>
    {% include demos/paragraphs.html %}
  </div>

  <h2>表格文字</h2>
  {% include codebox.html result="demos/table-fonts.html" html="demos/table-fonts.html" %}

  <h2>disabled 背景與內文</h2>
  {% include codebox.html result="demos/table-disabled.html" html="demos/table-disabled.html" %}
</div>
