---
layout: default
title: Typography
---
<div class="page-typography">
  <h1>字體</h1>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/typography.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/typography.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>文字排版 - Typography</h2>
  <h3>標題層級</h3>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/headings-zh.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/headings-zh.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/headings-en.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/headings-en.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>內文</h2>
  <div>
    {% include demos/paragraphs.html %}
  </div>

  <h2>表格文字</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/table-fonts.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/table-fonts.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>disabled 背景與內文</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/table-disabled.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/table-disabled.html %}{% endhighlight %}
      </div>
    </div>
  </div>

</div>
