<div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    {% if include.html %}
      <a>HTML</a>
    {% endif %}
    {% if include.js %}
      <a>JS</a>
    {% endif %}
    {% if include.css %}
      <a>CSS</a>
    {% endif %}
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      {% include include.result %}
    </div>
    {% if include.html %}
      <div>
        {% highlight html linenos %}{% include include.html %}{% endhighlight %}
      </div>
    {% endif %}
    {% if include.js %}
      <div>
        {% highlight js linenos %}{% include include.js %}{% endhighlight %}
      </div>
    {% endif %}
    {% if include.css %}
      <div>
        {% highlight css linenos %}{% include include.css %}{% endhighlight %}
      </div>
    {% endif %}
  </div>
</div>
