<button class="btn" data-sidebar-opener="sidebar">
  <i class="icon-hamburger"></i>
</button>
<nav class="nav sidebar" data-sidebar="sidebar">
  <ul>
    {% for item in site.data.nav %}
      <li>
        {% if page.url == item.link %}
          <a href="{{ item.link | relative_url }}" class="nav-item active">{{ item.name }}</a>
        {% else %}
          <a href="{{ item.link | relative_url }}" class="nav-item">{{ item.name }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
