<nav class="col-xl-2 col-md-3 nav sidebar" data-sidebar="sidebar">
  <ul>
    {% for item in site.data.nav %}
      <li>

        {% if item.name %}
          {% if page.url == item.link %}
            <a href="{{ item.link | relative_url }}" class="nav-item active">{{ item.name }}</a>
          {% else %}
            <a href="{{ item.link | relative_url }}" class="nav-item">{{ item.name }}</a>
          {% endif %}
        {% else %}
          <div class="nav-folder"
               data-menu-toggle="{{ item.folder }}"
               data-default-visible>{{ item.folder }}<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="{{ item.folder }}">
            {% for subItem in item.items %}
              <li>
                {% if page.url == subItem.link %}
                  <a href="{{ subItem.link | relative_url }}" class="nav-item active">{{ subItem.name }}</a>
                {% else %}
                  <a href="{{ subItem.link | relative_url }}" class="nav-item">{{ subItem.name }}</a>
                {% endif %}
              </li>
           {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
