<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <title>Cols | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">

    
      <link rel="stylesheet" href="/beyond/dist/beyond.css?v=1600763834">
    

    <link rel="stylesheet" href="/beyond/assets/css/styles.css?v=1600763834">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>

    
      <script src="/beyond/dist/beyond.js?v=1600763834"></script>
      <script src="/beyond/dist/beyond-jquery.js?v=1600763834"></script>
      <script src="/beyond/dist/web.js?v=1600763834"></script>
    
  </head>
  <body class="bg-admin no-nav-container">
    <a class="no-nav__btn-back" href="/beyond/">
      <i class="icon-chevron-left"></i>
      回首頁
    </a>
    <div class="no-nav-content">
      <div class="page-cols card-shadow-sm">
  <h1>網格 - Cols</h1>
  <table class="table table-responsive" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Extra small<br>
          <span>&lt;576px</span>
        </th>
        <th>
          Small<br>
          <span>&gt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span>&gt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span>&gt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span>&gt;&#61; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.col</code></td>
        <td>套用</td>
        <td>套用</td>
        <td>套用</td>
        <td>套用</td>
        <td>套用</td>
      </tr>
      <tr>
        <td><code>.col-sm</code></td>
        <td class="text-muted">無</td>
        <td>套用</td>
        <td>套用</td>
        <td>套用</td>
        <td>套用</td>
      </tr>
      <tr>
        <td><code>.col-md</code></td>
        <td class="text-muted">無</td>
        <td class="text-muted">無</td>
        <td>套用</td>
        <td>套用</td>
        <td>套用</td>
      </tr>
      <tr>
        <td><code>.col-lg</code></td>
        <td class="text-muted">無</td>
        <td class="text-muted">無</td>
        <td class="text-muted">無</td>
        <td>套用</td>
        <td>套用</td>
      </tr>
      <tr>
        <td><code>.col-xl</code></td>
        <td class="text-muted">無</td>
        <td class="text-muted">無</td>
        <td class="text-muted">無</td>
        <td class="text-muted">無</td>
        <td>套用</td>
      </tr>
    </tbody>
  </table>
  <div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    
      <a>HTML</a>
    
    
    
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      <div class="container">
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row">
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
  </div>
  <div class="row">
      <div class="col-md">col-md</div>
      <div class="col-md">col-md</div>
      <div class="col-md">col-md</div>
  </div>
  <div class="row">
      <div class="col-lg">col-lg</div>
      <div class="col-lg">col-lg</div>
      <div class="col-lg">col-lg</div>
  </div>
  <div class="row">
      <div class="col-xl">col-xl</div>
      <div class="col-xl">col-xl</div>
      <div class="col-xl">col-xl</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-1">col-1</div>
    <div class="col-2">col-2</div>
    <div class="col-3">col-3</div>
    <div class="col-4">col-4</div>
    <div class="col-2">col-2</div>
  </div>
  <div class="row">
    <div class="col-5">col-5</div>
    <div class="col-6">col-6</div>
    <div class="col-1">col-1</div>
  </div>
  <div class="row">
    <div class="col-7">col-7</div>
    <div class="col-5">col-5</div>
  </div>
  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4">col-4</div>
  </div>
  <div class="row">
    <div class="col-9">col-9</div>
    <div class="col-3">col-3</div>
  </div>
  <div class="row">
    <div class="col-10">col-10</div>
    <div class="col-2">col-2</div>
  </div>
  <div class="row">
    <div class="col-11">col-11</div>
    <div class="col-1">col-1</div>
  </div>
  <div class="row">
    <div class="col-12">col-12</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-1">col-1</div>
    <div class="col-3 offset-2">offset-2 col-3</div>
    <div class="col-2 offset-4">offset-4 col-2</div>
  </div>
</div>

    </div>
    
      <div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
</pre></td><td class="code"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>col<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>col<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>col<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span class="nt">&gt;</span>col-sm<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span class="nt">&gt;</span>col-sm<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span class="nt">&gt;</span>col-sm<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md"</span><span class="nt">&gt;</span>col-md<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md"</span><span class="nt">&gt;</span>col-md<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md"</span><span class="nt">&gt;</span>col-md<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-lg"</span><span class="nt">&gt;</span>col-lg<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-lg"</span><span class="nt">&gt;</span>col-lg<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-lg"</span><span class="nt">&gt;</span>col-lg<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xl"</span><span class="nt">&gt;</span>col-xl<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xl"</span><span class="nt">&gt;</span>col-xl<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xl"</span><span class="nt">&gt;</span>col-xl<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-1"</span><span class="nt">&gt;</span>col-1<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2"</span><span class="nt">&gt;</span>col-2<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-3"</span><span class="nt">&gt;</span>col-3<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-4"</span><span class="nt">&gt;</span>col-4<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2"</span><span class="nt">&gt;</span>col-2<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-5"</span><span class="nt">&gt;</span>col-5<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-6"</span><span class="nt">&gt;</span>col-6<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-1"</span><span class="nt">&gt;</span>col-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-7"</span><span class="nt">&gt;</span>col-7<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-5"</span><span class="nt">&gt;</span>col-5<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-8"</span><span class="nt">&gt;</span>col-8<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-4"</span><span class="nt">&gt;</span>col-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-9"</span><span class="nt">&gt;</span>col-9<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-3"</span><span class="nt">&gt;</span>col-3<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-10"</span><span class="nt">&gt;</span>col-10<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2"</span><span class="nt">&gt;</span>col-2<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-11"</span><span class="nt">&gt;</span>col-11<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-1"</span><span class="nt">&gt;</span>col-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>col-12<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-1"</span><span class="nt">&gt;</span>col-1<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-3 offset-2"</span><span class="nt">&gt;</span>offset-2 col-3<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2 offset-4"</span><span class="nt">&gt;</span>offset-4 col-2<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
    
  </div>
</div>

</div>

    </div>
    <div id="width-pad"></div>
  </body>
</html>
