---
layout: no-nav
title: Containers
---
<div class="page-containers card-shadow-sm">
  <h1 class="card-heading">容器 - Containers</h1>

  <table class="table" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Extra small<br>
          <span>&lt; 576px</span>
        </th>
        <th>
          Small<br>
          <span>&gt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span>&gt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span>&gt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span>&gt;&#61; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.container</code></td>
        <td class="text-muted">100%</td>
        <td>540px</td>
        <td>720px</td>
        <td>960px</td>
        <td>1140px</td>
      </tr>
      <tr>
        <td><code>.container-sm</code></td>
        <td class="text-muted">100%</td>
        <td>540px</td>
        <td>720px</td>
        <td>960px</td>
        <td>1140px</td>
      </tr>
      <tr>
        <td><code>.container-md</code></td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td>720px</td>
        <td>960px</td>
        <td>1140px</td>
      </tr>
      <tr>
        <td><code>.container-lg</code></td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td>960px</td>
        <td>1140px</td>
      </tr>
      <tr>
        <td><code>.container-xl</code></td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td>1140px</td>
      </tr>
      <tr>
        <td><code>.container-fluid</code></td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
        <td class="text-muted">100%</td>
      </tr>
    </tbody>
  </table>
  {% include codebox.html result="demos/containers.html" html="demos/containers.html" %}
</div>
