---
layout: no-nav
title: Spacing Utilities
---
<div class="card-shadow-sm">
  <h1>間距工具 - Spacing Utililities</h1>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/spacing-utilities.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/spacing-utilities.html %}{% endhighlight %}
      </div>
    </div>
  </div>
</div>
