---
layout: no-nav
title: Visibility Utilities
---
<div class="page-visibility-utilities card-shadow-sm">
  <h1>顯示 &#x2F; 隱藏工具 - Visibility Utililities</h1>
  <table class="table table-resolution" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Small<br>
          <span>&lt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span>&lt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span>&lt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span>&lt;&#61; 1200px</span>
        </th>
        <th>
          <span>&gt; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.hidden-sm</code></td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-md</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-lg</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-xl</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
      </tr>
    </tbody>
  </table>
  {% include codebox.html result="demos/hidden-utilities.html" html="demos/hidden-utilities.html" %}

  <table class="table table-resolution" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Small<br>
          <span>&lt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span>&lt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span>&lt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span>&lt;&#61; 1200px</span>
        </th>
        <th>
          <span>&gt; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.visible-sm-*</code></td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
        <td>隱藏</td>
        <td>隱藏</td>
        <td>隱藏</td>
      </tr>
      <tr>
        <td><code>.visible-md-*</code></td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
        <td>隱藏</td>
        <td>隱藏</td>
      </tr>
      <tr>
        <td><code>.visible-lg-*</code></td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
        <td>隱藏</td>
      </tr>
      <tr>
        <td><code>.visible-xl-*</code></td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
      </tr>
    </tbody>
  </table>
  {% include codebox.html result="demos/visibility-utilities.html" html="demos/visibility-utilities.html" %}
</div>
