<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <title>Visibility Utilities | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">

    
      <link rel="stylesheet" href="/beyond/dist/beyond.css?v=1628582232">
    

    <link rel="stylesheet" href="/beyond/assets/css/styles.css?v=1628582232">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>

    
      <script src="/beyond/dist/beyond.js?v=1628582232"></script>
      <script src="/beyond/dist/beyond-jquery.js?v=1628582232"></script>
      <script src="/beyond/dist/web.js?v=1628582232"></script>
    
  </head>
  <body class="bg-admin no-nav-container">
    <a class="no-nav__btn-back" href="/beyond/">
      <i class="icon-chevron-left"></i>
      回首頁
    </a>
    <div class="no-nav-content">
      <div class="page-visibility-utilities card-shadow-sm">
  <h1>顯示 &#x2F; 隱藏工具 - Visibility Utililities</h1>
  <table class="table table-responsive table-resolution" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Small<br>
          <span>&lt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span>&lt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span>&lt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span>&lt;&#61; 1200px</span>
        </th>
        <th>
          <span>&gt; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.hidden-sm</code></td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-md</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-lg</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-xl</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
      </tr>
    </tbody>
  </table>
  <div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    
      <a>HTML</a>
    
    
    
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      <div class="container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        hidden-sm ( 隱藏 )
        <div class="hidden-sm">hidden-sm ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        hidden-md ( 隱藏 )
        <div class="hidden-md">hidden-md ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        hidden-lg ( 隱藏 )
        <div class="hidden-lg">hidden-lg ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        hidden-xl ( 隱藏 )
        <div class="hidden-xl">hidden-xl ( 顯示 )</div>
      </div>
    </div>
  </div>
</div>

    </div>
    
      <div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
</pre></td><td class="code"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        hidden-sm ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hidden-sm"</span><span class="nt">&gt;</span>hidden-sm ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        hidden-md ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hidden-md"</span><span class="nt">&gt;</span>hidden-md ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        hidden-lg ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hidden-lg"</span><span class="nt">&gt;</span>hidden-lg ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        hidden-xl ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hidden-xl"</span><span class="nt">&gt;</span>hidden-xl ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
    
  </div>
</div>


  <table class="table table-responsive table-resolution" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Small<br>
          <span>&lt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span>&lt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span>&lt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span>&lt;&#61; 1200px</span>
        </th>
        <th>
          <span>&gt; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.visible-sm-*</code></td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
        <td>隱藏</td>
        <td>隱藏</td>
        <td>隱藏</td>
      </tr>
      <tr>
        <td><code>.visible-md-*</code></td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
        <td>隱藏</td>
        <td>隱藏</td>
      </tr>
      <tr>
        <td><code>.visible-lg-*</code></td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
        <td>隱藏</td>
      </tr>
      <tr>
        <td><code>.visible-xl-*</code></td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td class="strong">顯示</td>
        <td>隱藏</td>
      </tr>
    </tbody>
  </table>
  <div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    
      <a>HTML</a>
    
    
    
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      <div class="container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        visible-sm-block ( 隱藏 )
        <div class="visible-sm-block">visible-sm-block ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        visible-md ( 隱藏 )
        <div class="visible-md-block">visible-md-block ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        visible-lg ( 隱藏 )
        <div class="visible-lg-block">visible-lg-block ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        visible-xl-block ( 隱藏 )
        <div class="visible-xl-block">visible-xl-block ( 顯示 )</div>
      </div>
    </div>
  </div>
</div>

    </div>
    
      <div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
</pre></td><td class="code"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        visible-sm-block ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"visible-sm-block"</span><span class="nt">&gt;</span>visible-sm-block ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        visible-md ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"visible-md-block"</span><span class="nt">&gt;</span>visible-md-block ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        visible-lg ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"visible-lg-block"</span><span class="nt">&gt;</span>visible-lg-block ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12"</span><span class="nt">&gt;</span>
        visible-xl-block ( 隱藏 )
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"visible-xl-block"</span><span class="nt">&gt;</span>visible-xl-block ( 顯示 )<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
    
  </div>
</div>

</div>

    </div>
    <div id="width-pad"></div>
  </body>
</html>
