---
layout: no-nav
title: Visibility Utilities
---
<div class="page-utilities card card-shadow-sm">
  <h1 class="card-heading">顯示 &#x2F; 隱藏工具 - Visibility Utililities</h1>

  <table class="table table-resolution" data-table-resolution>
    <thead>
      <tr>
        <th></th>
        <th>
          Small<br>
          <span class="font-weight-normal">&lt;&#61; 576px</span>
        </th>
        <th>
          Medium<br>
          <span class="font-weight-normal">&lt;&#61; 768px</span>
        </th>
        <th>
          Large<br>
          <span class="font-weight-normal">&lt;&#61; 992px</span>
        </th>
        <th>
          Extra large<br>
          <span class="font-weight-normal">&lt;&#61; 1200px</span>
        </th>
        <th>
          <span class="font-weight-normal">&gt; 1200px</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.hidden-sm</code></td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-md</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-lg</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
        <td>顯示</td>
      </tr>
      <tr>
        <td><code>.hidden-xl</code></td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td class="strong">隱藏</td>
        <td>顯示</td>
      </tr>
    </tbody>
  </table>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/visibility-utilities.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/visibility-utilities.html %}{% endhighlight %}
      </div>
    </div>
  </div>
</div>
