<div class="alert alert-primary" data-alert role="alert">
  This is a primary alert—check it out!
</div>
<div class="alert alert-secondary" data-alert role="alert">
  This is a secondary alert—check it out!
</div>
<div class="alert alert-success" data-alert role="alert">
  This is a success alert—check it out!
</div>
<div class="alert alert-danger" data-alert role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" data-alert role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" data-alert role="alert">
  This is a info alert—check it out!
</div>
<div class="alert alert-light" data-alert role="alert">
  This is a light alert—check it out!
</div>
<div class="alert alert-dark" data-alert role="alert">
  This is a dark alert—check it out!
</div>
