<div class="avatar-wrap">
  <img class="avatar avatar-sm"
       src="{{ '/assets/img/avatar-eddie.jpg' | relative_url }}"
       alt="eddie's avatar"
       data-tooltip
       data-msg="Eddie Li" />
  <img class="avatar avatar-sm"
       src="{{ '/assets/img/avatar-murfee.gif' | relative_url }}"
       alt="Murfee's avatar"
       data-tooltip
       data-msg="Murfee Li" />
  <img class="avatar avatar-sm"
       src="{{ '/assets/img/avatar-vegeta.gif' | relative_url }}"
       alt="vegeta's avatar"
       data-tooltip
       data-msg="Vegeta" />
  <img class="avatar avatar-sm"
       src="{{ '/assets/img/avatar-xunyi.gif' | relative_url }}"
       alt="xunyi's avatar"
       data-tooltip
       data-msg="Xun Yi" />
  <img class="avatar avatar-sm"
       src="{{ '/assets/img/avatar-miaomiao.gif' | relative_url }}"
       alt="miaomiao's avatar"
       data-tooltip
       data-msg="Miao Miao"/>
  <img class="avatar avatar-sm"
       src="{{ '/assets/img/avatar-kmsheng.png' | relative_url }}"
       alt="kmsheng's avatar"
       data-tooltip
       data-msg="kmsheng" />
  <span class="avatar avatar-sm avatar-letter"
       data-tooltip
       data-msg="冠庭">冠</span>
  <span class="avatar avatar-sm avatar-letter"
       data-tooltip
       data-msg="杜怡萱">杜</span>
</div>
<div class="avatar-wrap">
  <img class="avatar"
       src="{{ '/assets/img/avatar-eddie.jpg' | relative_url }}"
       alt="eddie's avatar"
       data-tooltip
       data-msg="Eddie Li" />
  <img class="avatar"
       src="{{ '/assets/img/avatar-murfee.gif' | relative_url }}"
       alt="Murfee's avatar"
       data-tooltip
       data-msg="Murfee Li" />
  <img class="avatar"
       src="{{ '/assets/img/avatar-vegeta.gif' | relative_url }}"
       alt="vegeta's avatar"
       data-tooltip
       data-msg="Vegeta" />
  <img class="avatar"
       src="{{ '/assets/img/avatar-xunyi.gif' | relative_url }}"
       alt="xunyi's avatar"
       data-tooltip
       data-msg="Xun Yi" />
  <img class="avatar"
       src="{{ '/assets/img/avatar-miaomiao.gif' | relative_url }}"
       alt="miaomiao's avatar"
       data-tooltip
       data-msg="Miao Miao"/>
  <img class="avatar"
       src="{{ '/assets/img/avatar-kmsheng.png' | relative_url }}"
       alt="kmsheng's avatar"
       data-tooltip
       data-msg="kmsheng" />
  <span class="avatar avatar-letter"
       data-tooltip
       data-msg="冠庭">冠</span>
  <span class="avatar avatar-letter"
       data-tooltip
       data-msg="杜怡萱">杜</span>
</div>
<div class="avatar-wrap">
  <img class="avatar avatar-lg"
       src="{{ '/assets/img/avatar-eddie.jpg' | relative_url }}"
       alt="eddie's avatar"
       data-tooltip
       data-msg="Eddie Li" />
  <img class="avatar avatar-lg"
       src="{{ '/assets/img/avatar-murfee.gif' | relative_url }}"
       alt="Murfee's avatar"
       data-tooltip
       data-msg="Murfee Li" />
  <img class="avatar avatar-lg"
       src="{{ '/assets/img/avatar-vegeta.gif' | relative_url }}"
       alt="vegeta's avatar"
       data-tooltip
       data-msg="Vegeta" />
  <img class="avatar avatar-lg"
       src="{{ '/assets/img/avatar-xunyi.gif' | relative_url }}"
       alt="xunyi's avatar"
       data-tooltip
       data-msg="Xun Yi" />
  <img class="avatar avatar-lg"
       src="{{ '/assets/img/avatar-miaomiao.gif' | relative_url }}"
       alt="miaomiao's avatar"
       data-tooltip
       data-msg="Miao Miao"/>
  <img class="avatar avatar-lg"
       src="{{ '/assets/img/avatar-kmsheng.png' | relative_url }}"
       alt="kmsheng's avatar"
       data-tooltip
       data-msg="kmsheng" />
  <span class="avatar avatar-lg avatar-letter"
       data-tooltip
       data-msg="冠庭">冠</span>
  <span class="avatar avatar-lg avatar-letter"
       data-tooltip
       data-msg="杜怡萱">杜</span>
</div>
