<div class="avatar-wrap">
  <span class="avatar avatar-sm avatar-letter"
        data-tooltip
        data-msg="壹">壹</span>
  <span class="avatar avatar-sm avatar-letter"
        data-tooltip
        data-msg="貳">貳</span>
  <span class="avatar avatar-sm avatar-letter"
        data-tooltip
        data-msg="參">參</span>
  <span class="avatar avatar-sm avatar-letter"
        data-tooltip
        data-msg="肆">肆</span>
  <span class="avatar avatar-sm avatar-letter"
        data-tooltip
        data-msg="伍">伍</span>
</div>
<div class="avatar-wrap">
  <span class="avatar avatar-letter"
        data-tooltip
        data-msg="壹">壹</span>
  <span class="avatar avatar-letter"
        data-tooltip
        data-msg="貳">貳</span>
  <span class="avatar avatar-letter"
        data-tooltip
        data-msg="參">參</span>
  <span class="avatar avatar-letter"
        data-tooltip
        data-msg="肆">肆</span>
  <span class="avatar avatar-letter"
        data-tooltip
        data-msg="伍">伍</span>
</div>
<div class="avatar-wrap">
  <span class="avatar avatar-lg avatar-letter"
        data-tooltip
        data-msg="壹">壹</span>
  <span class="avatar avatar-lg avatar-letter"
        data-tooltip
        data-msg="貳">貳</span>
  <span class="avatar avatar-lg avatar-letter"
        data-tooltip
        data-msg="參">參</span>
  <span class="avatar avatar-lg avatar-letter"
        data-tooltip
        data-msg="肆">肆</span>
  <span class="avatar avatar-lg avatar-letter"
        data-tooltip
        data-msg="伍">伍</span>
</div>
