<div class="avatar-wrap">
  <span class="avatar avatar-sm avatar-type0"
       data-tooltip
       data-msg="壹">壹</span>
  <span class="avatar avatar-sm avatar-type1"
       data-tooltip
       data-msg="貳">貳</span>
  <span class="avatar avatar-sm avatar-type2"
       data-tooltip
       data-msg="參">參</span>
  <span class="avatar avatar-sm avatar-type3"
       data-tooltip
       data-msg="肆">肆</span>
  <span class="avatar avatar-sm avatar-type4"
       data-tooltip
       data-msg="伍">伍</span>
</div>
<div class="avatar-wrap">
  <span class="avatar avatar-type0"
       data-tooltip
       data-msg="壹">壹</span>
  <span class="avatar avatar-type1"
       data-tooltip
       data-msg="貳">貳</span>
  <span class="avatar avatar-type2"
       data-tooltip
       data-msg="參">參</span>
  <span class="avatar avatar-type3"
       data-tooltip
       data-msg="肆">肆</span>
  <span class="avatar avatar-type4"
       data-tooltip
       data-msg="伍">伍</span>
</div>
<div class="avatar-wrap">
  <span class="avatar avatar-lg avatar-type0"
       data-tooltip
       data-msg="壹">壹</span>
  <span class="avatar avatar-lg avatar-type1"
       data-tooltip
       data-msg="貳">貳</span>
  <span class="avatar avatar-lg avatar-type2"
       data-tooltip
       data-msg="參">參</span>
  <span class="avatar avatar-lg avatar-type3"
       data-tooltip
       data-msg="肆">肆</span>
  <span class="avatar avatar-lg avatar-type4"
       data-tooltip
       data-msg="伍">伍</span>
</div>
