<button class="btn btn-primary">主要<span class="badge">N</span></button>
<button class="btn btn-secondary">次要<span class="badge">N</span></button>
<button class="btn btn-success">成功<span class="badge">N</span></button>
<button class="btn btn-danger">危險<span class="badge">N</span></button>
<button class="btn btn-warn">警告<span class="badge">N</span></button>
<button class="btn btn-info">資訊<span class="badge">N</span></button>
<button class="btn btn-type1">類型1<span class="badge">N</span></button>
<button class="btn btn-type2">類型2<span class="badge">N</span></button>
<button class="btn btn-light">光明<span class="badge">N</span></button>
<button class="btn btn-dark">黑暗<span class="badge">N</span></button>
<a class="btn btn-link" tabindex="0">超連結<span class="badge">N</span></a>
