<button class="btn btn-primary" disabled>主要</button>
<button class="btn btn-secondary" disabled>次要</button>
<button class="btn btn-success" disabled>成功</button>
<button class="btn btn-danger" disabled>危險</button>
<button class="btn btn-warn" disabled>警告</button>
<button class="btn btn-info" disabled>訊息</button>
<button class="btn btn-variant1" disabled>變化1</button>
<button class="btn btn-variant2" disabled>變化2</button>
<button class="btn btn-light" disabled>光明</button>
<button class="btn btn-dark" disabled>黑暗</button>
<a class="btn btn-link disabled" tabindex="0">超連結</a>
