<button class="btn btn-primary active">主要</button>
<button class="btn btn-secondary active">次要</button>
<button class="btn btn-variant1 active">付錢</button>
<button class="btn btn-variant2 active">付錢</button>
<button class="btn btn-variant3 active">付錢</button>
<button class="btn btn-warn active">警告</button>
<button class="btn btn-danger active">危險</button>
<button class="btn btn-light active">光明</button>
<button class="btn btn-dark active">黑暗</button>
<a class="btn btn-link active" tabindex="0">超連結</a>
