<button class="btn btn-icon ripple">
  <i class="icon icon-plus"></i>
</button>

<button class="btn btn-outline">
  <i class="icon icon-plus"></i>
  新增便利貼
</button>

<button class="btn btn-sm btn-warn">
  <i class="icon icon-exclamation-triangle"></i>
  單項折讓
</button>

<button class="btn btn-warn">
  <i class="icon icon-exclamation-triangle"></i>
  單項折讓
</button>

<button class="btn btn-lg btn-warn">
  <i class="icon icon-exclamation-triangle"></i>
  單項折讓
</button>

<button class="btn  btn-sm btn-danger">
  <i class="icon icon-exclamation-triangle"></i>
  發票全額折讓
</button>

<button class="btn btn-danger">
  <i class="icon icon-exclamation-triangle"></i>
  發票全額折讓
</button>

<button class="btn btn-lg btn-danger">
  <i class="icon icon-exclamation-triangle"></i>
  發票全額折讓
</button>

<button class="btn btn-sm btn-fb">
  <i class="icon icon-fb"></i>
  透過 Facebook 登入
</button>

<button class="btn btn-fb">
  <i class="icon icon-fb"></i>
  透過 Facebook 登入
</button>

<button class="btn btn-lg btn-fb">
  <i class="icon icon-fb"></i>
  透過 Facebook 登入
</button>

<button class="btn btn-sm btn-line">
  <i class="icon icon-line"></i>
  透過 Line 登入
</button>

<button class="btn btn-line">
  <i class="icon icon-line"></i>
  透過 Line 登入
</button>

<button class="btn btn-lg btn-line">
  <i class="icon icon-line"></i>
  透過 Line 登入
</button>


