<button class="btn btn-primary active">主要</button>
<button class="btn btn-secondary active">次要</button>
<button class="btn btn-success active">成功</button>
<button class="btn btn-danger active">危險</button>
<button class="btn btn-warn active">警告</button>
<button class="btn btn-info active">訊息</button>
<button class="btn btn-type1 active">變化1</button>
<button class="btn btn-type2 active">變化2</button>
<button class="btn btn-light active">光明</button>
<button class="btn btn-dark active">黑暗</button>
<a class="btn btn-link active" tabindex="0">超連結</a>
