<button class="btn btn-primary outlined">主要</button>
<button class="btn btn-secondary outlined">次要</button>
<button class="btn btn-success outlined">成功</button>
<button class="btn btn-danger outlined">危險</button>
<button class="btn btn-warn outlined">警告</button>
<button class="btn btn-info outlined">資訊</button>
<button class="btn btn-type1 outlined">類型1</button>
<button class="btn btn-type2 outlined">類型2</button>
<button class="btn btn-light outlined">光明</button>
<button class="btn btn-dark outlined">黑暗</button>
<a class="btn btn-link outlined" tabindex="0">超連結</a>
