<div class="card mb-3 example-image-caps">
  <img class="card-img-top"
       src="https://via.placeholder.com/863x180?text=Image%20cap"
       alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="txt-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card example-image-caps">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="txt-muted">Last updated 3 mins ago</small></p>
  </div>
  <img class="card-img-bottom"
       src="https://via.placeholder.com/863x180?text=Image%20cap"
       alt="Card image cap">
</div>
