<form class="form card-shadow-sm">
  <div class="form-header">
    <div class="form-heading">預設表單</div>
    <div class="form-heading-desc">這是表單的說明文字</div>
  </div>
  <div class="form-content">
    <div class="field">
      <label for="field-email" class="label">Email</label>
      <div class="control">
        <input id="field-email"
               class="input"
               type="email"
               placeholder="範例: test@example.com" />
        <span class="hint">提示文字</span>
      </div>
    </div>
    <div class="field">
      <label for="field-name" class="label">姓名</label>
      <input id="field-name"
             class="input"
             type="text"
             placeholder="範例: 王大明" />
    </div>
    <div class="field">
      <label for="field-phone" class="label">電話</label>
      <input id="field-phone"
             class="input"
             type="tel"
             placeholder="範例: 0912-123456" />
    </div>
    <div class="field">
      <label for="field-password" class="label">密碼</label>
      <input id="field-password"
             class="input"
             type="password"
             placeholder="請輸入密碼"
             autocomplete />
    </div>
    <div class="field">
      <label for="field-disabled" class="label">Disabled</label>
      <input id="field-disabled"
             class="input"
             type="text"
             placeholder="disabled 的 text input"
             disabled="disabled" />
    </div>
    <div class="field">
      <label for="field-required" class="label">Required</label>
      <div class="control">
        <input id="field-required"
               class="input input-danger"
               type="text"
               placeholder="觸發必填狀態" />
        <span class="hint hint-danger">這是必填欄位</span>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <button class="btn btn-primary" type="submit">送出</button>
  </div>
</form>
