<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabled-text-input">Disabled input</label>
      <input type="text"
             id="disabled-text-input"
             class="form-control"
             placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabled-select">Disabled select menu</label>
      <select id="disabled-select" class="form-control">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             id="disabled-fieldset-check"
             disabled>
      <label class="form-check-label" for="disabled-fieldset-check">
        Can't check this
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
