<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabled-text-input">Disabled input</label>
      <input type="text"
             id="disabled-text-input"
             class="form-control"
             placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabled-select">Disabled select menu</label>
      <select id="disabled-select" class="form-control select">
        <option>Disabled select</option>
      </select>
    </div>
    <label class="form-check disabled">
      <div class="checkbox ripple">
        <input type="checkbox" disabled>
        <i class="icon-checkbox"></i>
      </div>
      <span>Can't check this</span>
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
