<p>箭頭置中</p>
<button class="btn btn-dropdown" data-dropdown data-target="center-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu1"
     data-place="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="center-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu2"
     data-place="bottom">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="center-menu3">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu3"
     data-place="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="center-menu4">
  <i class="icon-chevron-right"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu4"
     data-place="right">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置左</p>
<button class="btn btn-dropdown" data-dropdown data-target="left-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="left-menu1"
     data-place="top"
     data-align="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="left-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="left-menu2"
     data-place="bottom"
     data-align="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置右</p>
<button class="btn btn-dropdown" data-dropdown data-target="right-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="right-menu1"
     data-place="top"
     data-align="right">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="right-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="right-menu2"
     data-place="bottom"
     data-align="right">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置上</p>
<button class="btn btn-dropdown" data-dropdown data-target="top-menu1">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="top-menu1"
     data-place="left"
     data-align="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="top-menu2">
  <i class="icon-chevron-right no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="top-menu2"
     data-place="right"
     data-align="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置下</p>
<button class="btn btn-dropdown" data-dropdown data-target="bottom-menu1">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="bottom-menu1"
     data-place="left"
     data-align="bottom">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="bottom-menu2">
  <i class="icon-chevron-right no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="bottom-menu2"
     data-place="right"
     data-align="bottom">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>可捲動的選單</p>

<button class="btn btn-dropdown" data-dropdown data-target="long-menu">
  項目很多的選單
  <i class="icon-chevron-down"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="long-menu"
     data-place="bottom"
     data-align="right">
  <div class="dropdown-menu-scrollable">
    <a class="dropdown-item" data-dropdown-item>選項1</a>
    <a class="dropdown-item" data-dropdown-item>選項2</a>
    <a class="dropdown-item" data-dropdown-item>選項3</a>
  <div class="dropdown-divider"></div>
    <a class="dropdown-item" data-dropdown-item>選項4</a>
    <a class="dropdown-item" data-dropdown-item>選項5</a>
    <a class="dropdown-item" data-dropdown-item>選項6</a>
    <a class="dropdown-item" data-dropdown-item>選項7</a>
    <a class="dropdown-item" data-dropdown-item>選項8</a>
    <a class="dropdown-item" data-dropdown-item>選項9</a>
    <a class="dropdown-item" data-dropdown-item>選項10</a>
  </div>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="no-arrow-menu">
  沒有箭頭
</button>
<div class="dropdown-menu no-arrow"
     data-dropdown-menu="no-arrow-menu"
     data-place="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br>
<br>

<h4 class="heading-dropdown" data-dropdown data-target="heading-menu">
  這是 H4 標題
  <i class="icon icon-chevron-down"></i>
</h4>
<div class="dropdown-menu no-arrow"
     data-dropdown-menu="heading-menu"
     data-place="bottom"
     data-align="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br>
<br>

<button class="btn btn-dropdown" data-dropdown data-target="title-menu">
  有標題的選單
</button>
<div class="dropdown-menu no-padding"
     data-dropdown-menu="title-menu"
     data-place="right"
     data-align="center">
  <div class="dropdown-menu-title">我是標題</div>
  <div class="dropdown-menu-content">想問一下有沒有不用學 css 就可以開發前端的方法?</div>
</div>

<br>
<br>

<h4 class="heading-dropdown" data-dropdown data-target="mega-menu">
  一拳必殺股份有限公司
  <i class="icon icon-chevron-down"></i>
</h4>
<div class="dropdown-menu no-arrow"
     data-dropdown-menu="mega-menu"
     data-place="bottom"
     data-align="left">
 <ul class="mega-menu">
   <li class="mega-menu-divider">
     <div class="d-flex">
       <div class="mega-menu-col">簡訊點數: 123,456</div>
       <div class="mega-menu-col">使用者: 7 人</div>
     </div>
   </li>
   <li class="mega-menu-divider">
     <div class="mega-menu-icon-box">
       <div class="d-flex justify-content-around">
         <div class="mega-menu-icon-box-item">
           <i class="icon-paper-plane"></i>
           寄件人
         </div>
         <div class="mega-menu-icon-box-item">
           <i class="icon-doc"></i>
           帳單
         </div>
         <div class="mega-menu-icon-box-item">
           <i class="icon-invoice"></i>
           發票設定
         </div>
       </div>
       <div class="d-flex justify-content-around">
         <div class="mega-menu-icon-box-item">
           <i class="icon-bolt"></i>
           第三方服務整合
         </div>
         <div class="mega-menu-icon-box-item">
           <i class="icon-code"></i>
           API 串接
         </div>
         <div class="mega-menu-icon-box-item">
           <i class="icon-download"></i>
            匯出訂單
         </div>
       </div>
     </div>
   </li>
   <li>
     <a class="mega-menu-item" href="">簡訊發送紀錄</a>
     <a class="mega-menu-item" href="">使用者操作記錄</a>
   </li>
 </ul>
</div>
