<div class="dropdown" data-dropdown>
  <button class="btn btn-dropdown-toggle" data-dropdown-toggle>下拉選單</button>
  <div class="dropdown-menu" data-dropdown-menu>
    <a class="dropdown-item" href="#">選項1</a>
    <a class="dropdown-item" href="#">選項2</a>
    <a class="dropdown-item" href="#">選項3</a>
  </div>
</div>

<div class="dropdown" data-dropdown>
  <button class="btn btn-dropdown-toggle" data-dropdown-toggle>靠右對齊的下拉選單</button>
  <div class="dropdown-menu right" data-dropdown-menu>
    <a class="dropdown-item" href="#">選項1</a>
    <a class="dropdown-item" href="#">選項2</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">選項3</a>
  </div>
</div>

<div class="dropdown" data-dropdown>
  <button class="btn btn-dropdown-toggle" data-dropdown-toggle>選項很多的下拉選單</button>
  <div class="dropdown-menu" data-dropdown-menu>
    <div class="dropdown-menu-scrollable">
      <a class="dropdown-item" href="#">選項1</a>
      <a class="dropdown-item" href="#">選項2</a>
      <a class="dropdown-item" href="#">選項3</a>
      <a class="dropdown-item" href="#">選項4</a>
      <a class="dropdown-item" href="#">選項5</a>
      <a class="dropdown-item" href="#">選項6</a>
      <a class="dropdown-item" href="#">選項7</a>
      <a class="dropdown-item" href="#">選項8</a>
      <a class="dropdown-item" href="#">選項9</a>
      <a class="dropdown-item" href="#">選項10</a>
    </div>
  </div>
</div>
