<p>箭頭置中</p>
<button class="btn btn-dropdown" data-dropdown="center-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu1"
     data-place="top">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="center-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu2"
     data-place="bottom">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="center-menu3">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu3"
     data-place="left">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="center-menu4">
  <i class="icon-chevron-right"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu4"
     data-place="right">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<br><br>

<p>箭頭置左</p>
<button class="btn btn-dropdown" data-dropdown="left-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="left-menu1"
     data-place="top"
     data-align="left">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="left-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="left-menu2"
     data-place="bottom"
     data-align="left">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<br><br>

<p>箭頭置右</p>
<button class="btn btn-dropdown" data-dropdown="right-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="right-menu1"
     data-place="top"
     data-align="right">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="right-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="right-menu2"
     data-place="bottom"
     data-align="right">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<br><br>

<p>箭頭置上</p>
<button class="btn btn-dropdown" data-dropdown="top-menu1">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="top-menu1"
     data-place="left"
     data-align="top">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="top-menu2">
  <i class="icon-chevron-right no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="top-menu2"
     data-place="right"
     data-align="top">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<br><br>

<p>箭頭置下</p>
<button class="btn btn-dropdown" data-dropdown="bottom-menu1">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="bottom-menu1"
     data-place="left"
     data-align="bottom">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown="bottom-menu2">
  <i class="icon-chevron-right no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="bottom-menu2"
     data-place="right"
     data-align="bottom">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>

<br><br>

<p>可捲動的選單</p>

<button class="btn btn-dropdown" data-dropdown="long-menu">
  項目很多的選單
  <i class="icon-chevron-down"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="long-menu"
     data-place="bottom"
     data-align="right">
  <div class="dropdown-menu-scrollable">
    <a class="dropdown-item" href="#">選項1</a>
    <a class="dropdown-item" href="#">選項2</a>
    <a class="dropdown-item" href="#">選項3</a>
  <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">選項4</a>
    <a class="dropdown-item" href="#">選項5</a>
    <a class="dropdown-item" href="#">選項6</a>
    <a class="dropdown-item" href="#">選項7</a>
    <a class="dropdown-item" href="#">選項8</a>
    <a class="dropdown-item" href="#">選項9</a>
    <a class="dropdown-item" href="#">選項10</a>
  </div>
</div>

<button class="btn btn-dropdown" data-dropdown="no-arrow-menu">
  沒有箭頭
</button>
<div class="dropdown-menu no-arrow"
     data-dropdown-menu="no-arrow-menu"
     data-place="top">
  <a class="dropdown-item" href="#">選項1</a>
  <a class="dropdown-item" href="#">選項2</a>
  <a class="dropdown-item" href="#">選項3</a>
</div>
