<label class="form-check">
  <div class="radio ripple">
    <input type="radio" name="example-radios" value="option1" checked />
    <i class="icon-radio"></i>
  </div>
  <span>Default radio</span>
</label>

<label class="form-check">
  <div class="radio ripple">
    <input type="radio" name="example-radios" value="option2" />
    <i class="icon-radio"></i>
  </div>
  <span>Second default radio</span>
</label>

<label class="form-check disabled">
  <div class="radio ripple">
    <input type="radio" name="example-radios" value="option3" disabled />
    <i class="icon-radio"></i>
  </div>
  <span>Disabled radio</span>
</label>
