<label class="form-check form-check-inline">
  <div class="radio ripple">
    <input type="radio" name="example-radios-inline2" value="option1" />
    <i class="icon-radio"></i>
  </div>
  <span>1</span>
</label>
<label class="form-check form-check-inline">
  <div class="radio ripple">
    <input type="radio" name="example-radios-inline2" value="option2" />
    <i class="icon-radio"></i>
  </div>
  <span>2</span>
</label>
<label class="form-check form-check-inline disabled">
  <div class="radio ripple">
    <input type="radio" name="example-radios-inline2" value="option3" disabled />
    <i class="icon-radio"></i>
  </div>
  <span>3 (disabled)</span>
</label>
