<form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2"
             for="inline-form-custom-select">Preference</label>
      <select class="custom-select mr-sm-2"
              id="inline-form-custom-select">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-auto my-1">
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox"
               class="custom-control-input"
               id="custom-control-auto-sizing">
        <label class="custom-control-label"
               for="custom-control-auto-sizing">Remember my preference</label>
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
