<form>
  <div class="form-group">
    <label for="example-input-email1" class="required">Email address</label>
    <input id="example-input-email1"
           type="email"
           class="form-control"
           aria-describedby="emailHelp"
           placeholder="Enter email">
     <small id="emailHelp"
            class="form-txt txt-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="example-input-password1">Password</label>
    <input type="password"
           class="form-control"
           id="example-input-password1"
           placeholder="Password">
  </div>

  <label class="form-check">
    <div class="checkbox ripple">
      <input type="checkbox" />
      <i class="icon-checkbox"></i>
    </div>
    <span>Check me out</span>
  </label>

  <label class="form-switch">
    <div class="switch-wrap">
      <input type="checkbox" />
      <div class="switch"></div>
    </div>
    <span>Switch me</span>
  </label>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
