<div class="form-check">
  <input class="form-check-input"
         type="radio"
         name="example-radios"
         id="example-radios1"
         value="option1"
         checked>
  <label class="form-check-label" for="example-radios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input"
         type="radio"
         name="example-radios"
         id="example-radios2"
         value="option2">
  <label class="form-check-label" for="example-radios2">
    Second default radio
  </label>
</div>
<div class="form-check disabled">
  <input class="form-check-input"
         type="radio"
         name="example-radios"
         id="example-radios3"
         value="option3" disabled>
  <label class="form-check-label" for="example-radios3">
    Disabled radio
  </label>
</div>
