<label class="form-check form-check-inline">
  <div class="checkbox ripple">
    <input type="checkbox" value="option1" />
    <i class="icon-checkbox"></i>
  </div>
  <span>1</span>
</label>
<label class="form-check form-check-inline">
  <div class="checkbox ripple">
    <input type="checkbox" value="option2" />
    <i class="icon-checkbox"></i>
  </div>
  <span>2</span>
</label>
<label class="form-check form-check-inline disabled">
  <div class="checkbox ripple">
    <input type="checkbox" value="option3" disabled />
    <i class="icon-checkbox"></i>
  </div>
  <span>3 (disabled)</span>
</label>
