<form>
  <div class="form-group row">
    <label for="input-email3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10 col-form-field">
      <input type="email"
             class="form-control"
             id="input-email3"
             placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input-password3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10 col-form-field">
      <input type="password"
             class="form-control"
             id="input-password3"
             placeholder="Password">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">

        <label class="form-check">
          <div class="radio ripple">
            <input type="radio" name="grid-radios" value="option1" checked />
            <i class="icon-radio"></i>
          </div>
          <span>First radio</span>
        </label>
        <label class="form-check">
          <div class="radio ripple">
            <input type="radio" name="grid-radios" value="option2" />
            <i class="icon-radio"></i>
          </div>
          <span>Second radio</span>
        </label>
        <label class="form-check disabled">
          <div class="radio ripple">
            <input type="radio" name="grid-radios" value="option3" disabled />
            <i class="icon-radio"></i>
          </div>
          <span>Third disabled radio</span>
        </label>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Checkbox</div>
    <div class="col-sm-10 col-form-field">
      <label class="form-check">
        <div class="checkbox ripple">
          <input type="checkbox" />
          <i class="icon-checkbox"></i>
        </div>
        <span>Example checkbox</span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
