<div class="row">
  <i class="icon icon-blackcat icon-lg"></i>
  <i class="icon icon-hct icon-lg"></i>
  <i class="icon icon-pelican icon-lg"></i>
  <i class="icon icon-smilepay icon-lg"></i>
  <i class="icon icon-ecpay icon-lg"></i>
</div>

<div class="row">
  <i class="icon icon-ellipsis-v"></i>
  <i class="icon icon-ellipsis-h"></i>
  <i class="icon icon-times"></i>
  <i class="icon icon-cog"></i>
</div>

<div class="row">
  <button class="btn-check-circle">
    <i class="icon icon-check icon-sm"></i>
  </button>
  <button class="btn-cross-circle">
    <i class="icon icon-cross icon-sm"></i>
  </button>
</div>
