{% for item in site.data.icons %}
  <div class="icon">
    {% if item.type == 'svg' %}
      <div class="icon-content">
        <img class="svg" src="{{ item.src | relative_url }}" alt="{{ item.name }}" />
      </div>
      <div class="icon-desc">{{ item.name }}</div>
    {% else %}
      <div class="icon-content">
        <i class="icon-{{ item.name }}"></i>
      </div>
      <div class="icon-desc">{{ item.name }}</div>
    {% endif %}
  </div>
  {% if forloop.index == 13 %}
    <br />
  {% endif %}
{% endfor %}
