<button class="btn btn-sm btn-outline">
  <svg class="svg-ellipsis-h" viewBox="0 0 16 16" width="16px" height="16px">
    <path d="M2 10a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm6 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm6 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" fill-rule="evenodd"></path>
  </svg>
</button>

<svg class="svg-check-circle" width="19px" height="19px" viewBox="0 0 19 19">
  <g>
    <circle fill="#1FA672" cx="9.5" cy="9.5" r="9.5"></circle>
    <g transform="translate(4.4, 6.1)"
       stroke="#FFFFFF"
       stroke-linecap="square"
       stroke-width="2">
        <path d="M0.4,3.8 L3.5,6.9"></path>
        <path d="M3.5,6.9 L9,0.7"></path>
    </g>
  </g>
</svg>

<svg class="svg-cross-circle" width="19px" height="19px" viewBox="0 0 19 19">
  <g>
    <circle fill="#E03953" cx="9.5" cy="9.5" r="9.5"></circle>
    <g transform="translate(5.5, 5.5)" stroke="#FFFFFF" stroke-width="2">
        <path d="M0.4,0.3 L7.66,7.7"></path>
        <path d="M0.4,7.7 L7.66,0.4"></path>
    </g>
  </g>
</svg>
