<form class="form">
  <div>
    <label for="field-email" class="label">Email</label>
    <input id="field-email"
           class="input"
           type="email"
           placeholder="請輸入 Email" />
  </div>
  <div>
    <label for="field-name" class="label">姓名</label>
    <input id="field-name"
           class="input"
           type="text"
           placeholder="請輸入姓名" />
  </div>
  <div>
    <label for="field-phone" class="label">電話</label>
    <input id="field-phone"
           class="input"
           type="tel"
           placeholder="請輸入電話" />
  </div>
  <div>
    <label for="field-password" class="label">密碼</label>
    <input id="field-password"
           class="input"
           type="password"
           placeholder="請輸入密碼" />
  </div>
  <div class="box-submit">
    <button class="btn btn-primary" type="submit">送出</button>
  </div>
</form>
