<div>
  <span class="label label-new">新訂單</span>
</div>
<div>
  <span class="label label-type1">等待中</span>
  <span class="label label-type1">確認中</span>
  <span class="label label-type1">已確認</span>
</div>
<div>
  <span class="label label-type2">待出貨</span>
  <span class="label label-type2">出貨中</span>
  <span class="label label-type2">已出貨</span>
</div>
<div>
  <span class="label label-type3">臨時</span>
  <span class="label label-type3">其他</span>
  <span class="label label-type3">延遲出貨</span>
</div>
<div>
  <span class="label label-type4">退貨中</span>
  <span class="label label-type4">換貨中</span>
  <span class="label label-type4">已退貨</span>
  <span class="label label-type4">已退款</span>
</div>
<div>
  <span class="label label-invoice">未開發票</span>
  <span class="label label-invoice">已開發票</span>
  <span class="label label-invoice">發票折讓</span>
  <span class="label label-invoice">發票作廢</span>
</div>
<div>
  <span class="label label-others">其他裝態</span>
  <button class="label label-others label-btn">可以點的 label</button>
</div>
<div>
  <span class="label label-coupon">優惠碼 KPLOVE</span>
  <span class="label label-danger">狀態異常</span>
</div>
<div class="row-svgs">
  <img src="{{ '/assets/img/check-circle.svg' | relative_url }}" alt="checkmark svg" />
  <img src="{{ '/assets/img/cross-circle.svg' | relative_url }}" alt="cross svg" />
</div>
