<ul class="list-inline">
  <li>
    <a href="">連結1</a>
  </li>
  <li>
    <a href="">連結2</a>
  </li>
  <li>
    <a href="">連結3</a>
  </li>
</ul>

<ul class="list-style-disc">
  <li>
    <a href="">連結1</a>
  </li>
  <li>
    <a href="">連結2</a>
  </li>
  <li>
    <a href="">連結3</a>
  </li>
</ul>

<ul class="list-style-circle">
  <li>
    <a href="">連結1</a>
  </li>
  <li>
    <a href="">連結2</a>
  </li>
  <li>
    <a href="">連結3</a>
  </li>
</ul>

<ul class="list-style-square">
  <li>
    <a href="">連結1</a>
  </li>
  <li>
    <a href="">連結2</a>
  </li>
  <li>
    <a href="">連結3</a>
  </li>
</ul>

<ul class="list-style-decimal">
  <li>
    <a href="">連結1</a>
  </li>
  <li>
    <a href="">連結2</a>
  </li>
  <li>
    <a href="">連結3</a>
  </li>
</ul>
