<nav aria-label="Page navigation example">
  <div id="pagination" class="pagination-wrap">
    <ul class="pagination" data-pagination>
      <li class="pagination">
        <a class="page-link" data-prev>
          <i class="icon-chevron-left"></i>
        </a>
      </li>
      <li class="pagination">
        <a class="page-link" data-next>
          <i class="icon-chevron-right"></i>
        </a>
      </li>
    </ul>
    <div class="input-group">
      <input data-page-input type="number" class="form-control input" placeholder="Go to page...">
      <div class="input-group-append">
         <button class="input-group-text">GO</button>
      </div>
    </div>

  </div>
</nav>
