<select class="select">
  <option value="">請選擇</option>
  <option value="">請選擇</option>
  <option value="1">燙青菜</option>
  <option value="2">燒肉</option>
  <option value="3">滿漢全席</option>
</select>
<select class="select select-outline">
  <option value="">請選擇</option>
  <option value="1">燙青菜</option>
  <option value="2">燒肉</option>
  <option value="3">滿漢全席</option>
</select>
<select class="select select-outline-strong">
  <option value="">請選擇</option>
  <option value="1">燙青菜</option>
  <option value="2">燒肉</option>
  <option value="3">滿漢全席</option>
</select>
