<div class="modal" data-modal="example-sub-modal"
     tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">子視窗標題</h5>
        <button type="button" class="btn-close" data-close aria-label="Close">
          <i class="icon icon-cross"></i>
        </button>
      </div>
      <div class="modal-body bg-content">
        <div>
          子視窗內文
        </div>
      </div>
      <div class="modal-footer">
        <button data-cancel class="btn btn-outline">取消</button>
        <button data-confirm class="btn btn-primary">確認</button>
      </div>
    </div>
  </div>
</div>
