<div class="tabbox tabbox-sm" data-tabbox>
   <button class="tab-btn" data-tabbox-item="all" data-default>全部</button><!--
--><button class="tab-btn tab-btn-new"
           data-tabbox-item="new"
           data-active-color="#018972">新訂單</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="waiting"
           data-active-color="#018972">等待中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirming"
           data-active-color="#018972">確認中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirmed"
           data-active-color="#018972">已確認</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="wait-for-shipping"
           data-active-color="#018972">待出貨</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipping"
           data-active-color="#018972">出貨中</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipped"
           data-active-color="#018972">已出貨</button><!--
--><div class="select-box"
        data-tabbox-item="others">
     <select class="select">
       <option value="">其他</option>
       <option value="temp">臨時</option>
       <option value="others">其他</option>
       <option value="cancelled">已取消</option>
       <option value="deleted">已刪除</option>
     </select>
   </div><!--
--><div class="select-box"
        data-tabbox-item="return/exchange">
     <select class="select">
       <option value="">退換貨</option>
       <option value="returning">退貨中</option>
       <option value="exchanging">換貨中</option>
       <option value="returned">已退貨</option>
       <option value="refunded">已退款</option>
     </select>
   </div><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-unissued"
           data-active-color="#5d69e3">未開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-issued"
           data-active-color="#5d69e3">已開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-debited"
           data-active-color="#5d69e3">發票折讓</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-voided"
           data-active-color="#5d69e3">發票作廢</button><!--
--><button class="tab-btn tab-btn-others"
           data-tabbox-item="7days"
           data-active-color="#7d7d7d">七日內出貨</button>
</div>

<div class="tabbox" data-tabbox>
   <button class="tab-btn" data-tabbox-item="all" data-default>全部</button><!--
--><button class="tab-btn tab-btn-new"
           data-tabbox-item="new"
           data-active-color="#018972">新訂單</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="waiting"
           data-active-color="#018972">等待中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirming"
           data-active-color="#018972">確認中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirmed"
           data-active-color="#018972">已確認</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="wait-for-shipping"
           data-active-color="#018972">待出貨</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipping"
           data-active-color="#018972">出貨中</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipped"
           data-active-color="#018972">已出貨</button><!--
--><div class="select-box"
        data-tabbox-item="others">
     <select class="select">
       <option value="">其他</option>
       <option value="temp">臨時</option>
       <option value="others">其他</option>
       <option value="cancelled">已取消</option>
       <option value="deleted">已刪除</option>
     </select>
   </div><!--
--><div class="select-box"
        data-tabbox-item="return/exchange">
     <select class="select">
       <option value="">退換貨</option>
       <option value="returning">退貨中</option>
       <option value="exchanging">換貨中</option>
       <option value="returned">已退貨</option>
       <option value="refunded">已退款</option>
     </select>
   </div><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-unissued"
           data-active-color="#5d69e3">未開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-issued"
           data-active-color="#5d69e3">已開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-debited"
           data-active-color="#5d69e3">發票折讓</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-voided"
           data-active-color="#5d69e3">發票作廢</button><!--
--><button class="tab-btn tab-btn-others"
           data-tabbox-item="7days"
           data-active-color="#7d7d7d">七日內出貨</button>
</div>

<div class="tabbox tabbox-lg" data-tabbox>
   <button class="tab-btn" data-tabbox-item="all" data-default>全部</button><!--
--><button class="tab-btn tab-btn-new"
           data-tabbox-item="new"
           data-active-color="#018972">新訂單</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="waiting"
           data-active-color="#018972">等待中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirming"
           data-active-color="#018972">確認中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirmed"
           data-active-color="#018972">已確認</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="wait-for-shipping"
           data-active-color="#018972">待出貨</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipping"
           data-active-color="#018972">出貨中</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipped"
           data-active-color="#018972">已出貨</button><!--
--><div class="select-box"
        data-tabbox-item="others">
     <select class="select">
       <option value="">其他</option>
       <option value="temp">臨時</option>
       <option value="others">其他</option>
       <option value="cancelled">已取消</option>
       <option value="deleted">已刪除</option>
     </select>
   </div><!--
--><div class="select-box"
        data-tabbox-item="return/exchange">
     <select class="select">
       <option value="">退換貨</option>
       <option value="returning">退貨中</option>
       <option value="exchanging">換貨中</option>
       <option value="returned">已退貨</option>
       <option value="refunded">已退款</option>
     </select>
   </div><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-unissued"
           data-active-color="#5d69e3">未開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-issued"
           data-active-color="#5d69e3">已開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-debited"
           data-active-color="#5d69e3">發票折讓</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-voided"
           data-active-color="#5d69e3">發票作廢</button><!--
--><button class="tab-btn tab-btn-others"
           data-tabbox-item="7days"
           data-active-color="#7d7d7d">七日內出貨</button>
</div>
