<div class="tabbox tabbox-lg" data-tabbox>
   <button class="tab-btn" data-tabbox-item="all" data-default>全部</button><!--
--><button class="tab-btn tab-btn-new"
           data-tabbox-item="new"
           data-active-color="#018972">新訂單</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="waiting"
           data-active-color="#018972">等待中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirming"
           data-active-color="#018972">確認中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="confirmed"
           data-active-color="#018972">已確認</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="wait-for-shipping"
           data-active-color="#018972">待出貨</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipping"
           data-active-color="#018972">出貨中</button><!--
--><button class="tab-btn tab-btn-type2"
           data-tabbox-item="shipped"
           data-active-color="#018972">已出貨</button><!--
--><button class="tab-btn"
           data-tabbox-dropdown
           data-target="menu-lg-other"
           data-active-color="#018972">
           其他
     <i class="icon icon-chevron-down"></i>
   </button><!--
--><button class="tab-btn"
           data-tabbox-dropdown
           data-target="menu-lg-exchange"
           data-active-color="#018972">
           退換貨
     <i class="icon icon-chevron-down"></i>
   </button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-unissued"
           data-active-color="#5d69e3">未開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-issued"
           data-active-color="#5d69e3">已開發票</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-debited"
           data-active-color="#5d69e3">發票折讓</button><!--
--><button class="tab-btn tab-btn-invoice"
           data-tabbox-item="invoice-voided"
           data-active-color="#5d69e3">發票作廢</button><!--
--><button class="tab-btn tab-btn-others"
           data-tabbox-item="7days"
           data-active-color="#7d7d7d">七日內出貨</button>
</div>

<div class="dropdown-menu"
     data-dropdown-menu="menu-lg-other"
     data-place="bottom">
  <a class="dropdown-item" data-value="temp" href="">臨時</a>
  <a class="dropdown-item" data-value="other" href="">其他</a>
  <a class="dropdown-item" data-value="cancelled" href="">已取消</a>
  <a class="dropdown-item" data-value="deleted" href="">已刪除</a>
</div>

<div class="dropdown-menu"
     data-dropdown-menu="menu-lg-exchange"
     data-place="bottom">
  <a class="dropdown-item" data-value="returning" href="">退貨中</a>
  <a class="dropdown-item" data-value="exchanging" href="">換貨中</a>
  <a class="dropdown-item" data-value="returned" href="">已退貨</a>
  <a class="dropdown-item" data-value="refunded" href="">已退款</a>
</div>
