<div class="tabbox" data-tabbox>
   <button class="tab-btn" data-tabbox-item="all" data-default>全部</button><!--
--><button class="tab-btn tab-btn-type0"
           data-tabbox-item="new"
           data-active-color="#018972">新訂單</button><!--
--><button class="tab-btn tab-btn-type0"
           data-tabbox-item="waiting"
           data-active-color="#018972">等待中</button><!--
--><button class="tab-btn tab-btn-type0"
           data-tabbox-item="confirming"
           data-active-color="#018972">確認中</button><!--
--><button class="tab-btn tab-btn-type0"
           data-tabbox-item="confirmed"
           data-active-color="#018972">已確認</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="wait-for-shipping"
           data-active-color="#018972">待出貨</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="shipping"
           data-active-color="#018972">出貨中</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="shipped"
           data-active-color="#018972">已出貨</button><!--
--><button class="tab-btn tab-btn-type1"
           data-tabbox-item="delay"
           data-active-color="#018972">延遲出貨</button><!--
--><button class="tab-btn"
           data-tabbox-dropdown
           data-target="menu-md-exchange">
           退換貨
     <i class="icon icon-chevron-down"></i>
   </button><!--
--><button class="tab-btn"
           data-tabbox-dropdown
           data-target="menu-md-other">
           其他
     <i class="icon icon-chevron-down"></i>
   </button><!--
--><button class="tab-btn tab-btn-type3"
           data-tabbox-item="invoice-unissued"
           data-active-color="#5d69e3">未開發票</button><!--
--><button class="tab-btn tab-btn-type3"
           data-tabbox-item="invoice-issued"
           data-active-color="#5d69e3">已開發票</button><!--
--><button class="tab-btn tab-btn-type3"
           data-tabbox-item="invoice-debited"
           data-active-color="#5d69e3">發票折讓</button><!--
--><button class="tab-btn tab-btn-type3"
           data-tabbox-item="invoice-voided"
           data-active-color="#5d69e3">發票作廢</button><!--
--><button class="tab-btn"
           data-tabbox-item="7days"
           data-active-color="#7d7d7d">七日內出貨</button>
</div>

<div class="dropdown-menu"
     data-dropdown-menu="menu-md-other"
     data-place="bottom">
  <a class="dropdown-item"
    data-tabbox-item="temp"
    data-active-color="#e03953">臨時</a>
  <a class="dropdown-item"
     data-tabbox-item="other"
     data-active-color="#e03953">其他</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item"
     data-tabbox-item="cancelled"
     data-active-color="#8b8b9e">已取消</a>
  <a class="dropdown-item"
     data-tabbox-item="deleted"
     data-active-color="#313864">已刪除</a>
</div>

<div class="dropdown-menu"
     data-dropdown-menu="menu-md-exchange"
     data-place="bottom">
  <a class="dropdown-item"
     data-tabbox-item="returning"
     data-active-color="#19af95">退貨中</a>
  <a class="dropdown-item"
     data-tabbox-item="exchanging"
     data-active-color="#19af95">換貨中</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item"
     data-tabbox-item="returned"
     data-active-color="#8b8b9e">已退貨</a>
  <a class="dropdown-item"
     data-tabbox-item="refunded"
     data-active-color="#8b8b9e">已退款</a>
</div>
