<div class="tabbox tabbox-uno" data-tabbox>
   <button class="tab-btn" data-tabbox-item="all" data-default>全部</button><!--
--><button class="tab-btn"
           data-tabbox-item="new">新訂單</button><!--
--><button class="tab-btn"
           data-tabbox-item="waiting">等待中</button><!--
--><button class="tab-btn"
           data-tabbox-item="confirming">確認中</button><!--
--><button class="tab-btn"
           data-tabbox-item="confirmed">已確認</button><!--
--><button class="tab-btn"
           data-tabbox-item="wait-for-shipping">待出貨</button><!--
--><button class="tab-btn"
           data-tabbox-item="shipping"
           >出貨中</button><!--
--><button class="tab-btn"
           data-tabbox-item="shipped">已出貨</button><!--
--><button class="tab-btn"
           data-tabbox-item="delay">延遲出貨</button><!--
--><button class="tab-btn"
           data-tabbox-dropdown
           data-target="menu-md-exchange">
           退換貨
     <i class="icon-chevron-down"></i>
   </button><!--
--><button class="tab-btn"
           data-tabbox-dropdown
           data-target="menu-md-other">
           其他
     <i class="icon-chevron-down"></i>
   </button><!--
--><button class="tab-btn"
           data-tabbox-item="invoice-unissued">未開發票</button><!--
--><button class="tab-btn"
           data-tabbox-item="invoice-issued">已開發票</button><!--
--><button class="tab-btn"
           data-tabbox-item="invoice-debited">發票折讓</button><!--
--><button class="tab-btn"
           data-tabbox-item="invoice-voided">發票作廢</button><!--
--><button class="tab-btn"
           data-tabbox-item="7days"
           >七日內出貨</button>
</div>

<div class="dropdown-menu"
     data-dropdown-menu="menu-md-other"
     data-place="bottom">
  <a class="dropdown-item"
    data-dropdown-item
    data-tabbox-item="temp">臨時</a>
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="other">其他</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="cancelled">已取消</a>
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="deleted">已刪除</a>
</div>

<div class="dropdown-menu"
     data-dropdown-menu="menu-md-exchange"
     data-place="bottom">
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="returning">退貨中</a>
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="exchanging">換貨中</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="returned">已退貨</a>
  <a class="dropdown-item"
     data-dropdown-item
     data-tabbox-item="refunded">已退款</a>
</div>
