<table class="table">
  <thead>
    <tr>
      <th>品項</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>玉米蛋餅</td>
      <td>30 元</td>
    </tr>
    <tr>
      <td>火腿蛋餅</td>
      <td>25 元</td>
    </tr>
    <tr>
      <td>香菜蛋餅</td>
      <td>35 元</td>
    </tr>
  </tbody>
</table>

<table class="table striped">
  <thead>
    <tr>
      <th>品項</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>綠茶</td>
      <td>30 元</td>
    </tr>
    <tr>
      <td>紅茶</td>
      <td>25 元</td>
    </tr>
    <tr>
      <td>奶茶</td>
      <td>35 元</td>
    </tr>
    <tr>
      <td>冰咖啡</td>
      <td>35 元</td>
    </tr>
  </tbody>
</table>
