<table class="table">
  <thead>
    <tr>
      <th>品項</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>玉米蛋餅</td>
      <td>30 元</td>
    </tr>
    <tr>
      <td>火腿蛋餅</td>
      <td>25 元</td>
    </tr>
    <tr>
      <td>香菜蛋餅</td>
      <td>35 元</td>
    </tr>
  </tbody>
</table>

<table class="table striped">
  <thead>
    <tr>
      <th>品項</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>綠茶</td>
      <td>30 元</td>
    </tr>
    <tr>
      <td>紅茶</td>
      <td>25 元</td>
    </tr>
    <tr>
      <td>奶茶</td>
      <td>35 元</td>
    </tr>
    <tr>
      <td>冰咖啡</td>
      <td>35 元</td>
    </tr>
  </tbody>
</table>

<div class="table-responsive">
  <table class="table striped">
    <thead>
      <tr>
        <th>訂單編號</th>
        <th>訂單狀態</th>
        <th>品項</th>
        <th>價錢</th>
        <th>下單時間</th>
        <th>指定送達時間</th>
        <th>送貨地址</th>
        <th>備註</th>
        <th>發票</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#12345678</td>
        <td>新訂單</td>
        <td>珍珠奶茶 * 1</td>
        <td>50</td>
        <td>2020/03/31 14:05</td>
        <td>2020/04/01 14:05</td>
        <td>高雄市楠梓區壽豐路 421 號</td>
        <td>不要吸管</td>
        <td>XY12345678</td>
      </tr>
    </tbody>
  </table>
</div>
