<table class="table table-fonts bg-disabled content-disabled">
  <tr>
    <th>標籤</th>
    <td>
      <div>
        <span class="tag tag-primary">主要</span>
        <span class="tag tag-secondary">次要</span>
        <span class="tag tag-success">成功</span>
        <span class="tag tag-danger">危險</span>
        <span class="tag tag-warn">警告</span>
        <span class="tag tag-info">資訊</span>
        <span class="tag tag-light">光明</span>
        <span class="tag tag-dark">黑暗</span>
        <span class="tag tag-danger-ex">非常危險</span>
      </div>
      <div>
        <span class="tag tag-type0">type0</span>
        <span class="tag tag-type1">type1</span>
        <span class="tag tag-type2">type2</span>
        <span class="tag tag-type3">type3</span>
        <span class="tag tag-type4">type4</span>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <th>訂單編號</th>
    <td>SP12345678</td>
    <td></td>
  </tr>
  <tr>
    <th>托運單號</th>
    <td>1002-6790-5721</td>
    <td></td>
  </tr>
  <tr>
    <th>發票號碼</th>
    <td class="txt-type1">MH-12345678</td>
    <td></td>
  </tr>
  <tr>
    <th>火箭快遞</th>
    <td class="txt-type4">439944</td>
    <td></td>
  </tr>
  <tr>
    <th>便利貼暱稱</th>
    <td class="txt-avatar">
      <img class="avatar avatar-sm avatar-eddie"
           src="{{ '/assets/img/avatar-eddie.jpg' | relative_url }}"
           alt="eddie's avatar" />
      eddie
    </td>
    <td></td>
  </tr>
  <tr>
    <th>金額</th>
    <td class="txt-type0">NT$1,000</td>
    <td></td>
  </tr>
  <tr>
    <th>收件人</th>
    <td>黃宏成</td>
    <td></td>
  </tr>
  <tr>
    <th>IP</th>
    <td>115.43.250.18</td>
    <td></td>
  </tr>
  <tr>
    <th>料號</th>
    <td class="txt-type2">88180101-010</td>
    <td></td>
  </tr>
  <tr>
    <th>撿貨編號</th>
    <td class="txt-type3">婉婷全九</td>
    <td></td>
  </tr>
</table>
