<div>
  <span class="tag tag-danger">狀態異常</span>
</div>
<div>
  <span class="tag tag-type0">臨時</span>
  <span class="tag tag-type0">其他</span>
  <span class="tag tag-type0">延遲出貨</span>
</div>
<div>
  <span class="tag tag-type1">等待中</span>
  <span class="tag tag-type1">確認中</span>
</div>
<div>
  <span class="tag tag-type2">待出貨</span>
  <span class="tag tag-type3">出貨中</span>
</div>
<div>
  <span class="tag tag-type4">新訂單</span>
</div>
<div>
  <span class="tag tag-type5">退貨中</span>
  <span class="tag tag-type5">換貨中</span>
</div>
<div>
  <span class="tag tag-type6">未開發票</span>
  <span class="tag tag-type6">已開發票</span>
  <span class="tag tag-type6">發票折讓</span>
  <span class="tag tag-type6">發票作廢</span>
</div>
<div>
</div>
<div>
  <span class="tag tag-type7">已確認</span>
  <span class="tag tag-type7">其他裝態</span>
  <button class="tag tag-type7 tag-btn">可以點的 tag</button>
</div>
<div>
  <span class="tag tag-type8">已出貨</span>
  <span class="tag tag-type8">已取消</span>
  <span class="tag tag-type8">已退貨</span>
  <span class="tag tag-type8">已退款</span>
</div>
<div>
  <span class="tag tag-type9">優惠碼 KPLOVE</span>
</div>
