<div>
  <span class="tag tag-type0">新訂單</span>
</div>
<div>
  <span class="tag tag-type1">等待中</span>
  <span class="tag tag-type1">確認中</span>
  <span class="tag tag-type1">已確認</span>
</div>
<div>
  <span class="tag tag-type2">待出貨</span>
  <span class="tag tag-type2">出貨中</span>
  <span class="tag tag-type2">已出貨</span>
</div>
<div>
  <span class="tag tag-type3">臨時</span>
  <span class="tag tag-type3">其他</span>
  <span class="tag tag-type3">延遲出貨</span>
</div>
<div>
  <span class="tag tag-type4">退貨中</span>
  <span class="tag tag-type4">換貨中</span>
  <span class="tag tag-type4">已退貨</span>
  <span class="tag tag-type4">已退款</span>
</div>
<div>
  <span class="tag tag-invoice">未開發票</span>
  <span class="tag tag-invoice">已開發票</span>
  <span class="tag tag-invoice">發票折讓</span>
  <span class="tag tag-invoice">發票作廢</span>
</div>
<div>
  <span class="tag tag-others">其他裝態</span>
  <button class="tag tag-others tag-btn">可以點的 tag</button>
</div>
<div>
  <span class="tag tag-coupon">優惠碼 KPLOVE</span>
  <span class="tag tag-danger">狀態異常</span>
</div>
