
<button class="btn"
        data-tooltip
        data-msg="上方出現"
        data-place="top">
  <i class="icon-chevron-up"></i>
</button>

<button class="btn"
        data-tooltip
        data-msg="下方出現"
        data-place="bottom">
  <i class="icon-chevron-down"></i>
</button>

<button class="btn"
        data-tooltip
        data-msg="左邊出現"
        data-place="left">
  <i class="icon-chevron-left"></i>
</button>

<button class="btn"
        data-tooltip
        data-msg="右邊出現"
        data-place="right">
  <i class="icon-chevron-right"></i>
</button>

<br><br>

<button class="btn"
        data-tooltip
        data-msg="<ul><li>1. 早睡早起</li><li>2. 每天<strong>運動</li></ul>">裡面放 HTML</button>

<button class="btn"
        data-tooltip
        data-msg="<p>手再傳體北苦東中覺世不交，計曾喜要路不雖，病它夫物絕交樣府星你病己受學有態，成大人己事！叫國跟導，故少的在人飛選。眾文的化，子氣讀相計對，多片害，</p><p>點哥能學檢的以後到事兩，細開來將資讀……童太而是了最著知先！對仍由己員背天生旅指代；積達濟可行根城位反已也原可太親直媽就他告，再過天不國會間轉那花、多獲息；飯至以比日會是遠分南不先對假我站；微益爭。太過小也件，時相。</p>">長篇大論</button>
