
<button class="btn btn-outline"
        data-tooltip
        data-msg="上方出現"
        data-placement="top">
  <i class="icon-chevron-up"></i>
</button>

<button class="btn btn-outline"
        data-tooltip
        data-msg="下方出現"
        data-placement="bottom">
  <i class="icon-chevron-down"></i>
</button>

<button class="btn btn-outline"
        data-tooltip
        data-msg="左邊出現"
        data-placement="left">
  <i class="icon-chevron-left"></i>
</button>

<button class="btn btn-outline"
        data-tooltip
        data-msg="右邊出現"
        data-placement="right">
  <i class="icon-chevron-right"></i>
</button>

<br><br>

<button class="btn btn-outline"
        data-tooltip
        data-msg="<ul><li>1. 早睡早起</li><li>2. 每天<strong>運動</li></ul>">裡面放 HTML</button>
