<div class="txt-demo-box">
  <div class="txt-lg">大字型 - 她透過窗戶目不轉睛地仰望著星星。</div>
  <div class="txt-md">中字型 - 她透過窗戶目不轉睛地仰望著星星。</div>
  <div class="txt-sm">小字型 - 她透過窗戶目不轉睛地仰望著星星。</div>
  <div class="txt-ex-sm">極小字型 - 她透過窗戶目不轉睛地仰望著星星。</div>
  <div class="txt-strikethrough">刪除線</div>
  <div class="txt-positive">+100</div>
  <div class="txt-negative">-100</div>
  <br />
  <div class="txt-type0">類型0 - 總共是 NT$1,000</div>
  <div class="txt-type1">類型1 - 發票號碼是 MH-12345678</div>
  <div class="txt-type2">類型2 - 料號是 88180101-010</div>
  <div class="txt-type3">類型3 - 撿貨編號是 婉婷全九</div>
  <div class="txt-type4">類型4 - 火箭快遞單號是 439944</div>
  <br />
  <div class="txt-primary">primary</div>
  <div class="txt-secondary">secondary</div>
  <div class="txt-warn">warning</div>
  <div class="txt-danger">danger</div>
</div>
