<div class="container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        hidden-sm ( 隱藏 )
        <div class="hidden-sm">hidden-sm</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        hidden-md ( 隱藏 )
        <div class="hidden-md">hidden-md</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        hidden-lg ( 隱藏 )
        <div class="hidden-lg">hidden-lg</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        hidden-xl ( 隱藏 )
        <div class="hidden-xl">hidden-xl</div>
      </div>
    </div>
  </div>
</div>
