<form class="form form-vertical card-shadow-sm">
  <div class="form-header">
    <div class="form-heading">直向表單</div>
    <div class="form-heading-desc">欄位名稱與輸入欄位垂直對齊</div>
  </div>
  <div class="form-content">
    <div class="field">
      <label for="field-email2" class="label">Email</label>
      <div class="control">
        <input id="field-email2"
               class="input"
               type="email"
               placeholder="範例: test@example.com" />
        <span class="hint">提示文字</span>
      </div>
    </div>
    <div class="field">
      <label for="field-name2" class="label">姓名</label>
      <input id="field-name2"
             class="input"
             type="text"
             placeholder="範例: 王大明" />
    </div>
    <div class="field">
      <label for="field-note2" class="label">備註</label>
      <textarea id="field-note2"
                class="input"
                placeholder="範例: 王大明"></textarea>
    </div>

    <div class="field">
      <div class="label">興趣</div>
      <div class="control">
        <label class="label-checkbox">
          <div class="checkbox">
            <input type="checkbox" name="habit" value="piano" />
            <i class="icon-checkbox"></i>
          </div>
          <span>彈鋼琴</span>
        </label>
        <label class="label-checkbox">
          <div class="checkbox">
            <input type="checkbox" name="habit" value="workout" />
            <i class="icon-checkbox"></i>
          </div>
          <span>健身</span>
        </label>
        <label class="label-checkbox">
          <div class="checkbox">
            <input type="checkbox" name="habit" value="food" />
            <i class="icon-checkbox"></i>
          </div>
          <span>美食</span>
        </label>
      </div>
    </div>

    <div class="field">
      <label for="field-phone2" class="label">電話</label>
      <div class="control">
        <input id="field-phone2"
               class="input"
               type="tel"
               placeholder="範例: 0912-123456" />
        <a href="">電話格式查詢</a>
      </div>
    </div>
    <div class="field">
      <label for="field-password2" class="label">密碼</label>
      <input id="field-password2"
             class="input"
             type="password"
             placeholder="請輸入密碼"
             autocomplete />
    </div>
    <div class="field">
      <label for="field-disabled2" class="label">Disabled</label>
      <input id="field-disabled2"
             class="input"
             type="text"
             placeholder="disabled 的 text input"
             disabled="disabled" />
    </div>
    <div class="field">
      <label for="field-required2" class="label">Required</label>
      <div class="control">
        <input id="field-required2"
               class="input input-danger"
               type="text"
               placeholder="觸發必填狀態" />
        <span class="hint hint-danger">這是必填欄位</span>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <button class="btn btn-primary" type="submit">送出</button>
  </div>
</form>
