<div class="container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        visible-sm-block ( 隱藏 )
        <div class="visible-sm-block">visible-sm-block ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        visible-md ( 隱藏 )
        <div class="visible-md-block">visible-md-block ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        visible-lg ( 隱藏 )
        <div class="visible-lg-block">visible-lg-block ( 顯示 )</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        visible-xl-block ( 隱藏 )
        <div class="visible-xl-block">visible-xl-block ( 顯示 )</div>
      </div>
    </div>
  </div>
</div>
