.page-datepickers {
  .codebox-result {
    .datepicker {
      white-space: nowrap;

      @media (max-width: $screen-md) {
        .icon-arrow-right {
          transform: rotate(90deg);
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
