.page-icons {
  .codebox-result {
    [class^="icon-"], [class*=" icon-"] {
      font-size: 32px;
    }
    .svg {
      display: block;
      margin: 0 auto;
      @include size(32px);
    }
    .icon {
      width: 105px;
      cursor: pointer;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      @media (max-width: $screen-xs) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .icon-content {
      margin: 0 auto;
      @include size(72px);
      padding: 20px;
      background-color: #fff;
    }
    .icon-desc {
      text-align: center;
      font-size: 12px;
      margin-top: 7px;
    }
  }
  #icon-search {
    margin-bottom: 14px;
  }
}
