.page-visibility-utilities {
  .codebox-result {
    .col-12 {
      position: relative;
      padding: 7px;
      border: 1px solid #555;
      text-align: center;
      background-color: #e3e8ee;

      div[class^="hidden-"],
      div[class^="visible-"] {
        line-height: 2.2rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f7f8f9;
      }
    }
  }
}
