.page-typography {
  .card-h1 {
    margin-bottom: 34px;
  }
  .separator {
    margin-bottom: 30px;
  }
  .col-heading-en {
    margin-left: 120px;
  }
  .card {
    margin-bottom: 20px;
  }
  .table-fonts {
    font-size: 12px;
    th {
      color: #697386;
      text-align: left;
      font-weight: 400;
    }
    td {
      padding-left: 100px;
    }
  }
  .avatar-eddie {
    margin-right: 4px;
  }
  .container-headings {
    margin-top: 40px;
  }
}
