.page-btns {
  .row-btns {
    margin-top: 10px;
    margin-bottom: 30px;
    .btn {
      margin-right: 20px;
    }
  }
  .card {
    margin-bottom: 40px;
  }
  .card-col {
    margin-right: 40px;
  }
  .label {
    margin-bottom: 14px;
    margin-right: 14px;
  }
  .row-svgs img {
    margin-right: 14px;
  }
}
