.page-inline-svgs {
  .btn.btn-outline,
  .btn-check-circle,
  .btn-cross-circle,
  .icon-blackcat,
  .icon-hct,
  .icon-pelican,
  .icon-smilepay,
  .icon-ecpay {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .row {
    margin-bottom: 10px;
  }
}
