.page-inline-svgs {
  .codebox {
    max-width: 840px;
  }
  .codebox-result {
    [class^="icon-"], [class*=" icon-"] {
      font-size: 32px;
    }
    .svg {
      @include size(32px);
    }
    .icon {
      @include size(72px);
      background-color: #fff;
      padding: 20px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      @media (max-width: $screen-xs) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
