.page-forms {
  .card {
    margin-bottom: 40px;
  }
  .first-heading {
    margin-bottom: 1rem;
  }
  .heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .codebox {
    margin-bottom: 1rem;
  }
  .form-control+.form-control {
    margin-top: 1.2rem;
  }
}
