.page-cards {
  .card-img-top {
    margin: auto;
    max-width: 100%;
    display: block;
    width: 286px;
    height: 180px;
  }
  .example-image-caps {
    .card-img-bottom,
    .card-img-top {
      max-width: 100%;
      width: 100%;
      height: 180px;
    }
  }
  .example-image-overlays {
    .card-img {
      max-width: 100%;
      width: 100%;
      height: 270px;
    }
  }
}
