.page-cols {
  .codebox-result {
    > .container {
      margin-bottom: 40px;
    }
  }
  .row {
    border: 2px solid #c2cbd6;
    background-color: #c2cbd6;
    padding: 7px;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .col,
  [class^="col-"] {
    text-align: center;
    background-color: #ecf1f7;
    border: 1px solid #a3b0bf;
  }
}
