$bg-admin: #e3e8ee;

$bg-primary: #6772e5;
$bg-primary-ex: #7795f8;
$bg-primary-ex2: #b2b7df;

$bg-secondary: #fff;
$bg-secondary-ex: #fff;
$bg-secondary-ex2: #ebebeb;

$bg-variant1: #d681d8;
$bg-variant1-ex: #eda3ef;
$bg-variant1-ex2: #d1bdd1;

$bg-variant2: #25b47e;
$bg-variant2-ex: #7de1bb;
$bg-variant2-ex2: #98b6ab;

$bg-variant3: #fdd85f;
$bg-variant3-ex: #ffe89e;
$bg-variant3-ex2: #dcd7c9;

$bg-warn: #f1946a;
$bg-warn-ex: #e7a283;
$bg-warn-ex2: #e5cec3;

$bg-danger: #e03953;
$bg-danger-ex: #f56c81;
$bg-danger-ex2: #b59ba7;

$bg-light: #fff;
$bg-light-ex: #fff;
$bg-light-ex2: #ebebeb;

$bg-dark: #000;
$bg-dark-ex: #4c4c4c;
$bg-dark-ex2: #b7b7b7;

$color-primary: #5469d4;
