<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <title>Avatars | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">

    
      <link rel="stylesheet" href="/beyond/dist/beyond.css?v=1597127624">
    

    <link rel="stylesheet" href="/beyond/assets/css/styles.css?v=1597127624">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>

    
      <script src="/beyond/dist/beyond.js?v=1597127624"></script>
      <script src="/beyond/dist/beyond-jquery.js?v=1597127624"></script>
      <script src="/beyond/dist/web.js?v=1597127624"></script>
    
  </head>
  <body class="container bg-admin">
    <button class="btn btn-sidebar visible-md-block" data-sidebar-opener="sidebar">
      <i class="icon-hamburger"></i>
    </button>
    <div class="row">
      <nav class="col-xl-2 col-md-3 nav sidebar" data-sidebar="sidebar">
  <ul>
    
      <li>

        
          
            <a href="/beyond/" class="nav-item">Home</a>
          
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Layout"
               data-default-visible>Layout<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Layout">
            
              
                <a href="/beyond/layout/cols.html" class="nav-item">Cols</a>
              
           
              
                <a href="/beyond/layout/containers.html" class="nav-item">Containers</a>
              
           
              
                <a href="/beyond/layout/visibility-utilities.html" class="nav-item">Visibility Utilities</a>
              
           
              
                <a href="/beyond/layout/spacing-utilities.html" class="nav-item">Spacing Utilities</a>
              
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Content"
               data-default-visible>Content<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Content">
            
              
                <a href="/beyond/content/colors.html" class="nav-item">Colors</a>
              
           
              
                <a href="/beyond/content/typography.html" class="nav-item">Typography</a>
              
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Components"
               data-default-visible>Components<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Components">
            
              
                <a href="/beyond/components/autocompletes.html" class="nav-item">Autocompletes</a>
              
           
              
                <a href="/beyond/components/alerts.html" class="nav-item">Alerts</a>
              
           
              
                <a href="/beyond/components/avatars.html" class="nav-item">Avatars</a>
              
           
              
                <a href="/beyond/components/badges.html" class="nav-item">Badges</a>
              
           
              
                <a href="/beyond/components/breadcrumbs.html" class="nav-item">Breadcrumbs</a>
              
           
              
                <a href="/beyond/components/buttons.html" class="nav-item">Buttons</a>
              
           
              
                <a href="/beyond/components/button-groups.html" class="nav-item">Button Groups</a>
              
           
              
                <a href="/beyond/components/cards.html" class="nav-item">Cards</a>
              
           
              
                <a href="/beyond/components/date-time-rangers.html" class="nav-item">DateTimeRangers</a>
              
           
              
                <a href="/beyond/components/datepickers.html" class="nav-item">Datepickers</a>
              
           
              
                <a href="/beyond/components/dropdowns.html" class="nav-item">Dropdowns</a>
              
           
              
                <a href="/beyond/components/footers.html" class="nav-item">Footers</a>
              
           
              
                <a href="/beyond/components/forms.html" class="nav-item">Forms</a>
              
           
              
                <a href="/beyond/components/pagination.html" class="nav-item">Pagination</a>
              
           
              
                <a href="/beyond/components/selects.html" class="nav-item">Selects</a>
              
           
              
                <a href="/beyond/components/spinners.html" class="nav-item">Spinners</a>
              
           
              
                <a href="/beyond/components/search-dropdowns.html" class="nav-item">Search Dropdowns</a>
              
           
              
                <a href="/beyond/components/icons.html" class="nav-item">Icons</a>
              
           
              
                <a href="/beyond/components/lists.html" class="nav-item">Lists</a>
              
           
              
                <a href="/beyond/components/modals.html" class="nav-item">Modals</a>
              
           
              
                <a href="/beyond/components/navbars.html" class="nav-item">Navbars</a>
              
           
              
                <a href="/beyond/components/tables.html" class="nav-item">Tables</a>
              
           
              
                <a href="/beyond/components/tabboxes.html" class="nav-item">Tabboxes</a>
              
           
              
                <a href="/beyond/components/tags.html" class="nav-item">Tags</a>
              
           
              
                <a href="/beyond/components/toasts.html" class="nav-item">Toasts</a>
              
           
              
                <a href="/beyond/components/tooltips.html" class="nav-item">Tooltips</a>
              
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Integrations"
               data-default-visible>Integrations<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Integrations">
            
              
                <a href="/beyond/integrations/turbolinks.html" class="nav-item">Turbolinks</a>
              
           
              
                <a href="/beyond/integrations/jquery.html" class="nav-item">jQuery</a>
              
           
          </ul>
        
      </li>
    
  </ul>
</nav>

      <main class="col-md-8 col-xl-10 main">
        <div class="page-avatars">
  <h1 class="card-heading">頭像 - Avatars</h1>
  <h2>Default</h2>
  <div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    
      <a>HTML</a>
    
    
    
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      <div class="avatar-wrap">
  <img class="avatar avatar-sm"
       src="/beyond/assets/img/avatar-eddie.jpg"
       alt="eddie's avatar"
       data-tooltip
       data-msg="Eddie Li" />
  <img class="avatar avatar-sm"
       src="/beyond/assets/img/avatar-murfee.gif"
       alt="Murfee's avatar"
       data-tooltip
       data-msg="Murfee Li" />
  <img class="avatar avatar-sm"
       src="/beyond/assets/img/avatar-vegeta.gif"
       alt="vegeta's avatar"
       data-tooltip
       data-msg="Vegeta" />
  <img class="avatar avatar-sm"
       src="/beyond/assets/img/avatar-xunyi.gif"
       alt="xunyi's avatar"
       data-tooltip
       data-msg="Xun Yi" />
  <img class="avatar avatar-sm"
       src="/beyond/assets/img/avatar-miaomiao.gif"
       alt="miaomiao's avatar"
       data-tooltip
       data-msg="Miao Miao"/>
  <img class="avatar avatar-sm"
       src="/beyond/assets/img/avatar-kmsheng.png"
       alt="kmsheng's avatar"
       data-tooltip
       data-msg="kmsheng" />
  <span class="avatar avatar-sm avatar-type0"
       data-tooltip
       data-msg="冠庭">冠</span>
  <span class="avatar avatar-sm avatar-type1"
       data-tooltip
       data-msg="杜怡萱">杜</span>
</div>
<div class="avatar-wrap">
  <img class="avatar"
       src="/beyond/assets/img/avatar-eddie.jpg"
       alt="eddie's avatar"
       data-tooltip
       data-msg="Eddie Li" />
  <img class="avatar"
       src="/beyond/assets/img/avatar-murfee.gif"
       alt="Murfee's avatar"
       data-tooltip
       data-msg="Murfee Li" />
  <img class="avatar"
       src="/beyond/assets/img/avatar-vegeta.gif"
       alt="vegeta's avatar"
       data-tooltip
       data-msg="Vegeta" />
  <img class="avatar"
       src="/beyond/assets/img/avatar-xunyi.gif"
       alt="xunyi's avatar"
       data-tooltip
       data-msg="Xun Yi" />
  <img class="avatar"
       src="/beyond/assets/img/avatar-miaomiao.gif"
       alt="miaomiao's avatar"
       data-tooltip
       data-msg="Miao Miao"/>
  <img class="avatar"
       src="/beyond/assets/img/avatar-kmsheng.png"
       alt="kmsheng's avatar"
       data-tooltip
       data-msg="kmsheng" />
  <span class="avatar avatar-type0"
       data-tooltip
       data-msg="冠庭">冠</span>
  <span class="avatar avatar-type1"
       data-tooltip
       data-msg="杜怡萱">杜</span>
</div>
<div class="avatar-wrap">
  <img class="avatar avatar-lg"
       src="/beyond/assets/img/avatar-eddie.jpg"
       alt="eddie's avatar"
       data-tooltip
       data-msg="Eddie Li" />
  <img class="avatar avatar-lg"
       src="/beyond/assets/img/avatar-murfee.gif"
       alt="Murfee's avatar"
       data-tooltip
       data-msg="Murfee Li" />
  <img class="avatar avatar-lg"
       src="/beyond/assets/img/avatar-vegeta.gif"
       alt="vegeta's avatar"
       data-tooltip
       data-msg="Vegeta" />
  <img class="avatar avatar-lg"
       src="/beyond/assets/img/avatar-xunyi.gif"
       alt="xunyi's avatar"
       data-tooltip
       data-msg="Xun Yi" />
  <img class="avatar avatar-lg"
       src="/beyond/assets/img/avatar-miaomiao.gif"
       alt="miaomiao's avatar"
       data-tooltip
       data-msg="Miao Miao"/>
  <img class="avatar avatar-lg"
       src="/beyond/assets/img/avatar-kmsheng.png"
       alt="kmsheng's avatar"
       data-tooltip
       data-msg="kmsheng" />
  <span class="avatar avatar-lg avatar-type0"
       data-tooltip
       data-msg="冠庭">冠</span>
  <span class="avatar avatar-lg avatar-type1"
       data-tooltip
       data-msg="杜怡萱">杜</span>
</div>

    </div>
    
      <div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
</pre></td><td class="code"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-sm"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-eddie.jpg"</span>
       <span class="na">alt=</span><span class="s">"eddie's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Eddie Li"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-sm"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-murfee.gif"</span>
       <span class="na">alt=</span><span class="s">"Murfee's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Murfee Li"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-sm"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-vegeta.gif"</span>
       <span class="na">alt=</span><span class="s">"vegeta's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Vegeta"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-sm"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-xunyi.gif"</span>
       <span class="na">alt=</span><span class="s">"xunyi's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Xun Yi"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-sm"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-miaomiao.gif"</span>
       <span class="na">alt=</span><span class="s">"miaomiao's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Miao Miao"</span><span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-sm"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-kmsheng.png"</span>
       <span class="na">alt=</span><span class="s">"kmsheng's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"kmsheng"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type0"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"冠庭"</span><span class="nt">&gt;</span>冠<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type1"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"杜怡萱"</span><span class="nt">&gt;</span>杜<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-eddie.jpg"</span>
       <span class="na">alt=</span><span class="s">"eddie's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Eddie Li"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-murfee.gif"</span>
       <span class="na">alt=</span><span class="s">"Murfee's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Murfee Li"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-vegeta.gif"</span>
       <span class="na">alt=</span><span class="s">"vegeta's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Vegeta"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-xunyi.gif"</span>
       <span class="na">alt=</span><span class="s">"xunyi's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Xun Yi"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-miaomiao.gif"</span>
       <span class="na">alt=</span><span class="s">"miaomiao's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Miao Miao"</span><span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-kmsheng.png"</span>
       <span class="na">alt=</span><span class="s">"kmsheng's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"kmsheng"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type0"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"冠庭"</span><span class="nt">&gt;</span>冠<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type1"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"杜怡萱"</span><span class="nt">&gt;</span>杜<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-lg"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-eddie.jpg"</span>
       <span class="na">alt=</span><span class="s">"eddie's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Eddie Li"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-lg"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-murfee.gif"</span>
       <span class="na">alt=</span><span class="s">"Murfee's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Murfee Li"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-lg"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-vegeta.gif"</span>
       <span class="na">alt=</span><span class="s">"vegeta's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Vegeta"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-lg"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-xunyi.gif"</span>
       <span class="na">alt=</span><span class="s">"xunyi's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Xun Yi"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-lg"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-miaomiao.gif"</span>
       <span class="na">alt=</span><span class="s">"miaomiao's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"Miao Miao"</span><span class="nt">/&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"avatar avatar-lg"</span>
       <span class="na">src=</span><span class="s">"/beyond/assets/img/avatar-kmsheng.png"</span>
       <span class="na">alt=</span><span class="s">"kmsheng's avatar"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"kmsheng"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type0"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"冠庭"</span><span class="nt">&gt;</span>冠<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type1"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"杜怡萱"</span><span class="nt">&gt;</span>杜<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
    
  </div>
</div>


  <h2>Types</h2>
  <div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    
      <a>HTML</a>
    
    
    
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      <div class="avatar-wrap">
  <span class="avatar avatar-sm avatar-type0"
       data-tooltip
       data-msg="壹">壹</span>
  <span class="avatar avatar-sm avatar-type1"
       data-tooltip
       data-msg="貳">貳</span>
  <span class="avatar avatar-sm avatar-type2"
       data-tooltip
       data-msg="參">參</span>
  <span class="avatar avatar-sm avatar-type3"
       data-tooltip
       data-msg="肆">肆</span>
  <span class="avatar avatar-sm avatar-type4"
       data-tooltip
       data-msg="伍">伍</span>
</div>
<div class="avatar-wrap">
  <span class="avatar avatar-type0"
       data-tooltip
       data-msg="壹">壹</span>
  <span class="avatar avatar-type1"
       data-tooltip
       data-msg="貳">貳</span>
  <span class="avatar avatar-type2"
       data-tooltip
       data-msg="參">參</span>
  <span class="avatar avatar-type3"
       data-tooltip
       data-msg="肆">肆</span>
  <span class="avatar avatar-type4"
       data-tooltip
       data-msg="伍">伍</span>
</div>
<div class="avatar-wrap">
  <span class="avatar avatar-lg avatar-type0"
       data-tooltip
       data-msg="壹">壹</span>
  <span class="avatar avatar-lg avatar-type1"
       data-tooltip
       data-msg="貳">貳</span>
  <span class="avatar avatar-lg avatar-type2"
       data-tooltip
       data-msg="參">參</span>
  <span class="avatar avatar-lg avatar-type3"
       data-tooltip
       data-msg="肆">肆</span>
  <span class="avatar avatar-lg avatar-type4"
       data-tooltip
       data-msg="伍">伍</span>
</div>

    </div>
    
      <div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
</pre></td><td class="code"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type0"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"壹"</span><span class="nt">&gt;</span>壹<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type1"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"貳"</span><span class="nt">&gt;</span>貳<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type2"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"參"</span><span class="nt">&gt;</span>參<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type3"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"肆"</span><span class="nt">&gt;</span>肆<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-sm avatar-type4"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"伍"</span><span class="nt">&gt;</span>伍<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type0"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"壹"</span><span class="nt">&gt;</span>壹<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type1"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"貳"</span><span class="nt">&gt;</span>貳<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type2"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"參"</span><span class="nt">&gt;</span>參<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type3"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"肆"</span><span class="nt">&gt;</span>肆<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-type4"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"伍"</span><span class="nt">&gt;</span>伍<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-wrap"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type0"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"壹"</span><span class="nt">&gt;</span>壹<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type1"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"貳"</span><span class="nt">&gt;</span>貳<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type2"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"參"</span><span class="nt">&gt;</span>參<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type3"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"肆"</span><span class="nt">&gt;</span>肆<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"avatar avatar-lg avatar-type4"</span>
       <span class="na">data-tooltip</span>
       <span class="na">data-msg=</span><span class="s">"伍"</span><span class="nt">&gt;</span>伍<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
    
  </div>
</div>

</div>

      </main>
    </div>
  </body>
</html>
