---
layout: default
title: Badges
---
<div class="page-badges">
  <h1>標籤 - Badges</h1>
  <h2>與標題一起使用</h2>
  {% include codebox.html result="demos/badges-heading.html" html="demos/badges-heading.html" %}

  <h2>嵌入在按鈕裡面</h2>
  {% include codebox.html result="demos/badges-btn.html" html="demos/badges-btn.html" %}

  <h2>情境變化</h2>
  {% include codebox.html result="demos/badges-type.html" html="demos/badges-type.html" %}

  <h2>膠囊標籤</h2>
  {% include codebox.html result="demos/badges-pill.html" html="demos/badges-pill.html" %}

  <h2>連結</h2>
  {% include codebox.html result="demos/badges-anchor.html" html="demos/badges-anchor.html" %}
</div>
