---
layout: default
title: Badges
---
<div>
  <h1>標籤 - Badges</h1>

  <h2>與標題一起使用</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/badges-heading.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/badges-heading.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>嵌入在按鈕裡面</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/badges-btn.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/badges-btn.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>情境變化</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/badges-type.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/badges-type.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>膠囊標籤</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/badges-pill.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/badges-pill.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>連結</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/badges-anchor.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/badges-anchor.html %}{% endhighlight %}
      </div>
    </div>
  </div>
</div>
