---
layout: default
title: Button Groups
---
<div class="page-btn-groups">

  <div class="card card-shadow-sm">
    <h1 class="card-heading">按鈕群組 - Button Groups</h1>

    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/btn-groups.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/btn-groups.html %}{% endhighlight %}
        </div>
      </div>
    </div>

  </div>
</div>
