---
layout: default
title: Buttons
---
<div class="page-btns">

  <h1>按鈕 - Buttons</h1>
  <h2>按鈕樣式</h2>

  <h3>Default</h3>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/btns-default.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/btns-default.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h3>Hover</h3>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/btns-hover.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/btns-hover.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h3>Active</h3>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/btns-active.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/btns-active.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h3>Disabled</h3>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/btns-disabled.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/btns-disabled.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>按鈕尺寸</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/btns-size.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/btns-size.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <h2>Icon 按鈕</h2>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/btns-icon.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/btns-icon.html %}{% endhighlight %}
      </div>
    </div>
  </div>
</div>
