---
layout: default
title: Buttons
---
<div class="page-btns">
  <h1>按鈕 - Buttons</h1>
  <h2>按鈕樣式</h2>
  <h3>Default</h3>
  {% include codebox.html result="demos/btns-default.html" html="demos/btns-default.html" %}

  <h3>Hover</h3>
  {% include codebox.html result="demos/btns-hover.html" html="demos/btns-hover.html" %}

  <h3>Active</h3>
  {% include codebox.html result="demos/btns-active.html" html="demos/btns-active.html" %}

  <h3>Disabled</h3>
  {% include codebox.html result="demos/btns-disabled.html" html="demos/btns-disabled.html" %}

  <h2>按鈕尺寸</h2>
  {% include codebox.html result="demos/btns-size.html" html="demos/btns-size.html" %}

  <h2>Icon 按鈕</h2>
  {% include codebox.html result="demos/btns-icon.html" html="demos/btns-icon.html" %}

  <h2>按鈕讀取狀態</h2>
  {% include codebox.html result="demos/btns-loading.html" html="demos/btns-loading.html" %}
</div>
