---
layout: default
title: Cards
---
<div class="page-cards">
  <h1>卡片 - Card</h1>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-example.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-example.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-body.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-body.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-link.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-link.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-image.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-image.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-list-groups.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-list-groups.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-list-groups2.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-list-groups2.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-kitchen-sink.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-kitchen-sink.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-header.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-header.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-header2.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-header2.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-header3.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-header3.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-header4.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-header4.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-header4.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-header4.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-grid.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-grid.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-utils.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-utils.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-custom-css.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-custom-css.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-text-alignment.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-text-alignment.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-nav.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-nav.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-nav2.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-nav2.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-image-caps.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-image-caps.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-image-overlays.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-image-overlays.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-bg-and-color.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-bg-and-color.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-border.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-border.html %}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/card-mixins-utils.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/card-mixins-utils.html %}{% endhighlight %}
      </div>
    </div>
  </div>
</div>
