<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <title>Dropdowns | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    
      <link rel="stylesheet" href="/beyond/dist/beyond.css">
    
    <link rel="stylesheet" href="/beyond/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    
      <script src="/beyond/dist/beyond.js"></script>
    
  </head>
  <body class="container-default container bg-admin">
    <button class="btn btn-sidebar" data-sidebar-opener="sidebar">
  <i class="icon-hamburger"></i>
</button>
<nav class="nav sidebar" data-sidebar="sidebar">
  <ul>
    
      <li>
        
          <a href="/beyond/" class="nav-item">Home</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/layout/containers.html" class="nav-item">Containers</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/layout/cols.html" class="nav-item">Cols</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/layout/visibility-utilities.html" class="nav-item">Visibility Utilities</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/content/typography.html" class="nav-item">Typography</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/content/colors.html" class="nav-item">Colors</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/avatars.html" class="nav-item">Avatars</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/badges.html" class="nav-item">Badges</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/buttons.html" class="nav-item">Buttons</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/button-groups.html" class="nav-item">Button Groups</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tabboxes.html" class="nav-item">Tabboxes</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tags.html" class="nav-item">Tags</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/selects.html" class="nav-item">Selects</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/forms.html" class="nav-item">Forms</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/dropdowns.html" class="nav-item active">Dropdowns</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/search-dropdowns.html" class="nav-item">Search Dropdowns</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/icons.html" class="nav-item">Icons</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/modals.html" class="nav-item">Modals</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/spinners.html" class="nav-item">Spinners</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tooltips.html" class="nav-item">Tooltips</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/toasts.html" class="nav-item">Toasts</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/date-time-rangers.html" class="nav-item">DateTimeRangers</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/datepickers.html" class="nav-item">Datepickers</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/autocompletes.html" class="nav-item">Autocompletes</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tables.html" class="nav-item">Tables</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/navbars.html" class="nav-item">Navbars</a>
        
      </li>
    
  </ul>
</nav>

    <main class="main">
      <div class="page-dropdowns">

  <div class="card card-shadow-sm">
    <h1 class="card-heading">下拉式選單 - Dropdowns</h1>

    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
        <a>JavaScript</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          <p>箭頭置中</p>
<button class="btn btn-dropdown" data-dropdown data-target="center-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu1"
     data-place="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="center-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu2"
     data-place="bottom">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="center-menu3">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu3"
     data-place="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="center-menu4">
  <i class="icon-chevron-right"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="center-menu4"
     data-place="right">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置左</p>
<button class="btn btn-dropdown" data-dropdown data-target="left-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="left-menu1"
     data-place="top"
     data-align="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="left-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="left-menu2"
     data-place="bottom"
     data-align="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置右</p>
<button class="btn btn-dropdown" data-dropdown data-target="right-menu1">
  <i class="icon-chevron-up no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="right-menu1"
     data-place="top"
     data-align="right">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="right-menu2">
  <i class="icon-chevron-down no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="right-menu2"
     data-place="bottom"
     data-align="right">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置上</p>
<button class="btn btn-dropdown" data-dropdown data-target="top-menu1">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="top-menu1"
     data-place="left"
     data-align="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="top-menu2">
  <i class="icon-chevron-right no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="top-menu2"
     data-place="right"
     data-align="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>箭頭置下</p>
<button class="btn btn-dropdown" data-dropdown data-target="bottom-menu1">
  <i class="icon-chevron-left no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="bottom-menu1"
     data-place="left"
     data-align="bottom">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="bottom-menu2">
  <i class="icon-chevron-right no-text"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="bottom-menu2"
     data-place="right"
     data-align="bottom">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br><br>

<p>可捲動的選單</p>

<button class="btn btn-dropdown" data-dropdown data-target="long-menu">
  項目很多的選單
  <i class="icon-chevron-down"></i>
</button>
<div class="dropdown-menu"
     data-dropdown-menu="long-menu"
     data-place="bottom"
     data-align="right">
  <div class="dropdown-menu-scrollable">
    <a class="dropdown-item" data-dropdown-item>選項1</a>
    <a class="dropdown-item" data-dropdown-item>選項2</a>
    <a class="dropdown-item" data-dropdown-item>選項3</a>
  <div class="dropdown-divider"></div>
    <a class="dropdown-item" data-dropdown-item>選項4</a>
    <a class="dropdown-item" data-dropdown-item>選項5</a>
    <a class="dropdown-item" data-dropdown-item>選項6</a>
    <a class="dropdown-item" data-dropdown-item>選項7</a>
    <a class="dropdown-item" data-dropdown-item>選項8</a>
    <a class="dropdown-item" data-dropdown-item>選項9</a>
    <a class="dropdown-item" data-dropdown-item>選項10</a>
  </div>
</div>

<button class="btn btn-dropdown" data-dropdown data-target="no-arrow-menu">
  沒有箭頭
</button>
<div class="dropdown-menu no-arrow"
     data-dropdown-menu="no-arrow-menu"
     data-place="top">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

<br>
<br>

<h4 class="heading-dropdown" data-dropdown data-target="heading-menu">
  這是 H4 標題
  <i class="icon icon-chevron-down"></i>
</h4>
<div class="dropdown-menu no-arrow"
     data-dropdown-menu="heading-menu"
     data-place="bottom"
     data-align="left">
  <a class="dropdown-item" data-dropdown-item>選項1</a>
  <a class="dropdown-item" data-dropdown-item>選項2</a>
  <a class="dropdown-item" data-dropdown-item>選項3</a>
</div>

        </div>
        <div>
          <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
</pre></td><td class="code"><pre><span class="nt">&lt;p&gt;</span>箭頭置中<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"center-menu1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-up no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"center-menu1"</span>
     <span class="na">data-place=</span><span class="s">"top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"center-menu2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-down no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"center-menu2"</span>
     <span class="na">data-place=</span><span class="s">"bottom"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"center-menu3"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-left no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"center-menu3"</span>
     <span class="na">data-place=</span><span class="s">"left"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"center-menu4"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-right"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"center-menu4"</span>
     <span class="na">data-place=</span><span class="s">"right"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;br&gt;&lt;br&gt;</span>

<span class="nt">&lt;p&gt;</span>箭頭置左<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"left-menu1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-up no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"left-menu1"</span>
     <span class="na">data-place=</span><span class="s">"top"</span>
     <span class="na">data-align=</span><span class="s">"left"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"left-menu2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-down no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"left-menu2"</span>
     <span class="na">data-place=</span><span class="s">"bottom"</span>
     <span class="na">data-align=</span><span class="s">"left"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;br&gt;&lt;br&gt;</span>

<span class="nt">&lt;p&gt;</span>箭頭置右<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"right-menu1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-up no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"right-menu1"</span>
     <span class="na">data-place=</span><span class="s">"top"</span>
     <span class="na">data-align=</span><span class="s">"right"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"right-menu2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-down no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"right-menu2"</span>
     <span class="na">data-place=</span><span class="s">"bottom"</span>
     <span class="na">data-align=</span><span class="s">"right"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;br&gt;&lt;br&gt;</span>

<span class="nt">&lt;p&gt;</span>箭頭置上<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"top-menu1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-left no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"top-menu1"</span>
     <span class="na">data-place=</span><span class="s">"left"</span>
     <span class="na">data-align=</span><span class="s">"top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"top-menu2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-right no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"top-menu2"</span>
     <span class="na">data-place=</span><span class="s">"right"</span>
     <span class="na">data-align=</span><span class="s">"top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;br&gt;&lt;br&gt;</span>

<span class="nt">&lt;p&gt;</span>箭頭置下<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"bottom-menu1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-left no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"bottom-menu1"</span>
     <span class="na">data-place=</span><span class="s">"left"</span>
     <span class="na">data-align=</span><span class="s">"bottom"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"bottom-menu2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-right no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"bottom-menu2"</span>
     <span class="na">data-place=</span><span class="s">"right"</span>
     <span class="na">data-align=</span><span class="s">"bottom"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;br&gt;&lt;br&gt;</span>

<span class="nt">&lt;p&gt;</span>可捲動的選單<span class="nt">&lt;/p&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"long-menu"</span><span class="nt">&gt;</span>
  項目很多的選單
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-down"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"long-menu"</span>
     <span class="na">data-place=</span><span class="s">"bottom"</span>
     <span class="na">data-align=</span><span class="s">"right"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu-scrollable"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-divider"</span><span class="nt">&gt;&lt;/div&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項4<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項5<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項6<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項7<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項8<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項9<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項10<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"no-arrow-menu"</span><span class="nt">&gt;</span>
  沒有箭頭
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu no-arrow"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"no-arrow-menu"</span>
     <span class="na">data-place=</span><span class="s">"top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;br&gt;</span>
<span class="nt">&lt;br&gt;</span>

<span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"heading-dropdown"</span> <span class="na">data-dropdown</span> <span class="na">data-target=</span><span class="s">"heading-menu"</span><span class="nt">&gt;</span>
  這是 H4 標題
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon icon-chevron-down"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/h4&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu no-arrow"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"heading-menu"</span>
     <span class="na">data-place=</span><span class="s">"bottom"</span>
     <span class="na">data-align=</span><span class="s">"left"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">data-dropdown-item</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
        </div>
        <div>
          <figure class="highlight"><pre><code class="language-js" data-lang="js"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
</pre></td><td class="code"><pre><span class="kd">const</span> <span class="p">{</span> <span class="nx">Dropdown</span> <span class="p">}</span> <span class="o">=</span> <span class="nb">window</span><span class="p">.</span><span class="nx">beyond</span>

<span class="nb">document</span><span class="p">.</span><span class="nx">querySelectorAll</span><span class="p">(</span><span class="dl">'</span><span class="s1">[data-dropdown]</span><span class="dl">'</span><span class="p">)</span>
  <span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="nx">dom</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">Dropdown</span><span class="p">(</span><span class="nx">dom</span><span class="p">))</span>
</pre></td></tr></tbody></table></code></pre></figure>
        </div>
      </div>
    </div><!-- .codebox -->
    <div class="doc">
  <h2>Dropdown HTML</h2>
  <div class="code">
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-dropdown"</span> <span class="na">data-target=</span><span class="s">"center-menu1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-up no-text"</span><span class="nt">&gt;&lt;/i&gt;</span>
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span>
     <span class="na">data-dropdown-menu=</span><span class="s">"center-menu1"</span>
    <span class="na">data-place=</span><span class="s">"top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>選項1<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>選項2<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>選項3<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>屬性名稱</th>
        <th>用途</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>data-target</td>
        <td>選單按鈕使用此屬性指定要打開的選單 ID，例如 <strong>data-target="menu-id"</strong></td>
      </tr>
      <tr>
        <td>data-dropdown-menu</td>
        <td>設定自己的選單 ID，例如 <strong>data-dropdown-menu="menu-id"</strong></td>
      </tr>
      <tr>
        <td>data-place</td>
        <td>選單彈出的方向，支援上下左右四個方向 ( top, bottom, left, right )</td>
      </tr>
      <tr>
        <td>data-align</td>
        <td>選單要對齊的方向，data-place 為左或右時可以設定為 top 或 bottom，data-place 為上或下時，可以設為 left 或 right</td>
      </tr>
      <tr>
        <td>data-offset</td>
        <td>要偏移的像素，會依據 <strong>data-place</strong> 決定偏移的方向，例如 <strong>data-place="right" data-offset="30"</strong>就是往右偏移 30px</td>
      </tr>
      <tr>
        <td>data-offset-left</td>
        <td>同 <strong>data-offset</strong>，不過不會受到 <strong>data-place</strong>影響，只調整左右</td>
      </tr>
      <tr>
        <td>data-offset-top</td>
        <td>同 <strong>data-offset</strong>，不過不會受到 <strong>data-place</strong>影響，只調整上下</td>
      </tr>
    </tbody>
  </table>

  <h2>Dropdown JS</h2>
  <h3>constructor</h3>
  <div class="code">
<figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="kd">const</span> <span class="nx">dropdown</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Dropdown</span><span class="p">(</span><span class="nx">dom</span><span class="p">)</span></code></pre></figure>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>名稱</th>
        <th>型別</th>
        <th>說明</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>dom</td>
        <td>HTMLElement</td>
        <td>要被初始化的選單按鈕元素</td>
      </tr>
    </tbody>
  </table>

  <h3>destroy</h3>
  <p>移除 dropdown 產生的 dom 元素與 event listeners</p>
  <div class="code">
<figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">dropdown</span><span class="p">.</span><span class="nx">destroy</span><span class="p">()</span></code></pre></figure>
  </div>
</div><!-- .doc -->

  </div>
</div>

    </main>
    
      <script src="/beyond/dist/web.js"></script>
    
  </body>
</html>
