<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <title>Footers | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    
      <link rel="stylesheet" href="/beyond/dist/beyond.css?v=1601023080">
    
    <link rel="stylesheet" href="/beyond/assets/css/styles.css?v=1601023080">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    
      <script src="/beyond/dist/beyond.js?v=1601023080"></script>
    
  </head>
  <body class="bg-admin with-footer">
    <a class="no-nav__btn-back" href="/beyond/">
      <i class="icon-chevron-left"></i>
      回首頁
    </a>
    <div class="content">
      <div class="page-footers">
  <h1>頁腳 - Footers</h1>
  <p>套用 Sticky Footer:</p>
  <ul class="list-style-disc">
    <li>body 須加上 with-footer class</li>
    <li>主要內容區塊須加上 content class</li>
    <li>注意 .content 的 parent 一直到 html 都必須設為 100% height</li>
  </ul>
</div>

    </div>
    <div class="footer">footer</div>
    <div id="width-pad"></div>
    
      <script src="/beyond/dist/web.js"></script>
    
  </body>
</html>
