---
layout: default
title: Forms
---
<div class="page-forms">

  <div class="card card-shadow-sm">
    <h1 class="card-heading">表單 - Forms</h1>

    <h2>Overview</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-overview.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-overview.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Form controls</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-controls.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-controls.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-control-file.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-control-file.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Sizing</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-control-size.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-control-size.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Readonly</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-readonly.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-readonly.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Readonly plain text</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-readonly-plain-text.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-readonly-plain-text.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-readonly-plain-text2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-readonly-plain-text2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Checkboxes and radios</h2>
    <h3>Default (stacked)</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-checkboxes-and-radios-default.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-checkboxes-and-radios-default.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-checkboxes-and-radios-default2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-checkboxes-and-radios-default2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Inline</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-checkboxes-and-radios-inline.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-checkboxes-and-radios-inline.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-checkboxes-and-radios-inline2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-checkboxes-and-radios-inline2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Without labels</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-checkboxes-and-radios-without-labels.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-checkboxes-and-radios-without-labels.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Layout</h2>
    <h3>Form groups</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-groups.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-groups.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Form grid</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-grid.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-grid.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Form row</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-row.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-row.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-row2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-row2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Horizontal form</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/horizontal-form.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/horizontal-form.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/horizontal-form2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/horizontal-form2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Column sizing</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-column-sizing.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-column-sizing.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h3>Auto-sizing</h3>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-auto-sizing.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-auto-sizing.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-auto-sizing2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-auto-sizing2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Inline forms</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/inline-forms.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/inline-forms.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/inline-forms2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/inline-forms2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Help text</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-help-text.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-help-text.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/form-help-text2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/form-help-text2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

    <h2>Disabled forms</h2>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/disabled-forms.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/disabled-forms.html %}{% endhighlight %}
        </div>
      </div>
    </div>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/disabled-forms2.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/disabled-forms2.html %}{% endhighlight %}
        </div>
      </div>
    </div>

  </div><!-- .card -->
</div>
