---
layout: default
title: Modals
---
<div>
  <h1>互動視窗 - Modals</h1>
  {%
    include codebox.html
    result="demos/modal-static.html"
    html="demos/modal-static.html"
  %}

  {%
    include codebox.html
    result="demos/modals.html"
    html="demos/modals.html"
    js="demos/modals.js"
  %}

  {%
    include codebox.html
    result="demos/jquery-modal-btn.html"
    html="demos/jquery-modal.html"
    js="demos/jquery-modal.js"
  %}

  {% include docs/modals.html %}
  {% include demos/jquery-modal.html %}
</div>

{% include demos/modal-content.html %}
{% include demos/sub-modal-content.html %}
