---
layout: default
title: Modals
---
<div>
  <h1>互動視窗 - Modals</h1>
  <div class="codebox" data-codebox>
    <div class="codebox-tabs" data-tabs>
      <a>Result</a>
      <a>HTML</a>
      <a>JavaScript</a>
    </div>
    <div class="codebox-panes" data-panes>
      <div class="codebox-result">
        {% include demos/modal-btn.html %}
      </div>
      <div>
        {% highlight html linenos %}{% include demos/modals.html %}{% endhighlight %}
      </div>
      <div>
        {% highlight javascript linenos %}{% include demos/modals.js %}{% endhighlight %}
      </div>
    </div>
  </div>
  {% include docs/modals.html %}
</div>

{% include demos/modal-content.html %}
{% include demos/sub-modal-content.html %}
