---
layout: default
title: Navbars
---
<div class="page-navbars">

  <div class="card card-shadow-sm">
    <h1 class="card-heading">導覽列 - Navbars</h1>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
        <a>JavaScript</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/navbars.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/navbars.html %}{% endhighlight %}
        </div>
        <div>
          {% highlight javascript linenos %}{% include demos/navbars.js %}{% endhighlight %}
        </div>
      </div>
    </div>
  </div><!-- .card end -->
</div>
