---
layout: default
title: Pagination
---
<div>
  <h1>分頁 - Pagination</h1>
  {%
    include codebox.html
    result="demos/pagination-js.html"
    html="demos/pagination-js.html"
    js="demos/paginations.js"
  %}
  {%
    include codebox.html
    result="demos/pagination-overview.html"
    html="demos/pagination-overview.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-with-icons.html"
    html="demos/pagination-with-icons.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-disabled-and-active-states.html"
    html="demos/pagination-disabled-and-active-states.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-disabled-and-active-states2.html"
    html="demos/pagination-disabled-and-active-states2.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-sizing.html"
    html="demos/pagination-sizing.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-sizing2.html"
    html="demos/pagination-sizing2.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-alignment.html"
    html="demos/pagination-alignment.html"
  %}
  {%
    include codebox.html
    result="demos/pagination-alignment2.html"
    html="demos/pagination-alignment2.html"
  %}
</div>
