---
layout: default
title: Tabboxes
---
<div class="page-tabboxes">
  <h1>過濾按鈕</h1>
  {%
    include codebox.html
    result="demos/tabbox-uno.html"
    html="demos/tabbox-uno.html"
    js="demos/tabbox.js"
  %}
  {%
    include codebox.html
    result="demos/tabbox-sm.html"
    html="demos/tabbox-sm.html"
    js="demos/tabbox.js"
  %}
  {%
    include codebox.html
    result="demos/tabbox.html"
    html="demos/tabbox.html"
    js="demos/tabbox.js"
  %}
  {%
    include codebox.html
    result="demos/tabbox-lg.html"
    html="demos/tabbox-lg.html"
    js="demos/tabbox.js"
  %}
  {% include docs/tabboxes.html %}
</div>
