<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tables | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    
      <link rel="stylesheet" href="/beyond/dist/beyond.css">
    
    <link rel="stylesheet" href="/beyond/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    
      <script src="/beyond/dist/beyond.js"></script>
    
  </head>
  <body class="container-default container bg-admin">
    <button class="btn btn-sidebar" data-sidebar-opener="sidebar">
  <i class="icon-hamburger"></i>
</button>
<nav class="nav sidebar" data-sidebar="sidebar">
  <ul>
    
      <li>
        
          <a href="/beyond/" class="nav-item">Home</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/content/typography.html" class="nav-item">Typography</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/content/colors.html" class="nav-item">Colors</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/buttons.html" class="nav-item">Buttons</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tags.html" class="nav-item">Tags</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/selects.html" class="nav-item">Selects</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/forms.html" class="nav-item">Forms</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/dropdowns.html" class="nav-item">Dropdowns</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/icons.html" class="nav-item">Icons</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/modals.html" class="nav-item">Modals</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/spinners.html" class="nav-item">Spinners</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tooltips.html" class="nav-item">Tooltips</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/toasts.html" class="nav-item">Toasts</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/datepickers.html" class="nav-item">Datepickers</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/autocompletes.html" class="nav-item">Autocompletes</a>
        
      </li>
    
      <li>
        
          <a href="/beyond/components/tables.html" class="nav-item active">Tables</a>
        
      </li>
    
  </ul>
</nav>

    <main class="main">
      <div class="page-tables">

  <div class="card card-shadow-sm">
    <h1 class="card-heading">表格 - Tables</h1>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          <table class="table">
  <thead>
    <tr>
      <th>品項</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>玉米蛋餅</td>
      <td>30 元</td>
    </tr>
    <tr>
      <td>火腿蛋餅</td>
      <td>25 元</td>
    </tr>
    <tr>
      <td>香菜蛋餅</td>
      <td>35 元</td>
    </tr>
  </tbody>
</table>

<table class="table striped">
  <thead>
    <tr>
      <th>品項</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>綠茶</td>
      <td>30 元</td>
    </tr>
    <tr>
      <td>紅茶</td>
      <td>25 元</td>
    </tr>
    <tr>
      <td>奶茶</td>
      <td>35 元</td>
    </tr>
    <tr>
      <td>冰咖啡</td>
      <td>35 元</td>
    </tr>
  </tbody>
</table>

        </div>
        <div>
          <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
</pre></td><td class="code"><pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>品項<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>價錢<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>玉米蛋餅<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>30 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>火腿蛋餅<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>25 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>香菜蛋餅<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>35 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span>

<span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"table striped"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>品項<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>價錢<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>綠茶<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>30 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>紅茶<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>25 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>奶茶<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>35 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>冰咖啡<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>35 元<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
        </div>
      </div>
    </div>
  </div><!-- .card end -->
</div>

    </main>
    
      <script src="/beyond/dist/web.js"></script>
    
  </body>
</html>
