---
layout: default
title: Tags
---
<div class="page-tags">
  <div class="card card-shadow-sm">
    <h1 class="card-heading">標籤 - Tags</h1>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/tags.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/tags.html %}{% endhighlight %}
        </div>
      </div>
    </div>
  </div>
</div>
