---
layout: default
title: Buttons
---
<div class="page-btns">

  <div class="card card-shadow-sm">
    <h1 class="card-heading">標籤 - Labels</h1>
    <div class="codebox" data-codebox>
      <div class="codebox-tabs" data-tabs>
        <a>Result</a>
        <a>HTML</a>
      </div>
      <div class="codebox-panes" data-panes>
        <div class="codebox-result">
          {% include demos/labels.html %}
        </div>
        <div>
          {% highlight html linenos %}{% include demos/labels.html %}{% endhighlight %}
        </div>
      </div>
    </div>
  </div>

</div>
