<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
    <title>Toasts | Beyond</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">

    
      <link id="beyond-theme-link"
            rel="stylesheet"
            href="/beyond/dist/beyond-default.css?v=1646393493">
    

    <link rel="stylesheet" href="/beyond/assets/css/styles.css?v=1646393493">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/beyond/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/beyond/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
      href="/beyond/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/beyond/assets/img/icons/manifest.json">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    
      <script src="/beyond/dist/beyond.js?v=1646393493"></script>
      <script src="/beyond/dist/beyond-jquery.js?v=1646393493"></script>
      <script src="/beyond/dist/web.js?v=1646393493"></script>
    
  </head>
  <body class="container bg-admin">
    <button class="btn btn-sidebar visible-md-block" data-sidebar-opener="sidebar">
      <i class="icon-hamburger"></i>
    </button>
    <div class="row">
      <nav class="col-xl-2 col-md-3 nav sidebar" data-sidebar="sidebar">
  <ul>
    <li>
      <div class="theme-select">
        Theme
        <select id="theme-select" class="select select-outline">
          <option value="default">Default</option>
          <option value="dark">Dark</option>
        </select>
      </div>
    </li>
    
      <li>

        
          
            <a href="/beyond/" class="nav-item">Home</a>
          
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Layout"
               data-default-visible>Layout<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Layout">
            
              <li>
                
                  <a href="/beyond/layout/cols.html" class="nav-item">Cols</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/layout/containers.html" class="nav-item">Containers</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/layout/visibility-utilities.html" class="nav-item">Visibility Utilities</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/layout/spacing-utilities.html" class="nav-item">Spacing Utilities</a>
                
              </li>
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Content"
               data-default-visible>Content<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Content">
            
              <li>
                
                  <a href="/beyond/content/colors.html" class="nav-item">Colors</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/content/typography.html" class="nav-item">Typography</a>
                
              </li>
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Components"
               data-default-visible>Components<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Components">
            
              <li>
                
                  <a href="/beyond/components/autocompletes.html" class="nav-item">Autocompletes</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/alerts.html" class="nav-item">Alerts</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/avatars.html" class="nav-item">Avatars</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/badges.html" class="nav-item">Badges</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/breadcrumbs.html" class="nav-item">Breadcrumbs</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/buttons.html" class="nav-item">Buttons</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/button-groups.html" class="nav-item">Button Groups</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/cards.html" class="nav-item">Cards</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/date-time-rangers.html" class="nav-item">DateTimeRangers</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/datepickers.html" class="nav-item">Datepickers</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/dropdowns.html" class="nav-item">Dropdowns</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/footers.html" class="nav-item">Footers</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/forms.html" class="nav-item">Forms</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/pagination.html" class="nav-item">Pagination</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/selects.html" class="nav-item">Selects</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/spinners.html" class="nav-item">Spinners</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/search-dropdowns.html" class="nav-item">Search Dropdowns</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/icons.html" class="nav-item">Icons</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/lists.html" class="nav-item">Lists</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/modals.html" class="nav-item">Modals</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/navbars.html" class="nav-item">Navbars</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/tables.html" class="nav-item">Tables</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/tabboxes.html" class="nav-item">Tabboxes</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/tags.html" class="nav-item">Tags</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/tag-inputs.html" class="nav-item">Tag Inputs</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/toasts.html" class="nav-item active">Toasts</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/components/tooltips.html" class="nav-item">Tooltips</a>
                
              </li>
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Charts"
               data-default-visible>Charts<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Charts">
            
              <li>
                
                  <a href="/beyond/charts/bar-chart.html" class="nav-item">Bar Chart</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/charts/line-chart.html" class="nav-item">Line Chart</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/charts/pie-chart.html" class="nav-item">Pie Chart</a>
                
              </li>
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Integrations"
               data-default-visible>Integrations<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Integrations">
            
              <li>
                
                  <a href="/beyond/integrations/turbolinks.html" class="nav-item">Turbolinks</a>
                
              </li>
           
              <li>
                
                  <a href="/beyond/integrations/jquery.html" class="nav-item">jQuery</a>
                
              </li>
           
          </ul>
        
      </li>
    
      <li>

        
          <div class="nav-folder"
               data-menu-toggle="Others"
               data-default-visible>Others<i class="icon-chevron-down"></i></div>
           <ul class="nav-menu" data-menu="Others">
            
              <li>
                
                  <a href="/beyond/others/utils.html" class="nav-item">Utils</a>
                
              </li>
           
          </ul>
        
      </li>
    
  </ul>
</nav>

      <main class="col-md-8 col-xl-10 main">
        <div>
  <h1>提示訊息 - Toasts</h1>
  <div class="codebox" data-codebox>
  <div class="codebox-tabs" data-tabs>
    <a>Result</a>
    
      <a>HTML</a>
    
    
      <a>JS</a>
    
    
  </div>
  <div class="codebox-panes" data-panes>
    <div class="codebox-result">
      <button class="btn" id="btn-toast">點我發提示訊息</button>

    </div>
    
      <div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
</pre></td><td class="code"><pre><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn"</span> <span class="na">id=</span><span class="s">"btn-toast"</span><span class="nt">&gt;</span>點我發提示訊息<span class="nt">&lt;/button&gt;</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
      <div>
        <figure class="highlight"><pre><code class="language-js" data-lang="js"><table class="rouge-table"><tbody><tr><td class="gutter gl"><pre class="lineno">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
</pre></td><td class="code"><pre><span class="k">import</span> <span class="nx">noop</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">lodash.noop</span><span class="dl">'</span>

<span class="k">export</span> <span class="k">default</span> <span class="kd">function</span> <span class="nx">bindToasts</span><span class="p">()</span> <span class="p">{</span>
  <span class="kd">const</span> <span class="nx">btn</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="dl">'</span><span class="s1">btn-toast</span><span class="dl">'</span><span class="p">)</span>

  <span class="k">if</span> <span class="p">(</span><span class="o">!</span> <span class="nx">btn</span> <span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">noop</span>
  <span class="p">}</span>
  <span class="kd">const</span> <span class="nx">names</span> <span class="o">=</span> <span class="p">[</span><span class="dl">'</span><span class="s1">路人甲</span><span class="dl">'</span><span class="p">,</span> <span class="dl">'</span><span class="s1">路人乙</span><span class="dl">'</span><span class="p">,</span> <span class="dl">'</span><span class="s1">路人丙</span><span class="dl">'</span><span class="p">]</span>
  <span class="kd">const</span> <span class="nx">actions</span> <span class="o">=</span> <span class="p">[</span><span class="dl">'</span><span class="s1">吃了一個漢堡</span><span class="dl">'</span><span class="p">,</span> <span class="dl">'</span><span class="s1">跌了一跤</span><span class="dl">'</span><span class="p">,</span> <span class="dl">'</span><span class="s1">說: 你當台灣人是塑膠做的喔 ! 不要欺負我們台灣人</span><span class="dl">'</span><span class="p">]</span>
  <span class="kd">const</span> <span class="p">{</span> <span class="nx">Toast</span> <span class="p">}</span> <span class="o">=</span> <span class="nb">window</span><span class="p">.</span><span class="nx">beyond</span>
  <span class="kd">const</span> <span class="nx">toast</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Toast</span><span class="p">()</span>

  <span class="kd">let</span> <span class="nx">clickedCount</span> <span class="o">=</span> <span class="mi">0</span>

  <span class="kd">const</span> <span class="nx">handleBtnClick</span> <span class="o">=</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
    <span class="kd">const</span> <span class="nx">num</span> <span class="o">=</span> <span class="nb">parseInt</span><span class="p">(</span><span class="nb">Math</span><span class="p">.</span><span class="nx">random</span><span class="p">()</span> <span class="o">*</span> <span class="mi">10</span><span class="p">,</span> <span class="mi">10</span><span class="p">)</span> <span class="o">+</span> <span class="mi">1</span>
    <span class="kd">const</span> <span class="nx">index</span> <span class="o">=</span> <span class="nx">num</span> <span class="o">%</span> <span class="nx">names</span><span class="p">.</span><span class="nx">length</span>

    <span class="nx">toast</span><span class="p">.</span><span class="nx">send</span><span class="p">({</span>
      <span class="na">message</span><span class="p">:</span> <span class="s2">`</span><span class="p">${</span><span class="o">++</span><span class="nx">clickedCount</span><span class="p">}</span><span class="s2">. </span><span class="p">${</span><span class="nx">names</span><span class="p">[</span><span class="nx">index</span><span class="p">]}${</span><span class="nx">actions</span><span class="p">[</span><span class="nx">index</span><span class="p">]}</span><span class="s2">`</span><span class="p">,</span>
      <span class="na">btnText</span><span class="p">:</span> <span class="dl">'</span><span class="s1">取消</span><span class="dl">'</span><span class="p">,</span>
      <span class="nx">btnCb</span><span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">res</span><span class="p">.</span><span class="nx">clear</span><span class="p">()</span>
      <span class="p">}</span>
    <span class="p">})</span>
  <span class="p">}</span>

  <span class="nx">btn</span><span class="p">.</span><span class="nx">addEventListener</span><span class="p">(</span><span class="dl">'</span><span class="s1">click</span><span class="dl">'</span><span class="p">,</span> <span class="nx">handleBtnClick</span><span class="p">)</span>

  <span class="k">return</span> <span class="kd">function</span> <span class="nx">unbindToasts</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">toast</span><span class="p">.</span><span class="nx">destroy</span><span class="p">()</span>
    <span class="nx">btn</span> <span class="o">&amp;&amp;</span> <span class="nx">btn</span><span class="p">.</span><span class="nx">removeEventListener</span><span class="p">(</span><span class="dl">'</span><span class="s1">click</span><span class="dl">'</span><span class="p">,</span> <span class="nx">handleBtnClick</span><span class="p">)</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre></td></tr></tbody></table></code></pre></figure>
      </div>
    
    
  </div>
</div>

  <div class="doc">
  <h2>Toast JS</h2>
  <h3>constructor</h3>
  <div class="code">
<figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="kd">const</span> <span class="nx">toast</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Toast</span><span class="p">()</span></code></pre></figure>
  </div>

  <h3>send</h3>
  <p>產生 toast 訊息</p>
  <div class="code">
<figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">toast</span><span class="p">.</span><span class="nx">send</span><span class="p">(</span><span class="nx">options</span><span class="p">)</span></code></pre></figure>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>名稱</th>
        <th>型別</th>
        <th>說明</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>options</td>
        <td>object</td>
        <td>要送出 toast 訊息的設定資料</td>
      </tr>
      <tr>
        <td>options.message</td>
        <td>string</td>
        <td>訊息文字</td>
      </tr>
      <tr>
        <td>options.btnText</td>
        <td>String</td>
        <td>toast 按鈕文字，有設定才會顯示按鈕</td>
      </tr>
      <tr>
        <td>options.btnCb</td>
        <td>function</td>
        <td>按下 toast 按鈕後的 callback，第一個參數可以用來隱藏 toast 訊息</td>
      </tr>
      <tr>
        <td>options.duration</td>
        <td>integer</td>
        <td>toast 顯示後停留的時間，以毫秒為單位</td>
      </tr>
    </tbody>
  </table>

  <h3>destroy</h3>
  <p>移除 toast 產生的 dom 元素與 event listeners</p>
  <div class="code">
<figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">toast</span><span class="p">.</span><span class="nx">destroy</span><span class="p">()</span></code></pre></figure>
  </div>
</div><!-- .doc -->

</div>

      </main>
    </div>
    <div id="chart-menu" class="chart-menu"></div>
  </body>
</html>
