.main {
  background-color: #fff;
  padding: 20px 36px 80px;
  @media (max-width: $screen-xs) {
    padding: 20px 32px;
  }
  .codebox {
    margin-bottom: 1.8rem;
  }
  h1 {
    margin-bottom: 1.6rem;
  }
}
.btn-sidebar {
  margin: 14px;
}
.code-label {
  margin-bottom: .4rem;
}
.code {
  background-color: #4f556a;
  padding: 14px 0;
  margin-bottom: 1.2rem;
}
.codebox-label {
  margin-top: 14px;
  margin-bottom: 7px;
}
.table-resolution {
  td {
    color: #999;
  }
  .strong {
    color: #111;
  }
}
.doc {
  h2 {
    margin-top: 30px;
  }
  h3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .table {
    margin-top: 20px;
  }
}

@media (max-width: $screen-md) {
  .container-default {
    margin: 0;
    display: block;
    padding: 20px 14px;
  }
  .main {
    margin-left: 0;
    margin-right: 0;
  }
}
