.no-nav-container {
  padding: 0 20px 20px;
}
.no-nav-content {
  > div {
    background-color: #fff;
    padding: 14px 20px;
  }
  h1 {
    margin-bottom: 1rem;
  }
  .table {
    width: 100%;
    margin-bottom: 14px;
    td, th {
      &.active {
        background-color: #eee;
      }
    }
  }
}
.no-nav__btn-back {
  display: inline-flex;
  align-items: center;
  margin: 14px;
  i {
    margin-right: 7px;
  }
}
#width-pad {
  position: fixed;
  top: 0;
  right: 0;
  padding: 7px 14px;
}
