.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;

  a.alert-link {
    font-weight: 900;
    border-bottom: 1px solid transparent;
  }
  .alert-heading {
    color: inherit;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }
  p {
    line-height: 1.5em;
  }
  @each $alert in $alerts {
    &.alert-#{map-get($alert, state)} {
      border: 1px solid map-get($alert, border);
      background: map-get($alert, bg);
      color: map-get($alert, txt);
      .alert-link {
        color: map-get($alert, link-txt);
        &:hover {
          border-bottom: 1px solid map-get($alert, link-txt);
        }
      }
      hr {
        border-top-color: map-get($alert, hr-txt);
      }
    }
  }
}

.alert.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .45rem 1.25rem;
  color: inherit;
  font-size: 1.4rem;
}
