.autocomplete-menu {
  position: absolute;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1),
    0 15px 35px 0 rgba(49, 49, 93, .1),
    0 5px 15px 0 rgba(0, 0, 0, .08);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .item {
    background: $autocomplete-item-bg;
    cursor: default;
    padding: 12px 15px;
    font-size: 12px;
    &:hover {
      background-color: $autocomplete-item-bg-ex;
    }
    .page-prefix {
      color: $page-prefix-txt;
      display: inline-block;
      margin-right: 7px;
      vertical-align: top;
    }
    .page-title {
      color: $page-title-txt;
      max-width: 300px;
      display: inline-block;
    }
  }
}
