.avatar {
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  @include size(32px);
}
.avatar.avatar-sm {
  @include size(24px);
  line-height: 22px;
  font-size: 12px;
}
.avatar.avatar-lg {
  @include size(40px);
  line-height: 38px;
  font-size: 16px;
}
.avatar-letter {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-weight: 900;
}
