.avatar {
  border-radius: 50%;
  border: 1px solid #eaeaea;
  vertical-align: middle;
}
.avatar.avatar-sm {
  @include size(24px);
}
.avatar.avatar-md {
  @include size(32px);
}
.avatar.avatar-lg {
  @include size(40px);
}
