.badge {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 12px;
  border-radius: 2px;
  background-color: #eaeaea;
  padding: 1px 4px;
  white-space: nowrap;
  transform: translateY(-8%);
}

.badge.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10em;
}

@each $classname, $bg, $color in $badges {
  .badge.#{$classname} {
    background-color: $bg;
    color: $color;
  }
}
