.badge {
  position: relative;
  top: -1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 75%;
  display: inline-block;
  border-radius: .25em;
  line-height: 1;
  vertical-align: baseline;
  background-color: #eaeaea;
  padding: .25em .4em;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-8%);
}

.badge.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10em;
}

@each $classname, $bg, $color in $badges {
  .badge.#{$classname} {
    background-color: $bg;
    color: $color;
  }
}
