.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  li + li::before {
    display: inline-block;
    padding-right: .7rem;
    padding-left: .7rem;
    color: $text-color-strong;
    content: '/';
  }
  li:last-child {
    color: $text-color-strong;
  }
}
