.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .7rem;
    padding-left: .7rem;
    color: #6c757d;
    content: '/';
  }
  .breadcrumb-item.active {
    color: #6c757d;
  }
  .breadcrumb-item a {
    color: #000;
  }
}
