.btn {
  outline: 0;
  background-color: #fff;
  display: inline-block;
  border: 0;
  padding: 6px 12px 7px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s;
  box-shadow: 0 4px 6px 0 rgba(50, 50, 93, .11),
    0 1px 3px 0 rgba(0, 0, 0, .08);
  &:focus,
  &:hover:focus {
    @include focus-outline;
  }
  &.btn-sm {
    font-size: 12px;
    padding: 2px 6px;
  }
  &.btn-lg {
    font-size: 16px;
    padding: 8px 20px;
  }
  &.hover,
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 12px 0 rgba(50, 50, 93, .11),
      0 3px 6px 0 rgba(0, 0, 0, .08);
  }
  &.active,
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
  &.disabled,
  &:disabled {
    transform: translateY(0);
    cursor: not-allowed;
  }
  .icon {
    display: inline-block;
    margin-right: 4px;
    vertical-align: sub;
  }
}

.btn.btn-icon {
  outline: 0;
  border-radius: 100%;
  @include size(48px);
  background-color: transparent;
  border: 0;
  position: relative;
  padding: 0;
  box-shadow: none;
  &:focus {
    @include focus-outline;
  }
  .icon {
    margin: 0;
    vertical-align: middle;
  }
  @include ripple(48px, 0, 0);
}

.btn.btn-outline {
  background-color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 4px 7px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  &.hover,
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(50, 50, 93, .11),
      0 3px 6px 0 rgba(0, 0, 0, .08);
  }
  &:focus {
    @include focus-outline;
  }
  .icon {
    transform: translateY(-2px);
  }
}

.btn.btn-primary {
  background-color: $bg-primary;
  color: $color-light;

  &.hover,
  &:hover,
  &.active,
  &:active {
    background-color: $bg-primary-ex;
  }
  &.disabled,
  &:disabled {
    background-color: $bg-primary-ex2;
  }
}

.btn.btn-secondary {
  background-color: $bg-secondary;
  color: $color-secondary;

  &.hover,
  &:hover {
    color: $color-secondary-ex;
    background-color: $bg-secondary-ex;
  }
  &.active,
  &:active {
    color: $color-secondary-ex;
    background-color: $bg-secondary-ex;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .08);
  }
  &.disabled,
  &:disabled {
    background-color: $bg-secondary-ex2;
    color: $color-secondary-ex2;
  }
}

.btn.btn-success {
  background-color: $bg-success;
  color: $color-light;

  &.hover,
  &:hover,
  &.active,
  &:active {
    background-color: $bg-success-ex;
  }
  &.disabled,
  &:disabled {
    background-color: $bg-success-ex2;
  }
}

.btn.btn-info {
  background-color: $bg-info;
  color: $color-light;

  &.hover,
  &:hover,
  &.active,
  &:active {
    background-color: $bg-info-ex;
  }
  &.disabled,
  &:disabled {
    background-color: $bg-info-ex2;
  }
}

.btn.btn-warn {
  background-color: $bg-warn;
  color: $color-light;
  .icon:before {
    color: $color-light;
    font-size: 20px;
  }
  &.hover,
  &:hover,
  &.active,
  &:active {
    background-color: $bg-warn-ex;
  }
  &.disabled,
  &:disabled {
    background-color: $bg-warn-ex2;
  }
}

.btn.btn-danger {
  background-color: $bg-danger;
  color: $color-light;
  .icon:before {
    color: $color-light;
    font-size: 20px;
  }
  &.hover,
  &:hover,
  &.active,
  &:active {
    background-color: $bg-danger-ex;
  }
  &.disabled,
  &:disabled {
    background-color: $bg-danger-ex2;
  }
}

.btn.btn-type1 {
  background-color: $bg-type1;
  color: $color-light;

  &.hover,
  &:hover,
  &.active,
  &:active {
    background-color: $bg-type1-ex;
  }
  &.disabled,
  &:disabled {
    background-color: $bg-type1-ex2;
  }
}

.btn.btn-type2 {
  background-color: $bg-type2;
  color: $color-type2;

  &.hover,
  &:hover {
    background-color: $bg-type2-ex;
  }
  &.active,
  &:active,
  &.disabled,
  &:disabled {
    color: $color-type2-ex;
    background-color: $bg-type2-ex2;
  }
}

.btn.btn-light {
  background-color: $bg-light;
  color: $color-dark;

  &.hover,
  &:hover {
    background-color: $bg-light-ex;
  }
  &.active,
  &:active {
    background-color: $bg-light-ex;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .08);
  }
  &.disabled,
  &:disabled {
    color: $color-dark-ex2;
    background-color: $bg-light-ex2;
  }
}

.btn.btn-dark {
  background-color: $bg-dark;
  color: $color-light;

  &.hover,
  &:hover {
    background-color: $bg-dark-ex;
  }
  &.active,
  &:active {
    background-color: $bg-dark-ex;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .08);
  }
  &.disabled,
  &:disabled {
    background-color: $bg-dark-ex2;
  }
}

.btn.btn-link {
  color: $color-link;
  cursor: pointer;
  box-shadow: none;

  &.hover,
  &:hover,
  &.active,
  &:active {
    color: $color-link-ex;
  }
  &.disabled,
  &:disabled {
    color: $color-link-ex2;
    cursor: not-allowed;
  }
}
