.chart {
  font-family: Roboto;
}

.chart-menu {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 10px 13px;
  background: $chart-menu-bg;
  color: $chart-menu-txt;
  box-shadow: $chart-menu-shadow;
  border: $chart-menu-border;
}

.chart-box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10px;
  .chart-box-item {
    cursor: default;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    margin-right: 1.4em;
    .chart-box-square {
      transform: translateY(1px);
      @include size(10px);
      margin-right: .5em;
    }
  }
}
