.chart {
  font-family: Roboto;
}

.chart-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px 13px;
  box-shadow: 4px 4px 15px 1px rgba(68,  68, 72, .12);
  color: #3c4257;
  z-index: 1;
  border: 1px solid #e8e8e8;
}
