.datepicker {
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(42, 47, 69, .1),
    0 2px 5px 0 rgba(42, 47, 69, .1),
    0 1px 1px 0 rgba(0, 0, 0, .07),
    0 1px 2px 0 rgba(0, 0, 0, .08),
    0 0 0 0 transparent;
  padding: 4px;
  .datepicker-date-input,
  .datepicker-time-input {
    &::placeholder {
      font-size: 11px;
      color: hsla(0, 0%, 100%, .6);
    }
    text-align: center;
    height: 24px;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    &.active {
      background-color: #5469d4;
      color: #fff
    }
    &.active.danger {
      background-color: #cd3d64;
      color: #fff
    }
    &:focus {
      outline: 0;
    }
  }

  .datepicker-date-input {
    width: 82px;
  }
  .datepicker-time-input {
    width: 50px;
  }
  .icon-arrow-right {
    padding-left: 0;
    padding-right: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
    border: 0;
  }
}

.datepicker-date-menu {
  display: none;
  position: absolute;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1),
    0 15px 35px 0 rgba(49, 49, 93, .1),
    0 5px 15px 0 rgba(0, 0, 0, .08);
  .datepicker-content {
    background-color: #fff;
    position: relative;
    padding: 0 14px 14px 14px;
  }
  .datepicker-caption {
    font-size: 15px;
    color: #3c4257;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  .datepicker-week-header {
    li {
      display: inline-block;
      padding: 7px 14px;
      font-size: 11px;
      color: #8792a2;
    }
  }
  .datepicker-btn-prev,
  .datepicker-btn-next {
    border: 0;
    background-color: transparent;
    position: absolute;
    display: block;
    @include size(50px);

    .icon-chevron-left,
    .icon-chevron-right {
      font-size: 12px;
    }
  }
  .datepicker-btn-prev {
    left: 0;
    top: 0;
  }
  .datepicker-btn-next {
    right: 0;
    top: 0;
  }
  .datepicker-date-table {
    font-size: 14px;
    width: 100%;
    margin-top: 2px;
    td {
      text-align: center;
      &.cell {
        background-color: #f7fafc;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-color: #e3e8ee;
      }
      &.cell.selected {
        background-color: #6c8eef;
        color: #fff;
        border-color: rgba(108, 142, 239, .16);
      }
      &.cell.selected-ex {
        background-color: #5469d4;
        color: #fff;
        border-color: #5469d4;
      }
    }
  }
}

.datepicker-time-menu {
  display: none;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1),
    0 15px 35px 0 rgba(49, 49, 93, .1),
    0 5px 15px 0 rgba(0, 0, 0, .08);
  background-color: #fff;
  position: absolute;
  height: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .datepicker-time-menu-item {
    color: #3c4257;
    font-size: 14px;
    &:hover {
      background-color: #f7fafc;
    }
    &.active {
      background-color: #eef0f3;
    }
    padding: 10px 14px;
    width: 188px;
  }
}
