.datepicker {
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(42, 47, 69, .1),
    0 2px 5px 0 rgba(42, 47, 69, .1),
    0 1px 1px 0 rgba(0, 0, 0, .07),
    0 1px 2px 0 rgba(0, 0, 0, .08),
    0 0 0 0 transparent;
  padding: 4px;
  .datepicker-input {
    text-align: center;
    width: 88px;
    height: 24px;
    border: 0;
    border-radius: 4px;
    font-size: 13px;
    &:focus {
      outline: 0;
      background-color: #5469d4;
      color: #fff
    }
  }
  .icon-arrow-right {
    padding-left: 0;
    padding-right: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
    border: 0;
  }
}
