.svg-ellipsis-h,
.svg-ellipsis-v,
.svg-times,
.svg-gear {
  @include size(12px);
  color: $bg-icon;
  fill: currentColor;
  transform: translateY(1px);
}

.svg-check-circle {
  vertical-align: middle;
}

.svg-cross-circle {
  vertical-align: middle;
}

.btn-check-circle {
  border-radius: 50%;
  @include size(16px);
  background-color: #1fa672;
  border: 0;
  display: inline-block;
  padding: 0;
  .svg-check-circle {
    @include size(16px);
    display: inline-block;
    vertical-align: top;
  }
}

.btn-cross-circle {
  border-radius: 50%;
  @include size(16px);
  background-color: #e03953;
  border: 0;
  display: inline-block;
  padding: 0;
  .svg-cross-circle {
    @include size(16px);
    vertical-align: top;
  }
}
