.list-inline {
  list-style: none;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
  > li:not(:last-child) {
    margin-right: 1.4rem;
  }
}
.list-style-disc {
  list-style-type: disc;
}
.list-style-circle {
  list-style-type: circle;
}
.list-style-square {
  list-style-type: square;
}
.list-style-decimal {
  list-style-type: decimal;
}
