$mega-menu-text-color: #0a2540;
$mega-menu-text-color-ex: #8A8D90;

@mixin mega-menu-text() {
  transition: .3s color;
  color: $mega-menu-text-color;
  &:hover {
    color: $mega-menu-text-color-ex;
  }
}

.mega-menu {
  font-size: .875rem;
}
.mega-menu-divider {
  border-bottom: 1px solid #ebebeb;
}
.mega-menu-col {
  padding: .7rem 1.5rem;
  flex-grow: 1;
  min-width: 180px;
  display: flex;
  align-items: center;
  @include mega-menu-text;
}
.mega-menu-item {
  transition: .3s background-color;
  display: block;
  padding: .7rem 1.5rem;
  @include mega-menu-text;
  i {
    color: #40468a;
  }
}
.mega-menu-icon-box {
  display: table;
  width: 100%;
}
.mega-menu-icon-box-item {
  cursor: pointer;
  transition: .3s all;
  display: table-cell;
  padding: 0.8rem 1.2rem;
  text-align: center;
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
  @include mega-menu-text;
  &:hover {
    i {
      color: $mega-menu-text-color;
    }
  }
  i {
    transition: .3s color;
    color: #40468a;
    display: block;
    margin-bottom: .4rem;
  }
}
