.mega-menu {
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.mega-menu-divider {
  border-bottom: 1px solid #ebebeb;
}
.mega-menu-col {
  padding: .7rem 1.5rem;
  flex-grow: 1;
  transition: .3s background-color;
  min-width: 180px;
  color: $text-color;
  display: flex;
  align-items: center;
  &:hover {
    color: $text-color-strong;
    background-color: #f6f6f6;
  }
  i {
    margin-right: .6rem;
  }
}
.mega-menu-label {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: $text-color-light;
  font-size: 12px;
}
.mega-menu-item {
  transition: .3s background-color;
  color: $text-color;
  display: block;
  padding: .5rem 2.2rem;
  &:hover {
    color: $text-color-strong;
    background-color: #f6f6f6;
  }
}
.mega-menu-icon-box {
  display: table;
  width: 100%;
  > div {
    display: table-row;
  }
}
.mega-menu-icon-box-item {
  cursor: pointer;
  transition: .3s all;
  display: table-cell;
  padding: 1rem 1.8rem;
  color: $color-primary;
  text-align: center;
  &:hover {
    color: $text-color-strong;
    background-color: #f6f6f6;
  }
  i {
    display: block;
    margin-bottom: .4rem;
  }
}
