.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  .nav-folder {
    user-select: none;
    cursor: pointer;
    padding: 7px;
    color: #1a1f36;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      transition: .3s all;
      transform: translateY(1px);
      font-size: .7rem;
      margin-left: 10px;
    }
    &.js-opened i {
      transform: translateY(1px) rotate(180deg);
    }
  }
  .nav-folder + ul {
    margin-bottom: .5rem;
    .nav-item {
      padding-left: 1rem;
    }
  }
  .nav-menu {
    display: none;
  }
  .nav-item {
    font-weight: 400;
    color: #1a1f36;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 7px;
    font-size: .875rem;
    > i {
      margin-right: .8rem;
    }
  }
  .nav-item:active,
  .nav-item.active {
    color: $color-primary;
  }
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link.disabled {
  color: #6c757d;
  cursor: not-allowed;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $bg-primary;
}
.card-header-pills {
  margin-right: -.625rem;
  margin-left: -.625rem;
}
