.search-dropdown.dropdown-menu {
  width: 420px;
  padding: 0;
  .search-dropdown-input-wrap {
    position: relative;
    padding: 14px;
  }
  .search-dropdown-input.input {
    width: 100%;
    &.loading {
      padding-right: 40px;
    }
  }
  .search-dropdown-loader {
    display: none;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 32px;
  }
  .search-dropdown-menu.active {
    border-top: 1px solid rgba(60, 66, 87, .16);
    padding: 4px 0;
    max-height: 240px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .search-dropdown-menu-item {
    display: flex;
    border: 1px solid transparent;
    &.selected {
      border-color: $bg-outline;
    }
    cursor: pointer;
    font-size: 13px;
    padding: 7px 11px;
    strong {
      color: #6772e5;
      margin-right: .7em;
    }
  }
}
