.select {
  color: $select-color;
  background: $control-bg;
  box-shadow: $select-shadow;
  font-size: 14px;
  appearance: none;
  border: 0;
  padding: 6px 34px 6px 10px;
  background-image: url(beyond-image-path('#{$beyond-css-img-path}arrow-select.svg'));

  &:disabled {
    opacity: .5;
  }
  &::-ms-expand {
    display: none;
  }
  &.active {
    background-image: url(beyond-image-path('#{$beyond-css-img-path}arrow-select-ex.svg'));
  }
  &[multiple] {
    background-image: none;
  }
  background-repeat: no-repeat;
  background-position: right 14px center;
  &:focus {
    @include focus-outline;
  }
}

.select.select-outline {
  box-shadow: $select-outline-shadow;
  &:focus {
    outline: 0;
    box-shadow: $select-outline-shadow,
      $focus-outline;
  }
}

.select.select-outline-strong {
  box-shadow: $select-outline-strong-shadow;
  &:focus {
    outline: 0;
    box-shadow: $select-outline-strong-shadow,
      $focus-outline;
  }
}
