.btn-sidebar {
  display: none;
  @media (max-width: $screen-md) {
    display: block;
  }
}
.sidebar {
  @media (max-width: $screen-md) {
    z-index: 20;
    transition: .2s all;
    background-color: #fff;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    @include y-scroll();
  }
  &.opened {
    transform: translateX(0);
  }
}

.backdrop {
  &.opened {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(82, 95, 127, .25);
  }
}
