.table {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  font-size: 13px;
  text-align: left;
  border-top: 1px solid #e3e8ee;
  strong {
    color: #5469d4;
  }
  thead {
    background-color: #f7fafc;
    color: #1a1f36;
  }
  th,
  td {
    padding: 9px 20px;
    box-shadow: inset 0 -1px #e3e8ee;
  }
  &.striped {
    tr:nth-child(even) {
      background-color: #f7fafc;
    }
  }
}
