.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

%disabled-td {
  cursor: not-allowed;
  background: $table-td-disabled-bg;
  color: $table-td-disabled-color;
  box-shadow: $table-td-disabled-shadow;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  font-size: 13px;
  text-align: left;

  thead {
    color: #1a1f36;
  }
  th {
    color: $table-th-color;
    white-space: nowrap;
  }
  td {
    color: $table-td-color;
  }
  .title {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 4px;
  }
  .sub {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 4px;
  }
  .link {
    &:hover {
      border-bottom: 1px solid $color-anchor-ex;
    }
  }
  @for $i from 1 through length($txt-color-types) {
    td.txt-type#{$i - 1},
    th.txt-type#{$i - 1} {
      color: nth($txt-color-types, $i);
    }
  }
  th,
  td {
    background: $table-bg;
    box-shadow: $table-border;
    padding: 7px;
  }
  tr.disabled {
    > td {
      @extend %disabled-td;
    }
  }
  tr {
    transition: .3s all;
  }
  tr:hover {
    filter: brightness(95%);
  }
  &.striped {
    tr:nth-child(odd) td {
      background: $table-bg-ex;
    }
    tr.disabled:nth-child(odd) td {
      @extend %disabled-td;
    }
  }
}
