.tag-input {
  cursor: text;
  background-color: #fff;
  padding: .4em .4em 0 .4em;
  min-height: 40px;

  .tag-suggest-input {
    color: rgba(60, 66, 87, .41);
  }

  .tag-main-input {
    position: absolute;
    background-color: transparent;
  }

  .tag-input-box {
    display: inline-block;
    position: relative;
    > input {
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }
  .tag {
    padding-right: 0;
    display: inline-flex;
    align-items: center;
    margin-right: .7em;
    margin-bottom: .7em;
    > button {
      border: 0;
      background-color: transparent;
    }
  }
  &.shake {
    animation: shake .5s;
  }
}
