.time-input {

  width: 52px;
  text-align: center;
  height: 24px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;

  &::placeholder {
    font-size: 11px;
    color: hsla(0, 0%, 100%, .6);
  }
  &.active {
    background-color: #5469d4;
    color: #fff
  }
  &.active.danger {
    background-color: #cd3d64;
    color: #fff
  }
  &:focus {
    outline: 0;
  }
}
