.time-menu {
  background-color: $time-menu-bg;
  display: none;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1),
    0 15px 35px 0 rgba(49, 49, 93, .1),
    0 5px 15px 0 rgba(0, 0, 0, .08);
  position: absolute;
  height: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .time-menu-item {
    color: $txt-color;
    font-size: 14px;
    &:hover {
      background-color: $time-menu-bg-hover;
    }
    &.active {
      background-color: $time-menu-bg-active;
    }
    padding: 10px 14px;
    width: 188px;
  }
}
