.tooltip {
  background: $tooltip-bg;
  max-width: 400px;
  border-radius: 4px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 10px 13px;
  line-height: 1.9;
  box-shadow: $tooltip-shadow;
  border: 0;

  &:after {
    content: ' ';
    display: block;
    border: 0;
    border-top-left-radius: 1px;
    @include size(8px);
    background: $tooltip-bg;
    position: absolute;
    transform: rotate(45deg);
  }
  &.top:after {
    bottom: -4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid $tooltip-border;
    border-bottom: 1px solid $tooltip-border;
  }
  &.bottom:after {
    top: -4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid $tooltip-border;
    border-top: 1px solid $tooltip-border;
  }
  &.left:after {
    right: -4px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid $tooltip-border;
    border-top: 1px solid $tooltip-border;
  }
  &.right:after {
    left: -4px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 1px solid $tooltip-border;
    border-bottom: 1px solid $tooltip-border;
  }
}
