.tooltip {
  max-width: 400px;
  border-radius: 4px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 7px 10px;
  color: #fff;
  background-color: #555;
}

.tooltip.tooltip-popover {
  $border-color: #e8e8e8;
  background-color: #fff;
  color: #3c4257;
  padding: 10px 13px;
  box-shadow: 4px 4px 15px 1px rgba(68,  68, 72, .12);
  border: 1px solid $border-color;

  &:after {
    content: ' ';
    display: block;
    border: 0;
    border-top-left-radius: 4px;
    @include size(12px);
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
  }
  &.top:after {
    bottom: -6px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  &.bottom:after {
    top: -6px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
  &.left:after {
    right: -6px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
  &.right:after {
    left: -6px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}
