.border {
  border: 1px solid $border-color !important;
}
.border-top {
  border-top: 1px solid $border-color !important;
}
.border-bottom {
  border-bottom: 1px solid $border-color !important;
}
.border-left {
  border-left: 1px solid $border-color !important;
}
.border-right {
  border-right: 1px solid $border-color !important;
}
.border-0 {
  border: 0;
}
.border-top-0 {
  border-top: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}
.border-left-0 {
  border-left: 0;
}
.border-right-0 {
  border-right: 0;
}
.border-primary {
  border-color: $bg-primary !important;
}
.border-secondary {
  border-color: $bg-secondary !important;
  border-color: $bg-primary;
}
.border-success {
  border-color: $bg-success !important;
}
.border-danger {
  border-color: $bg-danger !important;
}
.border-warning {
  border-color: $bg-warn !important;
}
.border-info {
  border-color: $bg-info !important;
}
.border-light {
  border-color: $bg-light !important;
}
.border-dark {
  border-color: $bg-dark !important;
}
.border-white {
  border-color: $bg-white !important;
}
