.border {
  border: 1px solid $border-color !important;
}
.border-top {
  border-top: 1px solid $border-color !important;
}
.border-bottom {
  border-bottom: 1px solid $border-color !important;
}
.border-left {
  border-left: 1px solid $border-color !important;
}
.border-right {
  border-right: 1px solid $border-color !important;
}
.border-0 {
  border: 0;
}
.border-top-0 {
  border-top: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}
.border-left-0 {
  border-left: 0;
}
.border-right-0 {
  border-right: 0;
}

@each $classname, $border-color in $borders {
  .#{$classname} {
    border-color: $border-color !important;
  }
}
