$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-xl) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
