.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-sm) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $breakpoint-md) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: $breakpoint-lg) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: $breakpoint-xl) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
