@for $i from 1 through length($breakpoints) {
  $breakpoint: nth($breakpoints, $i);
  $size: nth($screen-sizes, $i);

  @for $i from 1 through $col-total {
    $percent: (100% / $col-total) * $i;
    .offset-#{$i} {
      margin-left: $percent;
    }
  }

  @media (max-width: $breakpoint) {
    @for $i from 1 through $col-total {
      $percent: (100% / $col-total) * $i;
      .offset-#{$size}-#{$i} {
        margin-left: $percent;
      }
    }
  }
}
