@for $i from 1 through length($breakpoints) {
  $breakpoint: nth($breakpoints, $i);
  $size: nth($screen-sizes, $i);

  .visible-#{$size}-block,
  .visible-#{$size}-inline,
  .visible-#{$size}-inline-block {
    display: none !important;
  }

  @media (max-width: $breakpoint) {
    .hidden-#{$size} {
      display: none !important;
    }
    .visible-#{$size}-block {
      display: block !important;
    }
    .visible-#{$size}-inline {
      display: inline !important;
    }
    .visible-#{$size}-inline-block {
      display: inline-block !important;
    }
  }
}
