.card {
  background-color: #fff;
  color: #3c4257;
  padding: 30px 36px;
}
.card-shadow-lg {
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25),
    0 18px 36px -18px rgba(0, 0, 0, .3),
    0 -12px 36px -8px rgba(0, 0, 0, .02);
}
.card-shadow-md {
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12),
    0 3px 6px 0 rgba(0, 0, 0, 0.12);
}
.card-heading {
  margin-bottom: 24px;
}
