@mixin tab-active-text {
  color: #1d2638;
  font-weight: 700;
}
@mixin tab-active-border {
  border-bottom-color: rgb(77, 144, 254);
}
@mixin tab-focus-style {
  &.js-current {
    @include tab-active-text;
  }
  &.js-focus,
  &:focus {
    @include tab-active-text;
    @include tab-active-border;
  }
}

.tabbox {
  position: relative;
  .js-slider {
    position: absolute;
    bottom: 0;
    background-color: #858585;
    height: 2px;
    transition: all .3s;
  }
  .select-box {
    display: inline-block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cdcdcd;
    &.js-focus {
      select {
        @include tab-active-text;
      }
      @include tab-active-border;
    }
    select {
      cursor: pointer;
      &:hover {
        @include tab-active-text;
      }
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 12px;
      padding: 6px 12px;
      border: 0;
      background: none;
    }
  }
  .tab-btn {
    display: inline-block;
    min-width: 60px;
    padding: 6px 12px;
    font-size: 12px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cdcdcd;
    outline: 0;
    transition: all .3s;
    &:hover {
      color: #1d2638;
      font-weight: 700;
    }
    @include tab-focus-style;
    &.tab-btn-new {
      border-bottom-color: rgba(109, 188, 128, .3);
      @include tab-focus-style;
    }
    &.tab-btn-type1 {
      border-bottom-color: rgba(1, 137, 114, .2);
      @include tab-focus-style;
    }
    &.tab-btn-type2 {
      border-bottom-color: rgba(0, 91, 74, .2);
      @include tab-focus-style;
    }
    &.tab-btn-invoice {
      border-bottom-color: rgba(93, 105, 227, .3);
      @include tab-focus-style;
    }
    &.tab-btn-others {
      border-bottom-color: rgba(205, 205, 205, 1);
      @include tab-focus-style;
    }
  }
}
