body.theme-dark {
  $bg: #141728;
  $code-bg: #202235;
  $brand-primary: #769aff;
  .main,
  .no-nav-content > div {
    background: $bg;
  }
  .codebox-result,
  .code,
  .highlight {
    background: $code-bg;
  }
  .no-nav-content .table td.active,
  .no-nav-content .table th.active {
  }
  .codebox a.js-active {
    color: $brand-primary;
  }
}
