.bg-admin {
  background-color: $bg-admin;
}

.bg-primary {
  background-color: $bg-primary;
}
.bg-primary-ex {
  background-color: $bg-primary-ex;
}
.bg-primary-ex2 {
  background-color: $bg-primary-ex2;
}

.bg-secondary {
  background-color: $bg-secondary;
}
.bg-secondary-ex {
  background-color: $bg-secondary-ex;
}
.bg-secondary-ex2 {
  background-color: $bg-secondary-ex2;
}

.bg-variant1 {
  background-color: $bg-variant1;
}
.bg-variant1-ex {
  background-color: $bg-variant1-ex;
}
.bg-variant1-ex2 {
  background-color: $bg-variant1-ex2;
}

.bg-variant2 {
  background-color: $bg-variant2;
}
.bg-variant2-ex {
  background-color: $bg-variant2-ex;
}
.bg-variant2-ex2 {
  background-color: $bg-variant2-ex2;
}

.bg-variant3 {
  background-color: $bg-variant3;
}
.bg-variant3-ex {
  background-color: $bg-variant3-ex;
}
.bg-variant3-ex2 {
  background-color: $bg-variant3-ex2;
}

.bg-warn {
  background-color: $bg-warn;
}
.bg-warn-ex {
  background-color: $bg-warn-ex;
}
.bg-warn-ex2 {
  background-color: $bg-warn-ex2;
}

.bg-danger {
  background-color: $bg-danger;
}
.bg-danger-ex {
  background-color: $bg-danger-ex;
}
.bg-danger-ex2 {
  background-color: $bg-danger-ex2;
}

.bg-light {
  background-color: $bg-light;
}
.bg-light-ex {
  background-color: $bg-light-ex;
}
.bg-light-ex2 {
  background-color: $bg-light-ex2;
}

.bg-dark {
  background-color: $bg-dark;
}
.bg-dark-ex {
  background-color: $bg-dark-ex;
}
.bg-dark-ex2 {
  background-color: $bg-dark-ex2;
}
