.bg-admin {
  background-color: #e3e8ee;
}

.bg-light {
  background-color: #f6f9fc;
}

.bg-primary {
  background-color: #6772e5;
}
.bg-primary-ex {
  background-color: #7795f8;
}
.bg-primary-ex2 {
  background-color: #b2b7df;
}

.bg-secondary {
  background-color: #fff;
}
.bg-secondary-ex {
  background-color: #fff;
}
.bg-secondary-ex2 {
  background-color: #ebebeb;
}

.bg-variant1 {
  background-color: #d681d8;
}
.bg-variant1-ex {
  background-color: #eda3ef;
}
.bg-variant1-ex2 {
  background-color: #d1bdd1;
}

.bg-variant2 {
  background-color: #25b47e;
}
.bg-variant2-ex {
  background-color: #7de1bb;
}
.bg-variant2-ex2 {
  background-color: #98b6ab;
}

.bg-variant3 {
  background-color: #fdd85f;
}
.bg-variant3-ex {
  background-color: #ffe89e;
}
.bg-variant3-ex2 {
  background-color: #dcd7c9;
}

.bg-warn {
  background-color: #f1946a;
}
.bg-warn-ex {
  background-color: #e7a283;
}
.bg-warn-ex2 {
  background-color: #e5cec3;
}

.bg-danger {
  background-color: #e03953;
}
.bg-danger-ex {
  background-color: #f56c81;
}
.bg-danger-ex2 {
  background-color: #b59ba7;
}

.bg-light {
  background-color: #fff;
}
.bg-light-ex {
  background-color: #fff;
}
.bg-light-ex2 {
  background-color: #ebebeb;
}

.bg-dark {
  background-color: #000;
}
.bg-dark-ex {
  background-color: #4c4c4c;
}
.bg-dark-ex2 {
  background-color: #b7b7b7;
}
